<nav class="publisher-submenu">
    <h2 class="govuk-heading-m govuk-!-margin-0">Apply for a Roller Disco Licence</h2>
    <ul class="publisher-submenu__links govuk-list govuk-!-margin-0" >
        <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/publisher/form-summary">Overview</a>
        </li>
        <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/form-designer/form-index">Editor</a>
        </li>
        <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/publisher/review">Review</a>
        </li>
        <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/publisher/enter-email">Publish</a>
        </li>
        <li>
            <a class="govuk-link govuk-link--no-visited-state" href="#">Analytics</a>
        </li>
    </ul>
</nav>