{% extends "layout-govuk-forms.html" %}

{% block beforeContent %}
<a class="govuk-back-link" href="editmembers">Back to members of this group</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <span class="govuk-caption-l">{{ data['groupName'] or 'Your test forms' }}</span>
    <h1 class="govuk-heading-l">
      Add an editor to this group
    </h1>

    <p class="govuk-body">
      You can add someone to create and edit forms in this group. They must:
    </p>
    <ul class="govuk-list  govuk-list--bullet">
      <li>be from the same organisation as you</li>
      <li>already have a GOV.UK Forms account</li>
    </ul>

    <p class="govuk-body">
      You must use their government email address.
    </p>

    <form class="form" method="post" action="editmembers3" novalidate>
      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="addEmail">
            Enter the email address of the person you want to add
          </label>
        </h2>
        <input class="govuk-input" id="addEmail" name="emailToAdd" type="text">
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Add this person
      </button>
    </form>



  </div>
</div>
{% endblock content %}