{% extends "layout.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Your upgrade request has been sent
      </h1>
    </div>
    
    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">
      Your request has been sent to your organisation’s GOV.UK Forms admins. They will contact you to discuss your
      request.
    </p>
    <p class="govuk-body">
      We’ll also send you an email when your request is accepted or rejected.
    </p>
    <p class="govuk-body">
      <a href="grouplanding2.html" class="govuk-link">Go back to your group</a>
    </p>
    
  </div>
</div>
{% endblock content %}