{% extends "layout-govuk-forms.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="grouplanding">Back to {{ data['groupName'] or 'your test forms' }}</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set html %}
      <h3 class="govuk-notification-banner__heading">
        {{ data['emailToAdd'] or 'tom.read@digital.cabinet-office.gov.uk' }} has been added to this group and we’ve sent them an email to let them know
      </h3>
    {% endset %}

    {{ govukNotificationBanner({
      html: html,
      type: "success"
    }) }}

    <span class="govuk-caption-xl">{{ data['groupName'] or 'Your test forms' }}</span>
    <h1 class="govuk-heading-xl">Members of this group</h1>
  </div>

  <div class="govuk-grid-column-full">
    <table class="govuk-table govuk-table--small-text-until-tablet">
      <thead class="govuk-table__head">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Email</th>
          <th scope="col" class="govuk-table__header">Role</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Hazal Arpalikli</td>
          <td class="govuk-table__cell">hazal.arpalikli@digital.cabinet-office.gov.uk </td>
          <td class="govuk-table__cell">Group admin</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Hannah Cooper </td>
          <td class="govuk-table__cell">hannah.cooper@digital.cabinet-office.gov.uk </td>
          <td class="govuk-table__cell">Group admin</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Tom Illes</td>
          <td class="govuk-table__cell">tom.illes@digital.cabinet-office.gov.uk </td>
          <td class="govuk-table__cell">Editor</td>
          <td class="govuk-table__cell">
            {{ govukButton({
              text: "Remove",
              classes: "govuk-button--secondary" ,
              href: "editmembers2"
            }) }}
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> Oliver</td>
          <td class="govuk-table__cell"> {{ data['emailToAdd'] or 'tom.read@digital.cabinet-office.gov.uk' }} </td>
          <td class="govuk-table__cell">Editor</td>
          <td class="govuk-table__cell">
            {{ govukButton({
              text: "Remove",
              classes: "govuk-button--secondary" ,
              href: "editmembers4"
            }) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="govuk-grid-column-two-thirds">

    {{ govukButton({
      text: "Add an editor",
      href: "addauser"
    }) }}

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What can ‘editors’ and ‘group admins’ do?
        </span>
      </summary>
      <div class="govuk-details__text">
        An editor can edit forms in a group but cannot make forms live.
      </div>
      <div class="govuk-details__text">
        An editor can edit forms in a group but cannot make forms live.
      </div>
      <div class="govuk-details__text">
        Only an organisation admin can add a group admin to a group.
      </div>
    </details>

  </div>
</div>
{% endblock content %}