{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <span class="govuk-caption-l">Group name</span>
      <h1 class="govuk-heading-l">
        Request to upgrade this trial group
      </h1>

      <p>
        If you need to be able to make forms live, you can send a request for this group to be upgraded to an ‘active’ group. 
      <p>
      
      <p>
        Your request will be sent to your organisation’s GOV.UK Forms admins.
      </p>

      <div class="govuk-inset-text">
        Some organisations are restricting who can make forms live in their organisation. Send a request to upgrade to find out if this will affect you.
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Send request to upgrade
      </button>
      

    </div>
  </div>

{% endblock %}
