<span class="govuk-caption-l">{{ data.formTitle or '[formTitle]' }}</span>
<h1 class="govuk-heading-l govuk-!-margin-bottom-2">{{pageTitle}}</h1>

<dl class="govuk-!-margin-bottom-7">
    <dt class="govuk-visually-hidden">Status</dt>
    <dd class="govuk-!-margin-0">
        {{ govukTag({
            text: data['status'],
            classes: "govuk-tag--yellow"
        }) }}
    </dd>
</dl>

{% if data.pages.length %}
<p class="govuk-body">
    <a class="govuk-link" href="/form-designer/preview/0" rel="noopener noreferrer">
        Preview this form
    </a>
</p>
{% endif %}

<p class="govuk-body govuk-!-margin-bottom-7">
    You have completed {{sections}} of 9 tasks.
</p>

<h2 class="app-task-list__section">
    Create your form
</h2>

{# SET STATUS OF THE FORM TITLE #}
{% if data['formTitle'] %}
    {% set formNameStatusText = 'Completed' %}
{% else %}
    {% set formNameStatusTag = 'govuk-tag--blue' %}
    {% set formNameStatusText = 'Not yet started' %}
{% endif %}
{% set htmlFormTitle %}
    {% if data['formTitle'] %}
        {{ formNameStatusText }}
    {% else %}
        <strong class="govuk-tag {{ formNameStatusTag }}">
            {{ formNameStatusText }}
        </strong>
    {% endif %}
{% endset %}

{# SET STATUS OF ADDED QUESTIONS #}
{% if data.isQuestionsComplete === 'yes' %}
    {% set questionStatusText = 'Completed' %}
{% elif data.pages.length %}
    {% set questionStatusTag = 'govuk-tag--light-blue' %}
    {% set questionStatusText = 'In progress' %}
{% else %}
    {% set questionStatusTag = 'govuk-tag--blue' %}
    {% set questionStatusText = 'Not yet started' %}
{% endif %}
{% set htmlAddedQuestions %}
    {% if data.isQuestionsComplete === 'yes' %}
        {{ questionStatusText }}
    {% else %}
        <strong class="govuk-tag {{ questionStatusTag }}">
            {{ questionStatusText }}
        </strong>
    {% endif %}
{% endset %}

{# SET STATUS OF DECLARATION #}
{% if data.isDeclarationComplete === 'yes' %}
    {% set declarationStatusText = 'Completed' %}
{% elif data.isDeclarationComplete === 'no' and data.checkAnswersDeclaration != '' %}
    {% set declarationStatusTag = 'govuk-tag--light-blue' %}
    {% set declarationStatusText = 'In progress' %}
{% else %}
    {% set declarationStatusTag = 'govuk-tag--blue' %}
    {% set declarationStatusText = 'Not yet started' %}
{% endif%}
{% set htmlDeclaration %}
    {% if data.isDeclarationComplete === 'yes' %}
        {{ declarationStatusText }}
    {% else %}
        <strong class="govuk-tag {{ declarationStatusTag }}">
            {{ declarationStatusText }}
        </strong>
    {% endif %}
{% endset %}

{# SET STATUS OF WHAT HAPPENS NEXT #}
{% if data.confirmationNext %}
    {% set whatHappensNextStatusText = 'Completed' %}
{% else %}
    {% set whatHappensNextStatusTag = 'govuk-tag--blue' %}
    {% set whatHappensNextStatusText = 'Not yet started' %}
{% endif%}
{% set htmlWhatHappensNext %}
    {% if data.confirmationNext %}
        {{ whatHappensNextStatusText }}
    {% else %}
        <strong class="govuk-tag {{ whatHappensNextStatusTag }}">
            {{ whatHappensNextStatusText }}
        </strong>
    {% endif %}
{% endset %}

{{ govukTaskList({
    idPrefix: "create-your-form",
    items: [
        {
            title: {
                text: "Edit the name of your form"
            },
            href: "name-your-form?change=formName",
            status: {
                html: htmlFormTitle
            }
        },
        {
            title: {
                text: "Add and edit your questions"
            },
            href: "/form-designer/clear-empty",
            status: {
                html: htmlAddedQuestions
            }
        },
        {
            title: {
                text: "Add a declaration for people to agree to"
            },
            href: "pages/check-answers/edit",
            status: {
                html: htmlDeclaration
            }
        },
        {
            title: {
                text: "Add information about what happens next"
            },
            href: "pages/confirmation/edit",
            status: {
                html: htmlWhatHappensNext
            }
        }
    ]
}) }}

{# SET STATUS OF PAYMENT LINK #}
{% if data.paymentLink %}
    {% set paymentLinkStatusText = 'Completed' %}
{% else %}
    {% set paymentLinkStatusTag = 'govuk-task-list__status--cannot-start-yet' %}
    {% set paymentLinkStatusText = 'Optional' %}
{% endif%}

<h3 class="govuk-heading-s">Optional tasks</h3>
{{ govukTaskList({
    idPrefix: "payment-link",
    items: [
        {
            title: {
                text: "Add a link to a payment page on GOV.UK Pay"
            },
            href: "payment/add-payment-link",
            status: {
                text: paymentLinkStatusText,
                classes: paymentLinkStatusTag if not data.paymentLink
            }
        }
    ]
}) }}


{# SET STATUS OF SUBMISSION EMAIL #}
{# Show a different link and status based on email and confirmation code presence #}
{% if not ( data['formsEmail'] ) %}
    {% set emailLinkURL = 'completed-forms-email/set-completed-forms-email' %}
    {% set emailLinkText = 'Set the email address completed forms will be sent to' %}
{% else %}
    {% set emailLinkURL = 'completed-forms-email/completed-forms-email' %}
    {% set emailLinkText = 'Edit the email address completed forms will be sent to' %}
{% endif %}
{% if not (data.formsEmail) %}
    {% set submissionEmailStatusTag = 'govuk-tag--blue' %}
    {% set submissionEmailStatusText = 'Not yet started' %}
{% elif (data.formsEmail and (not data.confirmationCode)) or data.currentFormsEmail %}
    {% set submissionEmailStatusTag = 'govuk-tag--light-blue' %}
    {% set submissionEmailStatusText = 'In progress' %}
{% else %}
    {% set submissionEmailStatusText = 'Completed' %}
{% endif%}
{% if data.currentFormsEmail or (data.formsEmail and data.confirmationCode) %}
    {% set submissionEmailStatusHint %}
        Completed forms will be sent to: <br>
        {{ data.currentFormsEmail or data.formsEmail }}
    {% endset %}
{% endif %}

{% set htmlSubmissionEmail %}
    {% if data.formsEmail and data.confirmationCode and (not data.currentFormsEmail) %}
        {{ submissionEmailStatusText }}
    {% else %}
        <strong class="govuk-tag {{ submissionEmailStatusTag }}">
            {{ submissionEmailStatusText }}
        </strong>
    {% endif %}
{% endset %}


{# SET STATUS OF SUBMISSION CONFIRMATION CODE #}
{# Refactor this logic outside of class attribute #}
{% if not data.formsEmail %}
    {% set confirmationCodeStatusTag = 'govuk-task-list__status--cannot-start-yet' %}
    {% set confirmationCodeStatusText = 'Cannot start yet' %}
    {% set confirmationCodeStatusHint = '' %}
{% elif data.formsEmail and not data.confirmationCode %}
    {% set confirmationCodeStatusTag = 'govuk-tag--blue' %}
    {% set confirmationCodeStatusText = 'Not yet started' %}
{% else %}
    {% set confirmationCodeStatusText = 'Completed' %}
{% endif%}
{% set htmlSubmissionConfirmation %}
    {% if (data.formsEmail and data.confirmationCode) or (not (data.formsEmail)) %}
        {{ confirmationCodeStatusText }}
    {% else %}
        <strong class="govuk-tag {{ confirmationCodeStatusTag }}">
            {{ confirmationCodeStatusText }}
        </strong>
    {% endif %}
{% endset %}

<h2 class="app-task-list__section">
    Set email address for completed forms
</h2>
{{ govukTaskList({
    idPrefix: "processing-email",
    items: [
        {
            title: {
                text: emailLinkText
            },
            hint: {
                html: submissionEmailStatusHint
            } if submissionEmailStatusHint,
            href: emailLinkURL,
            status: {
                html: htmlSubmissionEmail
            }
        },
        {
            title: {
                text: "Enter the email address confirmation code"
            },
            hint: {
                text: confirmationCodeStatusHint
            } if confirmationCodeStatusHint and confirmationCodeStatusHint != '',
            href: "completed-forms-email/enter-email-confirmation-code" if data.formsEmail and not data.confirmationCode,
            status: {
                html: htmlSubmissionConfirmation,
                classes: confirmationCodeStatusTag if (data.formsEmail and data.confirmationCode) or (not (data.formsEmail))
            }
        }
    ]
}) }}


{# SET STATUS OF PRIVACY INFORMATION #}
{# Refactor this logic outside of class attribute #}
{% if data.privacyInformation %}
    {% set privacyInformationStatusText = 'Completed' %}
{% else %}
    {% set privacyInformationStatusTag = 'govuk-tag--blue' %}
    {% set privacyInformationStatusText = 'Not yet started' %}
{% endif%}
{% set htmlPrivacyInformation %}
    {% if data.privacyInformation %}
        {{ privacyInformationStatusText }}
    {% else %}
        <strong class="govuk-tag {{ privacyInformationStatusTag }}">
            {{ privacyInformationStatusText }}
        </strong>
    {% endif %}
{% endset %}

{# SET STATUS OF SUPPORT DETAILS #}
{# Refactor this logic outside of class attribute #}
{% if data.supportDetails %}
    {% set supportDetailsStatusText = 'Completed' %}
{% else %}
    {% set supportDetailsStatusTag = 'govuk-tag--blue' %}
    {% set supportDetailsStatusText = 'Not yet started' %}
{% endif%}
{% set htmlSupportDetails %}
    {% if data.supportDetails %}
        {{ supportDetailsStatusText }}
    {% else %}
        <strong class="govuk-tag {{ supportDetailsStatusTag }}">
            {{ supportDetailsStatusText }}
        </strong>
    {% endif %}
{% endset %}

<h2 class="app-task-list__section">
    Provide privacy and contact details
</h2>
{{ govukTaskList({
    idPrefix: "processing-email",
    items: [
        {
            title: {
                text: "Provide a link to privacy information for this form"
            },
            href: "provide-link-to-privacy-information",
            status: {
                html: htmlPrivacyInformation
            }
        },
        {
            title: {
                text: "Provide contact details for support"
            },
            href: "provide-support-details",
            status: {
                html: htmlSupportDetails
            }
        }
    ]
}) }}

{# SET STATUS OF LIVE FORM #}
{# Refactor this logic outside of class attribute #}
{% if data.status == 'Live' %}
    {% set formVersionStatusText = 'Completed' %}
{% elif sections >= 6 %}
    {% set formVersionStatusTag = 'govuk-tag--blue' %}
    {% set formVersionStatusText = 'Not yet started' %}
{% else %}
    {% set formVersionStatusTag = 'govuk-task-list__status--cannot-start-yet' %}
    {% set formVersionStatusText = 'Cannot start yet' %}
    {% set formVersionStatusHint = '' %}
{% endif%}
{% set htmlFormVersion %}
    {% if (data.status == 'Live') or (sections < 6) %}
        {{ formVersionStatusText }}
    {% else %}
        <strong class="govuk-tag {{ formVersionStatusTag }}">
            {{ formVersionStatusText }}
        </strong>
    {% endif %}
{% endset %}

<h2 class="app-task-list__section">
    Make your form live
</h2>
{% if data['journey'] and data['journey'] == 'groupAdminTasks' %}

<p class="govuk-body">
    You cannot make this form live because it’s in a ‘trial’ group. 
</p>
<p class="govuk-body">
    <a href="../../product-pages/group-admin/request-to-upgrade">Find out how to upgrade the group</a> so you can make forms live.
</p>

{% elif data['journey'] and data['journey'] == 'orgAdminTasks' %}

<p class="govuk-body">
    You cannot make this form live because it’s in a ‘trial’ group.
</p>
<p class="govuk-body">
    <a href="../../product-pages/org-admin/upgrade">Find out how to upgrade the group</a> so you can make forms live.
</p>

{% else %}
{{ govukTaskList({
    idPrefix: "processing-email",
    items: [
        {
            title: {
                text: "Make your form live"
            },
            hint: {
                text: formVersionStatusHint
            } if sections < 6,
            href: "make-your-form-live" if sections >= 6,
            status: {
                html: htmlFormVersion,
                classes: formVersionStatusTag if (data.status == 'Live') or (sections < 6)
            }
        }
    ]
}) }}
{% endif %}


<form id="form" class="form" action="/form-designer/delete-draft" method="post" novalidate>
    {{ govukButton({
        text: "Delete draft form",
        classes: "govuk-button--warning govuk-!-margin-top-5",
        name: "action",
        value: "deleteDraft"
    }) }}
</form>