{% macro comment(name, value = '', date = '16 August 2021') %}
    <div class="moj-message-item moj-message-item--received">
        <div class="moj-message-item__text moj-message-item__text--received">
            <p>{{value}}</p>
        </div>
        <div class="moj-message-item__meta">
            <span class="moj-message-item__meta--sender">{{name}}</span> on <time class="moj-message-item__meta--timestamp" datetime="10:51am">{{date}}</time>
        </div>
    </div>
{% endmacro %}

{% macro reply(name, value = '', date = '16 August 2021') %}
    <div class="moj-message-item moj-message-item--sent">
        <div class="moj-message-item__text moj-message-item__text--sent">
            <p>{{value}}</p>
        </div>
        <div class="moj-message-item__meta">
            <span class="moj-message-item__meta--sender">{{name}}</span> on <time class="moj-message-item__meta--timestamp" datetime="10:51am">{{date}}</time>
        </div>
    </div>
{% endmacro %}