// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: "/govuk/assets/";

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Project partials
@import "patterns/moj-messages";
@import "patterns/govuk-publishing-document-list";

/*  Remove sticky pane
    Allow content to be left aligned
.preview-pane-wrapper {
  position: sticky;
  top: 110px;
  text-align: center;
}
*/

.preview-pane {
  overflow: hidden;
  height: 570px;
  width: calc(100% - 4px);
  border: 2px solid black;
  border-top: none;
  margin-bottom: govuk-spacing(2);
}

.update-button,
.update-button:hover {
  color: $govuk-link-colour;
  text-decoration: underline;
  @extend %govuk-link;
  background: none;
  box-shadow: none;
}

.update-button:hover {
  text-decoration-thickness: 2px;
  color: $govuk-link-hover-colour;
}

// Header of the preview pane
.preview-header {
  height: 35px;
  background-color: govuk-colour("black");

  background-image: url(/public/images/mini-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: -15px;
  border: 2px solid black;
  border-bottom: 5px solid $govuk-brand-colour;

  p {
    color: govuk-colour("white");
    padding: 6px govuk-spacing(3);
    margin-bottom: 0;
    float: right;
    a {
      color: govuk-colour("white");
      font-size: 14px;
    }
  }
}

// Prose scope (stolen from the kit docs)

.app-prose-scope {
  h1 {
    @extend %govuk-heading-l;
  }

  h2 {
    @extend %govuk-heading-m;
  }

  h3 {
    @extend %govuk-heading-s;
  }

  h4 {
    @extend %govuk-heading-s;
  }

  p {
    @extend %govuk-body-m;
  }

  strong,
  b {
    @include govuk-typography-weight-bold;
  }

  ul,
  ol {
    @extend %govuk-list;
  }

  ol {
    @extend %govuk-list--number;
  }

  ul {
    @extend %govuk-list--bullet;
  }

  a {
    @extend %govuk-link;
  }

  hr {
    @extend %govuk-section-break;
    @extend %govuk-section-break--visible;
    @extend %govuk-section-break--l;
  }

  p code,
  li code {
    color: #d13118;
    background-color: govuk-colour("light-grey", $legacy: "grey-4");
    padding: 0 govuk-spacing(1);
  }

  // TODO: Blockquotes are likely the most semantic element to be using, update to use the inset component directly.
  blockquote {
    margin-left: 0;
    @extend .govuk-inset-text;
  }
}

.app-prose-scope ul + h2,
.app-prose-scope ul + h3,
.app-prose-scope ul + h4,
.app-prose-scope pre + h2,
.app-prose-scope pre + h3,
.app-prose-scope pre + h4 {
  @include govuk-responsive-margin(4, "top");
}

.form-action-group {
  justify-content: flex-end;
}

.comment {
  border-bottom: 1px solid $govuk-border-colour;

  &:last-of-type {
    border-bottom: 0;
  }
}

.publisher-submenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  position: relative;
  top: -10px;
  background: #f3f2f1;
  padding: 1em;
}

.publisher-submenu__links {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.new-tab-link {
  display: inline-block;
  line-height: 1;
  font-size: 1.1875rem;
  font-weight: 400;
}

.main--draft {
  background-image: url(/public/images/draft-watermark.png);
  background-repeat: repeat-y;
  background-position: 50% 0;
  background-size: contain;
}
