//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

// Project partials
@import "patterns/moj-messages";
@import "patterns/govuk-publishing-document-list";

// Fix the weird alignment issue with the header navigation (this helps align with product pages)
.govuk-header__navigation {
  padding: 0;
}

/* PREVIEW QUESTION - EDIT JOURNEY
================================== */
.app-preview-pane-wrapper {
  overflow: hidden;
  width: calc(100% - 4px);
  border: 2px solid black;
  border-top: none;
  margin-bottom: govuk-spacing(2);
}

.app-preview-pane {
  padding: 30px 15px;
}
@media (min-width: 40.0625em) {
  .app-preview-pane {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 640px) {
  .app-preview-pane {
    padding-left: 0;
    padding-right: 0;
  }
}

.app-preview-header-container {
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 40.0625em) {
  .app-preview-header-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 640px) {
  .app-preview-header-container {
    padding-left: 0;
    padding-right: 0;
  }
}

// Prose scope (stolen from the kit docs)
.app-prose-scope {
  h1 {
    @extend %govuk-heading-l;
  }

  h2 {
    @extend %govuk-heading-m;
  }

  h3 {
    @extend %govuk-heading-s;
  }

  h4 {
    @extend %govuk-heading-s;
  }

  p {
    @extend %govuk-body-m;
  }

  strong,
  b {
    @include govuk-typography-weight-bold;
  }

  ul,
  ol {
    @extend %govuk-list;
  }

  ol {
    @extend %govuk-list--number;
  }

  ul {
    @extend %govuk-list--bullet;
  }

  a {
    @extend %govuk-link;
  }

  hr {
    @extend %govuk-section-break;
    @extend %govuk-section-break--visible;
    @extend %govuk-section-break--l;
  }

  p code,
  li code {
    color: #d13118;
    background-color: govuk-colour("light-grey", $legacy: "grey-4");
    padding: 0 govuk-spacing(1);
  }


  // TODO: Blockquotes are likely the most semantic element to be using, update to use the inset component directly.
  blockquote {
    margin-left: 0;
    @extend .govuk-inset-text;
  }
}

.app-prose-scope ul + h2,
.app-prose-scope ul + h3,
.app-prose-scope ul + h4,
.app-prose-scope pre + h2,
.app-prose-scope pre + h3,
.app-prose-scope pre + h4 {
  @include govuk-responsive-margin(4, "top");
}

.comment {
  border-bottom: 1px solid $govuk-border-colour;

  &:last-of-type {
    border-bottom: 0;
  }
}

.publisher-submenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  position: relative;
  top: -10px;
  background: #f3f2f1;
  padding: 1em;
}

.publisher-submenu__links {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.new-tab-link {
  display: inline-block;
  line-height: 1;
  font-size: 1.1875rem;
  font-weight: 400;
}

.main--draft {
  background-image: url(/public/images/draft-watermark.png);
  background-repeat: repeat-y;
  background-position: 50% 0;
  background-size: contain;
}


// Summary list overwrites
.app-summary-list__key {
  width: 20%;
}

.app-page-list__button-group {
  justify-content: end;
  align-items: normal;
}


// Copy URL styling
// Tooltip
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* ========
Summary card 
========= */
.app-summary-card .govuk-summary-list {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: GDS Transport,arial,sans-serif;
  font-size: 14px;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.1428571429;
  margin-bottom: -10px
}

@media print {
  .app-summary-card .govuk-summary-list {
      font-family: sans-serif
  }
}

@media (min-width: 40.0625em) {
  .app-summary-card .govuk-summary-list {
      font-size:16px;
      font-size: 1rem;
      line-height: 1.25
  }
}

@media print {
  .app-summary-card .govuk-summary-list {
      font-size: 14pt;
      line-height: 1.2
  }
}

.app-summary-card .govuk-summary-list .govuk-list {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: GDS Transport,arial,sans-serif;
  font-size: 14px;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.1428571429;
  margin-bottom: -10px
}

@media print {
  .app-summary-card .govuk-summary-list .govuk-list {
      font-family: sans-serif
  }
}

@media (min-width: 40.0625em) {
  .app-summary-card .govuk-summary-list .govuk-list {
      font-size:16px;
      font-size: 1rem;
      line-height: 1.25
  }
}

@media print {
  .app-summary-card .govuk-summary-list .govuk-list {
      font-size: 14pt;
      line-height: 1.2
  }
}

.app-summary-card .govuk-summary-list__row:last-child,.app-summary-card .govuk-summary-list__row:last-child>* {
  border-bottom: 0
}

// Payment Link confirmation panel
.app-panel-blue {
  background-color: #1d70b8;
}