{% extends "layout.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="#" class="govuk-back-link">Back to your forms</a>

    <h1 class="govuk-heading-xl">Create a new group for forms</h1>

    <p class="govuk-body">
      Each form needs to be created in a ‘group’. Once you have a group, you can add other people
      to create and edit forms in it.
    </p>

    <div class="govuk-inset-text">
      When a group is first created it will be a ‘trial’ group. That means you cannot make any forms in the group live.
      You’ll be able to request for a group to be upgraded to an ‘active’ group if you need to make forms live.
    </div>

    <p class="govuk-body">
      Give your group a meaningful name that will reflect the forms you’ll create in the group, and
      make sense to the people that will be added to it. For example: 
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Licensing forms</li>
      <li>GOV.UK content team</li>
      <li>Juggling service forms</li>
    </ul>

    <p class="govuk-body">You can change the name later if you need to.</p>

    <form class="form" method="post" action="grouplanding" novalidate>
      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="event-name">
            Enter a name for your new group
          </label>
        </h2>
        <input class="govuk-input" id="group-name" name="groupName" type="text">
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>

  </div>
</div>
{% endblock content %}