{% extends "layout.html" %}

{% set pageTitle = 'Product pages prototypes' %}

{% block pageTitle %}
{{ pageTitle }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">{{ serviceName }}</span>
    <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

    <p class="govuk-body-l">The product page prototypes.</p>

    <p></p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

    <h2 class="govuk-heading-m">Basic prototype</h2>

    <p class="govuk-body">
      <b>
        <a href="basic/">View the page</a>
      </b>
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

    <h2 class="govuk-heading-m">Signup prototype</h2>

    <p class="govuk-body">
      <b>
        <a href="signup/">View the page</a>
      </b>
    </p>

    <p class="govuk-body">
      A copy of the product pages with a signup page and journey added.
    </p>

    <p></p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

    <h2 class="govuk-heading-m">Early access</h2>

    <p class="govuk-body">
      <b>
        <a href="earlyaccess/index.html">View the page</a>
      </b>
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

    <h2 class="govuk-heading-m">MOU</h2>

    <p class="govuk-body">
      <b>
        <a href="mou/index.html">View the page</a>
      </b>
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />


    <h2 class="govuk-heading-m">Group Admin</h2>

    <p class="govuk-body">
      <b>
        <a href="Group-admin/group.html">View the page</a>
      </b>
    </p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
    <h2 class="govuk-heading-m">Organisation Admin</h2>

    <p class="govuk-body">
      <b>
        <a href="Org-admin/index.html">View the page</a>
      </b>
    </p>

  </div>
</div>

{% endblock %}