{% extends "layout-govuk-forms.html" %}

{% block pageTitle %}
  Edit question
{% endblock %}

{% block content %}

<form id="form" class="form" action="../edit-page/{{ pageId }}" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Page {{ pageId }}</span>

      {% set templateListHtml %}
      {{ govukRadios({
        idPrefix: "template-type",
        name: "template-type",
        classes: "govuk-radios--small",
        fieldset: {
          legend: {
            text: "Template:",
            classes: "govuk-visually-hidden"
          }
        },
        items: [
          {
            value: "Name",
            text: "Name",
            checked: checked("page-type", "Name")
          },
          {
            value: "Address",
            text: "Address",
            checked: checked("page-type", "Address")
          },
          {
            value: "Date of birth",
            text: "Date of birth",
            checked: checked("page-type", "Date of birth")
          },
          {
            value: "Email address",
            text: "Email address",
            checked: checked("page-type", "Email address")
          },
          {
            value: "Telephone number",
            text: "Telephone number",
            checked: checked("page-type", "Telephone Number")
          },
          {
            value: "Bank account details",
            text: "Bank account details",
            checked: checked("page-type", "Bank details")
          },
          {
            value: "National Insurance Number",
            text: "National Insurance Number",
            checked: checked("page-type", "National Insurance Number")
          },
          {
            value: "Information page",
            text: "Information page",
            checked: checked("page-type", "Information page")
          }
      ]
      }) }}

      {% endset -%}

      {{ govukRadios({
        idPrefix: "page-type",
        name: "type",
        fieldset: {
          legend: {
            text: "Create a new page",
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Choose an option"
        },
        items: [
          {
            value: "Custom",
            text: "Create a page from scratch",
            checked: true
          },
          {
            value: "Duplicate",
            text: "Duplicate a page from another form"
          },
          {
            value: "Template",
            text: "Choose a page from a list of templates",
            conditional: {
              html: templateListHtml
            }
          }
        ]
      }) }}

      <div class="govuk-button-group">
      {{ govukButton({
        text: "Create page",
        name: "action",
        value: "editPage"
      }) }}

      <p>
        or <a class="govuk-link govuk-link--no-visited-state" href="../form-index">go to page list</a>
      </p>
      </div>

    </div>

    <div class="govuk-grid-column-one-third" style="height: 700px;">
      <div class="preview-pane-wrapper">
        <div class="preview-header">
          <p class="preview-link govuk-body-s">
            <!-- <a href="#" target="_blank" onclick="document.getElementById('form').submit();">Refresh</a> &nbsp;|&nbsp;
            <a href="question-preview-2-new-tab" target="_blank">Open in a new tab</a>-->
          </p>
        </div>
        <iframe title="Page preview" data-module="app-example-frame" class="preview-pane app-example__frame app-example__frame--resizable" src="../page-preview-placeholder" frameborder="1" loading="lazy" id="iFrameResizer0" scrolling="no" ></iframe>
      </div>
    </div>

  </div>

</form>

{% endblock %}
