{% extends "layout.html" %}
{% set mainClasses = "main--draft govuk-main-wrapper--auto-spacing" %}

{% block pageTitle %}
  {{data['confirmationTitle']}} - Preview - GOV.UK
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">{{data['confirmationTitle']}} <span class="govuk-visually-hidden">preview</span></h1>
      <div class="govuk-panel__body">
        Your reference number is<br><strong>HDJ2123F</strong>
      </div>
    </div>

    {% if data['confirmationNext'] %}
    <h2 class="govuk-heading-m">What happens next</h2>

    <div class="app-prose-scope">
    {% markdown %}
      {{ data['confirmationNext'] }}
    {% endmarkdown %}
    </div>

    {% endif %}
  </div>
</div>
{% endblock %}
