{% extends "layout-govuk-forms.html" %}


{% set pageTitle -%}
{% if data['status'] === 'Live' %}Your form{% else %}Create a form{% endif %}
{%- endset %}

<!-- Do some checks to see how many sections are "Completed" -->
{% set sections = 0 %}
<!-- if form has a title sections completed =+ 1 -->
{% if data['formTitle'] %}{% set sections = sections + 1 %}{% endif %}
<!-- if questions added sections completed =+ 1 --> <!-- still needs implemented -->
{% if data['isQuestionsComplete'] === 'yes' %}{% set sections = sections + 1 %}{% endif %}
<!-- if summary page reviewed and confirmed sections completed =+ 1 -->
{% if data['isDeclarationComplete'] === 'yes' %}{% set sections = sections + 1 %}{% endif %}
<!-- if confirmation page reviewed and confirmed sections completed =+ 1 -->
{% if data['confirmationNext'] %}{% set sections = sections + 1 %}{% endif %}

<!-- if processing email address added sections completed =+ 1 -->
{% if data['formsEmail'] %}{% set sections = sections + 1 %}{% endif %}
<!-- if processing email verified sections completed =+ 1 -->
{% if data['confirmationCode'] and (data['confirmationCode'] !== '000000') %}{% set sections = sections + 1 %}{% endif %}

<!-- if privacy information link added sections completed =+ 1 -->
{% if data['privacyInformation']%}{% set sections = sections + 1 %}{% endif %}
<!-- if support contact details added sections completed =+ 1 -->
{% if data['supportDetails']%}{% set sections = sections + 1 %}{% endif %}


{% block pageTitle %}
  {{pageTitle}}: {{ data['formTitle'] }} - {{serviceName}}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="form-home">Back to your forms</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">{{ data['formTitle'] }}</span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">{{pageTitle}}</h1>
      {% if data['status'] %}
      {{govukTag({
        text: data['status'],
        classes: "govuk-!-margin-bottom-7 govuk-tag--purple" if data['status'] === 'Draft' else "govuk-!-margin-bottom-7 govuk-tag--turquoise"
      })}}
      {% endif %}

      <!-- Keep these for now. Could still be needed/of use -->
      {% set nextPageId = data['highestPageId'] | int + 1 %}
      {% set totalPageNum = data['highestPageId'] | int + 2 %}

      {% if data.status === 'Live' %}
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Form is live</h2>

        <p class="govuk-body">The URL for your form is:</p>
        <p class="govuk-body">
          <strong id="formURL" value="https://forms.service.gov.uk/form/58/form-name">https://forms.service.gov.uk/form/58/form-name</strong>
        </p>
        <button class="govuk-button govuk-button--secondary" type="button" onclick="copyURL()">
          Copy URL to clipboard
        </button>

        <div class="govuk-inset-text">
          <p class="govuk-body">
            Any changes you make to the questions in your form will be updated in the live form immediately.
          </p>
          <p class="govuk-body">
            This could have an impact on people who are filling in the form at the same time. They may lose any answers they have already provided and may need to start again.
          </p>
        </div>
      {% else %}
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Form incomplete</h2>
        <p class="govuk-body govuk-!-margin-bottom-7">You have completed {{sections}} of 9 tasks.</p>
      {% endif %}

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> {% if data['status'] === 'Live' %}Edit your form{% else %}Create your form{% endif %}
          </h2>
          <ul class="app-task-list__items">
            {% if data['status'] === 'Draft' %}
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="form-create-a-form" aria-describedby="name-of-form-status">
                  Edit the name of your form
                </a>
              </span>
              <strong class="govuk-tag {% if not data['formTitle'] %}govuk-tag--grey{% endif %} app-task-list__tag" id="name-of-form-status">{% if data['formTitle'] %}Completed{% else %}Not started{% endif %}</strong>
            </li>
            {% endif %}
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="{% if data['status'] === 'Live' %}are-you-sure-you-want-to-edit-live-questions{% else %}form-index{% endif %}" aria-describedby="add-questions-status">
                  Add and edit your questions
                </a>
              </span>
              {% if data['status'] === 'Draft' %}
              <strong class="govuk-tag {% if data.isQuestionsComplete === 'yes' %}{% elif data.pages.length %}govuk-tag--blue{% else %}govuk-tag--grey{% endif %} app-task-list__tag" id="add-questions-status">{% if data.isQuestionsComplete === 'yes' %}Completed{% elif data.pages.length %}In progress{% else %}Not started{% endif %}</strong>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="edit-page/check-answers" aria-describedby="add-declaration-status">
                  Add a declaration for people to agree to
                </a>
              </span>
              {% if data['status'] === 'Draft' %}
              <strong class="govuk-tag {% if not data['isDeclarationComplete'] %}govuk-tag--grey{%elif data['isDeclarationComplete'] === 'no' %}govuk-tag--blue{%else %}{% endif %} app-task-list__tag" id="add-declaration-status">{% if not data['isDeclarationComplete'] %}Not started{% elif data['isDeclarationComplete'] === 'no'%}In progress{% else %}Completed{% endif %}</strong>{% endif %}
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="edit-page/confirmation" aria-describedby="add-what-happens-next-status">
                  Add information about what happens next
                </a>
              </span>
              {% if data['status'] === 'Draft' %}
              <strong class="govuk-tag {% if not data['confirmationNext'] %}govuk-tag--grey{% endif %} app-task-list__tag" id="add-what-happens-next-status">{% if not data['confirmationNext'] %}Not started{% else %}Completed{% endif %}</strong>{% endif %}
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Set email address for completed forms
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="completed-forms-email/set-completed-forms-email" aria-describedby="processing-email-status">
                  Set the email address completed forms will be sent to
                </a>
              </span>
              {% if data['status'] === 'Draft' %}
              <strong class="govuk-tag {% if not data.formsEmail %}govuk-tag--grey{% elif data.formsEmail and ((data.confirmationCode === '000000') or not data.confirmationCode) %}govuk-tag--blue{% endif %} app-task-list__tag" id="processing-email-status">{% if data.formsEmail and ((data.confirmationCode === '000000') or not data.confirmationCode) %}In progress{% elif data.formsEmail and data.confirmationCode !== '000000' %}Completed{% else %}Not started{% endif %}</strong>
              {% endif %}
              {% if data.oldFormsEmail or data.formsEmail %}
              <br>
              <span class="app-task-list__hint govuk-hint">
                Completed forms will be sent to: <br>
                {{data.oldFormsEmail or data.formsEmail}}
              </span>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                {% if data['formsEmail'] or data['status'] === 'Live' %}<a href="completed-forms-email/add-confirmation-code" aria-describedby="verified-email-status">{% endif %}
                  Enter the email address confirmation code
                {% if data['formsEmail'] or data['status'] === 'Live' %}</a>{% endif %}
              </span>
              {% if data['status'] === 'Draft' %}
              <strong class="govuk-tag {% if (not data['formsEmail']) or (not data['confirmationCode']) %}govuk-tag--grey{% elif data['confirmationCode'] === '000000' %}govuk-tag--blue{% endif %} app-task-list__tag" id="verified-email-status">{% if not data['formsEmail'] %}Cannot start yet{% elif not data['confirmationCode'] %}Not started{% elif data['confirmationCode'] === '000000' %}In progress{% else %}Completed{% endif %}</strong>
              {% endif %}
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Provide privacy and contact details
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="provide-link-to-privacy-information" aria-describedby="privacy-information-link-status">
                  Provide a link to privacy information for this form
                </a>
              </span>
              {% if data['status'] === 'Draft' %}
              <strong class="govuk-tag {% if not data['privacyInformation']%} govuk-tag--grey {%endif%} app-task-list__tag" id="privacy-information-link-status">{% if not data['privacyInformation']%}Not started{% else %} Completed {% endif %}</strong>{% endif %}
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="provide-support-details" aria-describedby="provide-support-details-link-status">
                  Provide contact details for support
                </a>
              </span>
              {% if data['status'] === 'Draft' %}
              <strong class="govuk-tag {% if not data['supportDetails']%} govuk-tag--grey {%endif%} app-task-list__tag" id="provide-support-details-link-status">{% if not data['supportDetails']%}Not started{% else %} Completed {% endif %}</strong>{% endif %}
            </li>
          </ul>
        </li>

        {% if data['status'] === 'Draft' %}
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Make your form live
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                {% if sections >= 6 -%}<a href="make-your-form-live" aria-describedby="form-live-status">{%- endif %}
                  Make your form live
                {% if sections >= 6 -%}</a>{%- endif %}
              </span>
              {% if data['status'] === 'Live' -%}
              <strong class="govuk-tag app-task-list__tag" id="form-live-status">Completed</strong>
              {%- elif sections >= 6 -%}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="form-live-status">Not started</strong>
              {%- else -%}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="form-live-status">Cannot start yet</strong>
              {%- endif %}
            </li>
          </ul>
        </li>{% endif %}

      </ol>

      {% if data.pages.length %}
      <p class="govuk-body govuk-!-margin-bottom-9">
        <a class="govuk-link" href="/form-designer/page-preview-new-tab/1" target="_blank" rel="noopener noreferrer">
          Preview this form in a new tab
        </a>
      </p>
      {% endif %}

      {% if data['status'] === 'Live' %}
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Publish your form on GOV.UK</h2>
      <p class="govuk-body">
        Contact your GOV.UK publishing team to publish a link to your form on GOV.UK so people can find it.
      </p>
      {% endif %}

      {% if data['formTitle'] %}
      <p class="govuk-body govuk-!-margin-top-9">
        {{ govukButton({
          text: "Delete form",
          classes: "govuk-button--warning"
        }) }}
      </p>
      {% endif %}

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
  function copyURL() {
    /* Create new range so we can select a node */
    var range = document.createRange();

    /* Select the contents within node id "formURL" */
    range.selectNodeContents(document.getElementById("formURL"));

    /* Copy the text from the node */
    navigator.clipboard.writeText(range);

  }
</script>
{% endblock %}
