{% extends "layout-govuk-forms.html" %}

{% set pageTitle -%}
  {% if pageData['long-title'] %}
    {{pageData['long-title']}}
  {% else %}
    Edit question
  {% endif %}
{%- endset %}

{% if pageData['type'] === 'text' %}
{% set answerType = 'Single line of text' %}
{% elif pageData['type'] === 'textarea' %}
{% set answerType = 'Multiple lines of text' %}
{% elif pageData['type'] === 'email' %}
{% set answerType = 'Email address' %}
{% elif pageData['type'] === 'national-insurance-number' %}
{% set answerType = 'National Insurance number' %}
{% elif pageData['type'] === 'phone' %}
{% set answerType = 'Phone number' %}
{% elif pageData['type'] === 'select' %}
{% set answerType = 'One or more selected options from a list' %}
{% elif pageData['type'] === 'yesorno' %}
{% set answerType = 'Yes or no' %}
{% else %}
{% set answerType = pageData['type']|capitalize %}
{% endif %}

{% block pageTitle %}
  {{pageTitle|safe}} - GOV.UK Forms
{% endblock %}

{% block beforeContent %}
  {% if data.referer and ('edit-answer-type' in data.referer) and (pageId === data.referer.split('/') | last) %}
    <a class="govuk-back-link" href="../edit-answer-type/{{pageId}}">
      Back
    </a>
  {% else %}
    <a class="govuk-back-link" href="../create-form" target="_parent">
      Back to create a form
    </a>
  {% endif %}
{% endblock %}

{% block content %}

  <form id="form" class="form" action="../edit-page/{{pageId}}" method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">Question {{pageId}}</span>
        <h1 class="govuk-heading-l">{{pageTitle|safe}}</h1>

        {% set namePrefix = "pages[" + pageIndex + "]" %}

        <!-- Long question text input -->
        {{ govukInput({
          label: {
            text: "Question text",
            classes: "govuk-label--m"
          },
          hint: {
            text: "Ask a question the way you would in person. For example ‘What is your address?’"
          },
          id: "long-title",
          name: namePrefix + "[long-title]",
          value: pageData['long-title']
        }) }}

        <!-- Hint text input -->
        {{ govukInput({
          label: {
            text: "Hint text (optional)",
            classes: "govuk-label--m"
          },
          hint: {
            text: "Use hint text to help people answer the question. For example, to explain the format the answer should be in, or where to find the information you’ve asked for."
          },
          id: "hint-text",
          name: namePrefix + "[hint-text]",
          value: pageData['hint-text']
        }) }}

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        {{ govukCheckboxes({
          idPrefix: "questionOptional",
          name: namePrefix + "[questionOptional]",
          fieldset: {
            legend: {
              text: "Question settings",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "questionOptional",
              text: "Make this question optional",
              hint: {
                text: "‘(optional)’ will be added to the end of the question text"
              },
              checked: checked(namePrefix + "['questionOptional']", "questionOptional")
            }
          ]
        }) }}

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Answer type
            </dt>
            <dd class="govuk-summary-list__value">
              {{answerType}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="/form-designer/edit-answer-type/{{pageIndex + 1}}">
                Change <span class="govuk-visually-hidden">answer type {{answerType}}<span>
              </a>
            </dd>
          </div>
        </dl>

        {% if pageData['type'] === 'select' %}
        <h2 class="govuk-heading-m">Edit your list of options</h2>
        {{ govukCheckboxes({
          idPrefix: "oneOption",
          name: namePrefix + "[oneOption]",
          fieldset: {
            legend: {
              text: "People can only select one option"
            }
          },
          items: [
            {
              value: "oneOption",
              text: "People can only select one option",
              checked: checked(namePrefix + "['oneOption']", "oneOption")
            }
          ]
        }) }}

        {% set optionArray = pageData['item-list'] or [{},{}] %}
        <ol class="govuk-list">
        {% for option in optionArray %}
          {% set optionRow -%}option{{loop.index0}}{%- endset %}
          <li>
            <label class="govuk-label" for="option-{{loop.index0}}">
              Option {{loop.index}}
            </label>
            <input class="govuk-input govuk-input--width-20" id="option-{{loop.index0}}" name="{{namePrefix}}[item-list]" type="text" value="{{pageData['item-list'][loop.index0]}}">
            {{ govukButton({
              html: 'Remove <span class="govuk-visually-hidden">option ' + loop.index + '</span>',
              name: "action",
              value: "removeOption-" + loop.index0,
              classes: "govuk-button--secondary govuk-!-margin-bottom-3"
            }) }}
          </li>
        {% endfor %}
        </ol>

        {{ govukButton({
          text: "Add another option",
          name: "action",
          value: "addAnother",
          classes: "govuk-button--secondary"
        }) }}
        {% endif %}

        <input type="hidden" id="type" name="{{namePrefix}}[type]'" value="{{pageData['type']}}">
        <input type="hidden" id="index" name="{{namePrefix}}[pageIndex]'" value="{{[pageIndex]}}">

        <div class="govuk-button-group">
          {% if pageId >= data['highestPageId'] %}

            {{ govukButton({
              text: "Save and add next question",
              name: "action",
              value: "createNextPage"
            }) }}

          {% else %}

            {{ govukButton({
              text: "Save and edit next question",
              name: "action",
              value: "editNextPage"
            }) }}

          {% endif %}

          {{ govukButton({
            text:  "Save question",
            name: "action",
            value: "update",
            classes: "govuk-button--secondary"
          }) }}
        </div>

        {% if editingExistingQuestion %}
          {{ govukButton({
            text: "Delete question",
            classes: "govuk-button--warning",
            name: "action",
            value: "deletePage"
          }) }}
        {% endif %}

        <p class="govuk-body">
          <a class="govuk-link govuk-link--no-visited-state" href="../form-index">Go to your questions</a>
        </p>

      </div>

    </div>

  </form>

{% endblock %}
