{% extends "layout-govuk-forms.html" %}

{% block pageTitle %}
  Edit question
{% endblock %}

{% block content %}

<form id="form" class="form" action="../edit-page/{{pageId}}" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set pagePrefix = "p" + pageId + "-" %}

      <span class="govuk-caption-l">Page {{pageId}}</span>
      <h1 class="govuk-heading-l">
        {% if data[pagePrefix + 'long-title'] %}
        {{data[pagePrefix + 'long-title']}}
        {% else %}
        Edit page
        {% endif %}
      </h1>

        {#

        Every field id is prefixed with a unique page id.
        So we can have separate configurations for every page.

        #}

        {% set radioCheckboxHtml %}

        {{ govukTextarea({
          label: {
            text: "Option list",
            classes: "govuk-label--s"
          },
          hint: {
            text: "Enter each item on a new line"
          },
          id: pagePrefix + "item-list",
          name: pagePrefix + "item-list",
          value: data[pagePrefix + 'item-list'],
          classes: "govuk-!-margin-bottom-1",
          formGroup: {
            classes: "govuk-!-margin-bottom-1"
          }
        }) }}

        {{ govukCheckboxes({
          idPrefix: pagePrefix + "radios",
          name: pagePrefix + "radios",
          classes: "govuk-checkboxes--small",
          items: [
            {
              value: "radios",
              text: "Only let people select one option",
              checked: checked(pagePrefix + "radios", "radios")
            }
          ]
        }) }}

        {% endset -%}

        {% set textareaHtml %}
        {{ govukSelect({
          id: pagePrefix + "char-limit",
          name: pagePrefix + "char-limit",
          label: {
            text: "Character limit",
            classes: "govuk-label--s"
          },
          items: [
            {
              value: "none",
              text: "None",
              selected: checked(pagePrefix + "char-limit", "")
            },
            {
              value: "100",
              text: "100",
              selected: checked(pagePrefix + "char-limit", "100")
            },
            {
              value: "250",
              text: "250",
              selected: checked(pagePrefix + "char-limit", "250")
            },
            {
              value: "500",
              text: "500",
              selected: checked(pagePrefix + "char-limit", "500")
            },
            {
              value: "750",
              text: "750",
              selected: checked(pagePrefix + "char-limit", "750")
            }
          ]
        }) }}
        {% endset -%}

        {% set textHtml %}
        {{ govukSelect({
          id: pagePrefix + "unit",
          name: pagePrefix + "unit",
          label: {
            text: "Unit",
            classes: "govuk-label--s"
          },
          items: [
            {
              value: "text",
              text: "Text",
              selected: checked(pagePrefix + "unit", "text")
            },
            {
              value: "pounds",
              text: "Currency (£)",
              selected: checked(pagePrefix + "unit", "pounds")
            },
            {
              value: "kg",
              text: "Weight (kg)",
              selected: checked(pagePrefix + "unit", "kg")
            },
            {
              value: "km",
              text: "Distance (km)",
              selected: checked(pagePrefix + "unit", "km")
            },
            {
              value: "m",
              text: "Length (m)",
              selected: checked(pagePrefix + "unit", "m")
            }
          ]
        }) }}
        {% endset -%}

        {{ govukInput({
          label: {
            text: "Question",
            classes: "govuk-label--m"
          },
          hint: {
            text: "Long version — for example, What is your name?"
          },
          formGroup: {
            classes: "govuk-!-margin-bottom-3"
          },
          id: pagePrefix + "long-title",
          name: pagePrefix + "long-title",
          value: data[pagePrefix + 'long-title']
        }) }}

        {{ govukInput({
          label: {
            text: "Short page title",
            classes: "govuk-visually-hidden"
          },
          hint: {
            text: "Short version — for example, Name"
          },
          id: pagePrefix + "short-title",
          name: pagePrefix + "short-title",
          value: data[pagePrefix + 'short-title']
        }) }}


        {{ govukRadios({
          idPrefix: pagePrefix + "type",
          name: pagePrefix + "type",
          classes: "govuk-radios--small",
          fieldset: {
            legend: {
              text: "Answer",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "What kind of response you want the person to give"
          },
          items: [
            {
              value: "text",
              text: "A single line",
              checked: checked(pagePrefix + "type", "text"),
              conditional: {
                html: textHtml
              }
            },
            {
              value: "textarea",
              text: "One or more paragraphs",
              checked: checked(pagePrefix + "type", "textarea"),
              conditional: {
                html: textareaHtml
              }
            },
            {
              value: "radio-checkbox",
              text: "Choosing from a list of options",
              checked: checked(pagePrefix + "type", "radio-checkbox"),
              conditional: {
                html: radioCheckboxHtml
              }
            },
            {
              value: "date",
              text: "A date",
              checked: checked(pagePrefix + "type", "date")
            }
          ]
        }) }}

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Add an introduction
            </span>
          </summary>
          <div class="govuk-details__text govuk-!-padding-bottom-0">
        {{ govukTextarea({
          name: pagePrefix + "intro-text",
          id: pagePrefix + "intro-text",
          value: data[pagePrefix + 'intro-text'],
          classes: "govuk-!-margin-bottom-3",
          label: {
            text: "Introduction",
            classes: "govuk-visually-hidden"
          },
          hint: {
            text: "Only add if it helps people understand the question"
          }
        }) }}
          </div>
        </details>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Add hint text
            </span>
          </summary>
          <div class="govuk-details__text govuk-!-padding-bottom-0">
            {{ govukInput({
              label: {
                text: "Hint",
                classes: "govuk-visually-hidden"
              },
              hint: {
                text: "A short hint to help people answer the question"
              },
              id: pagePrefix + "hint-text",
              name: pagePrefix + "hint-text",
              value: data[pagePrefix + 'hint-text']
            }) }}
          </div>
        </details>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Add help text
            </span>
          </summary>
          <div class="govuk-details__text govuk-!-padding-bottom-0">
        {{ govukTextarea({
          name: pagePrefix + "help-text",
          id: pagePrefix + "help-text",
          value: data[pagePrefix + 'help-text'],
          classes: "govuk-!-margin-bottom-1",
          label: {
            text: "Help",
            classes: "govuk-visually-hidden"
          },
          hint: {
            text: "More detailed help — only add this if people get stuck"
          }
        }) }}
          </div>
        </details>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <input type="hidden" id="currentPageId" name="currentPageId" value="{{pageId}}">

        <div class="govuk-button-group">
        {% if pageId >= data['highestPageId'] %}

        {{ govukButton({
          text: "Save and create next page",
          name: "action",
          value: "createNextPage"
        }) }}

        {% else %}

        {{ govukButton({
          text: "Edit next page",
          name: "action",
          value: "editNextPage"
        }) }}

        {% endif %}

        <p>
          or <a class="govuk-link govuk-link--no-visited-state" href="../form-index">go to page list</a>
        </p>
        </div>


    </div>

    <div class="govuk-grid-column-one-third" style="height: 1462px;">
      <div class="preview-pane-wrapper">
        <div class="preview-header">
          <p class="preview-link govuk-body-s">
            <!-- <a href="#" target="_blank" onclick="document.getElementById('form').submit();">Refresh</a> &nbsp;|&nbsp; -->
            <a href="../page-preview-new-tab/{{pageId}}" target="_blank">Open in a new tab</a>
          </p>
        </div>
        <iframe title="Page preview" data-module="app-example-frame" class="preview-pane app-example__frame app-example__frame--resizable" src="../page-preview/{{pageId}}" frameborder="1" loading="lazy" id="iFrameResizer0" scrolling="no" ></iframe>
        {{ govukButton({
          text: "Update preview",
          classes: "update-button",
          name: "action",
          value: "update"
        }) }}

      </div>
    </div>

  </div>

</form>

{% endblock %}
