{% extends "layout-govuk-forms.html" %}

{% block pageTitle %}
  Edit question
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      <h1 class="govuk-heading-l">Design a question page</h1>

      <form class="form" action="edit-question" method="post">


        {% set radioCheckboxHtml %}

        {{ govukTextarea({
          label: {
            text: "Option list",
            classes: "govuk-label--s"
          },
          hint: {
            text: "Enter each item on a new line"
          },
          id: "item-list",
          name: "item-list",
          classes: "govuk-!-margin-bottom-1",
          formGroup: {
            classes: "govuk-!-margin-bottom-1"
          }
        }) }}

        {{ govukCheckboxes({
          idPrefix: "radios",
          name: "radios",
          classes: "govuk-checkboxes--small",
          items: [
            {
              value: "radios",
              text: "Only let user select one option"
            }
          ]
        }) }}

        {% endset -%}

        {% set textareaHtml %}
        {{ govukSelect({
          id: "char-limit",
          name: "char-limit",
          label: {
            text: "Character limit",
            classes: "govuk-label--s"
          },
          items: [
            {
              value: "none",
              text: "None",
              selected: checked("char-limit", "")
            },
            {
              value: "100",
              text: "100",
              selected: checked("char-limit", "100")
            },
            {
              value: "250",
              text: "250",
              selected: checked("char-limit", "250")
            },
            {
              value: "500",
              text: "500",
              selected: checked("char-limit", "500")
            },
            {
              value: "750",
              text: "750",
              selected: checked("char-limit", "750")
            }
          ]
        }) }}
        {% endset -%}

        {% set textHtml %}
        {{ govukSelect({
          id: "unit",
          name: "unit",
          label: {
            text: "Unit",
            classes: "govuk-label--s"
          },
          items: [
            {
              value: "text",
              text: "Text",
              selected: checked("unit", "text")
            },
            {
              value: "pounds",
              text: "Currency (£)",
              selected: checked("unit", "pounds")
            },
            {
              value: "kg",
              text: "Weight (kg)",
              selected: checked("unit", "kg")
            },
            {
              value: "km",
              text: "Distance (km)",
              selected: checked("unit", "km")
            },
            {
              value: "m",
              text: "Length (m)",
              selected: checked("unit", "m")
            }
          ]
        }) }}
        {% endset -%}

        {{ govukInput({
          label: {
            text: "Title",
            classes: "govuk-label--m"
          },
          hint: {
            text: "Long version — for example, What is your name?"
          },
          formGroup: {
            classes: "govuk-!-margin-bottom-3"
          },
          id: "long-title",
          name: "long-title",
          value: data['long-title']
        }) }}

        {{ govukInput({
          label: {
            text: "Short page title",
            classes: "govuk-visually-hidden"
          },
          hint: {
            text: "Short version — for example, Name"
          },
          id: "short-title",
          name: "short-title",
          value: data['short-title']
        }) }}

        {{ govukTextarea({
          name: "intro-text",
          id: "intro-text",
          value: data['intro-text'],
          label: {
            text: "Introduction",
            classes: "govuk-label--m"
          },
          hint: {
            text: "Only add an introduction if people need extra information to help them understand the question."
          }
        }) }}

        {{ govukInput({
          label: {
            text: "Hint",
            classes: "govuk-label--m"
          },
          hint: {
            text: "An optional hint to help the user answer the question"
          },
          id: "hint-text",
          name: "hint-text",
          value: data['hint-text']
        }) }}

        {{ govukRadios({
          idPrefix: "type",
          name: "type",
          classes: "govuk-radios--small",
          fieldset: {
            legend: {
              text: "Response",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "What kind of response you want the user to give"
          },
          items: [
            {
              value: "text",
              text: "A single line",
              checked: checked("type", "text"),
              conditional: {
                html: textHtml
              }
            },
            {
              value: "textarea",
              text: "One or more paragraphs",
              checked: checked("type", "textarea"),
              conditional: {
                html: textareaHtml
              }
            },
            {
              value: "radio-checkbox",
              text: "Choosing from a list of options",
              checked: checked("type", "radio-checkbox"),
              conditional: {
                html: radioCheckboxHtml
              }
            },
            {
              value: "date",
              text: "A date or date range",
              checked: checked("type", "date")
            },
            {
              value: "file-upload",
              text: "Uploading files",
              checked: checked("type", "file-upload")
            }
          ]
        }) }}

        {{ govukTextarea({
          name: "help-text",
          id: "help-text",
          value: data['help-text'],
          label: {
            text: "Help",
            classes: "govuk-label--m"
          },
          hint: {
            text: "Only add help text if some people get stuck and need help to answer the question."
          }
        }) }}

        {{ govukButton({
          text: "Update preview"
        }) }}

      </form>

    </div>

    <div class="govuk-grid-column-one-half">
      <!--<h2 class="govuk-heading-m">Preview</h2>-->
      <iframe title="Character count example" data-module="app-example-frame" class="app-example__frame app-example__frame--resizable" src="question-preview" frameborder="1" loading="lazy" id="iFrameResizer0" scrolling="no" style="overflow: hidden; height: 1300px; width: 100%; border: 1px solid black"></iframe>
    </div>

  </div>

{% endblock %}
