{% extends "layout-govuk-forms.html" %}

{% set pageTitle -%}
  {% if pageData['long-title'] %}
    {{pageData['long-title']}}
  {% else %}
    Edit question
  {% endif %}
{%- endset %}

{% block pageTitle %}
  {{pageTitle|safe}} - GOV.UK Forms
{% endblock %}

{% block beforeContent %}
  {% set prevPageId = pageId | int - 1 %}
  {% if ('edit-page' in data.referer) and (pageId === data.referer.split('/') | last) %}
    <a class="govuk-back-link" href="../edit-page/{{pageId}}">Back</a>
  {% elif prevPageId > 0 %}
    <a class="govuk-back-link" href="../edit-page/{{prevPageId}}">Back</a>
  {% else %}
    <a class="govuk-back-link" href="../form-index" target="_parent">Back</a>
  {% endif %}
{% endblock %}

{% block content %}

  <form id="form" class="form" action="../edit-answer-type/{{pageId}}" method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">Question {{pageId}}</span>

        {% set namePrefix = "pages[" + pageIndex + "]" %}

        {%
          set radioItems = [
            {
              value: "text",
              text: "Single line of text",
              checked: checked(namePrefix + "['type']", "text"),
              hint: {
                text: "For a short answer"
              }
            },
            {
              value: "textarea",
              text: "Multiple lines of text",
              checked: checked(namePrefix + "['type']", "textarea"),
              hint: {
                text: "For a longer answer"
              }
            },
            {
              value: "number",
              text: "Number",
              checked: checked(namePrefix + "['type']", "number"),
              hint: {
                text: "Requires a numerical answer"
              }
            },
            {
              value: "address",
              text: "Address",
              checked: checked(namePrefix + "['type']", "address"),
              hint: {
                text: "To collect an address with separate fields for line 1, line 2, town or city, county and postcode"
              }
            },
            {
              value: "date",
              text: "Date",
              checked: checked(namePrefix + "['type']", "date"),
              hint: {
                text: "Requires a day, month and year"
              }
            },
            {
              value: "email",
              text: "Email address",
              checked: checked(namePrefix + "['type']", "email"),
              hint: {
                text: "Requires an answer in the format of an email address"
              }
            },
            {
              value: "national-insurance-number",
              text: "National Insurance number",
              checked: checked(namePrefix + "['type']", "national-insurance-number"),
              hint: {
                text: "Requires an answer in the format of a National Insurance number"
              }
            },
            {
              value: "phone",
              text: "Phone number",
              checked: checked(namePrefix + "['type']", "phone"),
              hint: {
                text: "Requires an answer in the format of a phone number"
              }
            },
            {
              value: "select",
              text: "One or more selected options from a list",
              checked: checked(namePrefix + "['type']", "select"),
              hint: {
                text: "Create a list of options for people to select from"
              }
            },
            {
              value: "yesorno",
              text: "Yes or no",
              checked: checked(namePrefix + "['type']", "yesorno"),
              hint: {
                text: "People have to select either yes or no"
              }
            }
          ]
        %}

        {{ govukRadios({
          idPrefix: "type",
          name: namePrefix + "[type]",
          classes: "govuk-radios--small",
          fieldset: {
            legend: {
              text: "What kind of answer do you need to this question?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "The answer will be checked to make sure it’s in the selected format."
          },
          items: radioItems
        }) }}

        <input type="hidden" id="long-title" name="{{namePrefix}}[long-title]" value="{{pageData['long-title']}}">
        <input type="hidden" id="hint-text" name="{{namePrefix}}[hint-text]" value="{{pageData['hint-text']}}">
        <input type="hidden" id="index" name="{{namePrefix}}[pageIndex]'" value="{{[pageIndex]}}">

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue",
            name: "action",
            value: "editPage"
          }) }}
        </div>

        <p class="govuk-body">
          <a class="govuk-link govuk-link--no-visited-state" href="../form-index">Go to form overview</a>
        </p>

      </div>

    </div>

  </form>

{% endblock %}
