{% extends "layout-govuk-forms.html" %}

{% set pageTitle -%}
  {% if data['checkAnswersTitle'] %}
    {{data['checkAnswersTitle']|safe}}
  {% else %}
    Check your answers
  {% endif %}
{%- endset %}

{% block pageTitle %}
  Edit {{pageTitle|lower}} - GOV.UK Forms
{% endblock %}

{% block beforeContent %}
  {% set prevPageId = pageId | int - 1 %}
  {% if prevPageId > 0 %}
    <a class="govuk-back-link" href="{{prevPageId}}">Back</a>
  {% else %}
    <a class="govuk-back-link" href="../form-index" target="_parent">Back</a>
  {% endif %}
{% endblock %}

{% block content %}

<form id="form" class="form" action="check-answers" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Check your answers</span>
      <h1 class="govuk-heading-l">{{pageTitle}}</h1>

        {#

        Every field id is prefixed with a unique page id.
        So we can have separate configurations for every page.

        #}
        {% set pagePrefix = "p" + pageId + "-" %}

        {{ govukInput({
          label: {
            text: "Page title",
            classes: "govuk-label--m"
          },
          hint: {
            text: "Appears at the top of the page"
          },
          id: "checkAnswersTitle",
          name: "checkAnswersTitle",
          value: data['checkAnswersTitle']
        }) }}


        {{ govukCharacterCount({
          name: "checkAnswersDeclaration",
          id: "checkAnswersDeclaration",
          maxlength: 2000,
          value: data['checkAnswersDeclaration'],
          label: {
            text: "Declaration",
            classes: "govuk-label--m"
          },
          hint: {
            text: "The declaration that people make when they submit the form"
          }
        }) }}

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <input type="hidden" id="currentPageId" name="currentPageId" value="{{pageId}}">

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save changes",
            name: "action",
            value: "update"
          }) }}
        </div>

        <p class="govuk-body">
          <a class="govuk-link govuk-link--no-visited-state" href="../form-index">Go to form overview</a>
        </p>

    </div>

    <div class="govuk-grid-column-one-third">
      <div class="preview-pane-wrapper">
        <h2 class="govuk-heading-m">
          Page preview
        </h2>
        <a href="../check-answers-page-preview-new-tab" class="govuk-link govuk-link--no-visited-state govuk-!-margin-bottom-4 new-tab-link" target="_blank">Preview page in a new tab</a>
        <div class="preview-header">
          <p class="preview-link govuk-body-s">
            <!-- <a href="#" target="_blank" onclick="document.getElementById('form').submit();">Refresh</a> &nbsp;|&nbsp; -->
            <!-- <a href="../check-answers-page-preview-new-tab" target="_blank">Open in a new tab</a> -->
          </p>
        </div>
        <iframe sandbox="allow-same-origin allow-scripts" title="Page preview" data-module="app-example-frame" class="preview-pane app-example__frame app-example__frame--resizable" src="../check-answers-page-preview" frameborder="1" loading="lazy" id="iFrameResizer0" ></iframe>
      </div>
    </div>

  </div>

</form>

{% endblock %}
