{% extends "layout-govuk-forms.html" %}

{% block pageTitle %}
  Form index
{% endblock %}

{% block content %}

<form id="form" class="form" action="form-settings" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Form settings</span>
      <h1 class="govuk-heading-l">{{ data['formTitle'] }}</h1>


      {{ govukRadios({
        idPrefix: "publish",
        name: "publish",
        classes: "govuk-radios--small",
        fieldset: {
          legend: {
            text: "Publishing",
            classes: "govuk-label--m"
          }
        },
        hint: {
          text: "Where will the form live?"
        },
        items: [
          {
            value: "GOV.UK",
            text: "On the GOV.UK website",
            checked: checked("publish", "GOV.UK")
          },
          {
            value: "org",
            text: "On your organisation's website",
            checked: checked("publish", "Org")
          }
          ]
        }) }}

        {{ govukRadios({
          idPrefix: "authentication",
          name: "authentication",
          classes: "govuk-radios--small",
          fieldset: {
            legend: {
              text: "Authentication",
              classes: "govuk-label--m"
            }
          },
          hint: {
            text: "How will users access their form data?"
          },
          items: [
          {
            value: "email",
            text: "Using an email link",
            checked: checked("authentication", "email")
          },
          {
            value: "signIn",
            text: "Using GOV.UK Sign In",
            checked: checked("authentication", "signIn")
          }
          ]
          }) }}


      <div class="govuk-button-group">
      {{ govukButton({
        text: "Update settings",
        href: "form-index"
      }) }}
      <p>
        or <a class="govuk-link" href="form-index">back to page list</a>
      </p>
      </div>


    </div>

    <div class="govuk-grid-column-one-third" style="height: 700px;">
      <div class="preview-pane-wrapper">
        <div class="preview-header">
          <p class="preview-link govuk-body-s">
          </p>
        </div>
        <iframe title="Page preview" data-module="app-example-frame" class="preview-pane app-example__frame app-example__frame--resizable" src="start-page-preview" frameborder="1" loading="lazy" id="iFrameResizer0" scrolling="no" ></iframe>
      </div>
    </div>

  </div>

</form>

{% endblock %}
