{% extends "layout-govuk-forms.html" %}

{% block pageTitle %}
  Form: {{ data['formTitle'] }}
{% endblock %}

{% block content %}

  <form id="form" class="form" action="../edit-page/{{ pageId }}" method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">Form</span>
        <h1 class="govuk-heading-l">{{ data['formTitle'] }}</h1>

        {% set nextPageId = data['highestPageId'] | int + 1 %}
        {% set totalPageNum = data['highestPageId'] | int + 3 %}

        <p class="govuk-body-s">{{totalPageNum}} page draft form{% if data['highestPageId'] > 0 %} —
        <a href="form-publish" class="form-publish govuk-link--no-visited-state">Publish</a>
          {% endif %}.
      </p>

      {{ govukButton({
          text: "Add a question",
          href: "choose-page-type/" + nextPageId
        }) }}

        <p><a href="/form-designer/start-page-preview-new-tab" target="_blank">Preview form (opens in new tab)</a></p>


        <dl class="govuk-summary-list">
          

          <!-- Add this if users are confused about where their pages go
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                <a class=" govuk-link--no-visited-state" href="choose-page-type/{{nextPageId}}">Create a new page</a>
              </dt>
              <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
              </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            -->

          {% for page in data.pages -%}

            {% set questionTitle = page["short-title"]  or page["long-title"] or "Page " + page["pageIndex"] %}

            {% if questionTitle %}

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                  <!--Q{{page["pageIndex"] | int + 1}}.-->
                  {{questionTitle}}
                </dt>
                <dd class="govuk-summary-list__actions">
                  <div class="govuk-button-group form-action-group">
                    {% if page.pageIndex > 0 %}
                      {{ govukButton({
                          text: "Up",
                          classes: "govuk-button--secondary",
                          href: "reorder-page/" + (page.pageIndex | int + 1) + "/up"
                        }) }}
                    {% endif %}

                    {% if page.pageIndex < data.pages | length - 1 %}
                      {{ govukButton({
                          text: "Down",
                          classes: "govuk-button--secondary",
                          href: "reorder-page/" + (page.pageIndex | int + 1) + "/down"
                        }) }}
                    {% endif %}

                    <a class="govuk-link govuk-link--no-visited-state"
                    href="edit-page/{{page.pageIndex | int + 1}}">
                      Edit
                    </a>
                  </div>
                </dd>
              </div>
            {% endif %}

          {%- endfor %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                Check your answers
              </dt>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="edit-page/check-answers">
                      Edit</a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                Confirmation
              </dt>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="edit-page/confirmation">
                      Edit</a>
            </dd>
          </div>
        </dl>

      </div>

    </div>

  </form>

{% endblock %}
