{% extends "layout-govuk-forms.html" %}

{% block pageTitle %}
  Form: {{ data['formTitle'] }}
{% endblock %}

{% block content %}

<form id="form" class="form" action="../edit-page/{{ pageId }}" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Form</span>
      <h1 class="govuk-heading-l">{{ data['formTitle'] }}</h1>


      {{ govukSummaryList({
        classes: 'govuk-summary-list--no-border govuk-!-margin-bottom-2 meta-data',
        rows: [
          {
            key: {
              text: "Status:",
              classes: "govuk-body-s govuk-!-padding-top-0"
            },
            value: {
              text: "Draft",
              classes: " govuk-body-s govuk-!-padding-top-0"
            }
          },
          {
            key: {
              text: "Pages:",
              classes: " govuk-body-s govuk-!-padding-top-0"
            },
            value: {
              text: "3",
              classes: " govuk-body-s govuk-!-padding-top-0"
            }
          }
        ]
      }) }}

      {% set nextPageId = data['highestPageId'] | int + 1 %}


      <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                Start page
              </dt>
              <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
              </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="edit-page/0">
                      Edit</a>
                </dd>
            </div>

          {% for i in range(1, nextPageId) -%}

            {% set questionTitle = "p" + (i) + "-short-title" %}

            {% if data[questionTitle] %}

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                {{data[questionTitle]}}
              </dt>
              <dd class="govuk-summary-list__value">
              </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="edit-page/{{i}}">
                      Edit</a>
                </dd>
            </div>
            {% endif %}

          {%- endfor %}


            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                Check your answers
              </dt>
              <dd class="govuk-summary-list__value">
              </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="edit-check-answers-page">
                      Edit</a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                Confirmation
              </dt>
              <dd class="govuk-summary-list__value">
              </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="edit-confirmation-page">
                      Edit</a>
                </dd>
            </div>
      </dl>

      <div class="govuk-button-group">

      {% if data['highestPageId'] > 0 %}

      {{ govukButton({
        text: "Create a new page",
        href: "choose-page-type/" + nextPageId
      }) }}

      {% else %}

      {{ govukButton({
        text: "Edit start page",
        href: "edit-page/0"
      }) }}

      {% endif %}
      <p>
        or <a class="govuk-link" href="form-settings">change form settings</a>
      </p>
      </div>


    </div>

    <div class="govuk-grid-column-one-third" style="height: 600px;">
      <div class="preview-pane-wrapper">
        <div class="preview-header">
          <p class="preview-link govuk-body-s">
            <a href="start-page-preview-new-tab" target="_blank">Open in a new tab</a>

          </p>
        </div>
        <iframe title="Page preview" data-module="app-example-frame" class="preview-pane app-example__frame app-example__frame--resizable" src="start-page-preview" frameborder="1" loading="lazy" id="iFrameResizer0" scrolling="no" ></iframe>
      </div>
    </div>

  </div>

</form>

{% endblock %}
