{% extends "layout-govuk-forms.html" %}

{% set pageTitle = 'Your form is live' %}

{% block pageTitle %}
  {{pageTitle}}: {{ data['formTitle'] }} - GOV.UK Forms
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">{{ data['formTitle'] }}</span>
    <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

    <p class="govuk-body">The URL for your form is:</p>
    <p class="govuk-body">
      <strong id="formURL" value="https://forms.service.gov.uk/form/58/form-name">https://forms.service.gov.uk/form/58/form-name</strong>
    </p>
    <button class="govuk-button govuk-button--secondary" type="button" onclick="copyURL()">
      Copy URL to clipboard
    </button>

    <p class="govuk-body">
      The form will not be indexed by search engines, so people will not be able to find it easily. Contact your GOV.UK publishing team to publish a link to your form on GOV.UK so people can find it.
    </p>

    <a href="create-form" class="govuk-body govuk-link govuk-link--no-visited-state">
      Continue to your form
    </a>

  </div>

</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
  function copyURL() {
    /* Create new range so we can select a node */
    var range = document.createRange();

    /* Select the contents within node id "formURL" */
    range.selectNodeContents(document.getElementById("formURL"));

    /* Copy the text from the node */
    navigator.clipboard.writeText(range);

  }
</script>
{% endblock %}
