{% extends "layout-govuk-forms.html" %}

{% block pageTitle %}
  Form index
{% endblock %}

{% block content %}

<form id="form" class="form" action="form-settings" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Form</span>
      <h1 class="govuk-heading-l">Settings</h1>





      <div class="govuk-button-group">
      {{ govukButton({
        text: "Update settings",
        href: "form-index"
      }) }}
      <p>
        or <a class="govuk-link" href="form-index">back to page list</a>
      </p>
      </div>


    </div>

    <div class="govuk-grid-column-one-third" style="height: 700px;">
      <div class="preview-pane-wrapper">
        <div class="preview-header">
          <p class="preview-link govuk-body-s">
          </p>
        </div>
        <iframe title="Page preview" data-module="app-example-frame" class="preview-pane app-example__frame app-example__frame--resizable" src="page-preview-placeholder" frameborder="1" loading="lazy" id="iFrameResizer0" scrolling="no" ></iframe>
      </div>
    </div>

  </div>

</form>

{% endblock %}
