{% extends "layout-govuk-forms.html" %}

{% set pageTitle = "Make your changes live" if data.status == "Live" else "Make your form live" %}

{% block pageTitle %}
  {{ "Error: " if containsErrors }}{{ pageTitle }}: {{ data.formTitle or "[formTitle]" }} - GOV.UK Forms
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="your-form" target="_parent">
    Back to create your form
  </a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>

        {% if containsErrors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
        {% endif %}

        <span class="govuk-caption-l">{{ data.formTitle or "[formTitle]" }}</span>
        <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

        {% if data.status == "Live" %}
        <p class="govuk-body">
          When you make your changes live, there may be an impact on people who are filling in the live form at the same time. They may lose any answers they have already provided and may need to start again.
        <p>
        <p class="govuk-body">
          Links to the form will still work, even if you’ve changed the form’s name.
        </p>
        {% else %}
        <p class="govuk-body">
          When you make your form live you will get a URL for the form. The form will not be indexed by search engines, so people will not be able to find it easily. Contact your GOV.UK publishing team to publish a link to your form on GOV.UK so people can find it. 
        <p>

        <p class="govuk-body">
          After you have made your form live, completed forms will be sent to {{ data.formsEmail or "email@address.com" | safe }}.
        </p>
        {% endif %}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "makeFormLive",
          name: "makeFormLive",
          fieldset: {
            legend: {
              text: "Are you sure you want to make your form live?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ],
          errorMessage: { text: errors["makeFormLive"].text } if errors["makeFormLive"].text
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
