{% extends "layout-govuk-forms.html" %}

{% set pageTitle = 'What is the name of your form?' %}

{% block pageTitle %}
  {{ "Error: " if containsErrors }}{{pageTitle}} - GOV.UK Forms
{% endblock %}

{% block beforeContent %}
  {% if data['journey'] and data['journey'] == 'groupAdminTasks' %}
    <a class="govuk-back-link" href="../product-pages/group-admin/grouplanding">Back to your group</a>
  {% elif data['journey'] and data['journey'] == 'orgAdminTasks' %}
    <a class="govuk-back-link" href="../product-pages/org-admin/grouplanding">Back to your group</a>
  {% else %}
    {# Back links are handled in routes.js #}
    <a class="govuk-back-link" href="{{ previousPageLink }}" target="_parent">
      {{ previousPageText }}
    </a>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post" novalidate>

        {% if containsErrors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
        {% endif %}

        {{ govukInput({
          label: {
          text: pageTitle,
          classes: "govuk-label--l",
          isPageHeading: true
          },
          hint: {
            text: "The form name will be shown at the top of each page of the form. Use a name that describes what the form will help people to do. For example ‘Apply for a juggling licence’."
          },
          id: "form-title",
          name: "formTitle",
          value: data['formTitle'],
          errorMessage: { text: errors['formTitle'].text } if errors['formTitle'].text
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
