{% extends "layout-body-only.html" %}

{% block pageTitle %}
  {{ pageData['long-title'] }} - GOV.UK Forms
{% endblock %}

{% block header %}{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <form class="form" action="#" method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {#

        Every field id is prefixed with a unique page id.
        So we can have separate configurations for every page.

        #}

        {# If the page has no intro, set the heading inside of the macros #}
        {# The heading doubles up as the label #}
        {% set label = {
          text: pageData['long-title'],
          classes: "govuk-label--l",
          isPageHeading: true
        }%}

        {# Single line text fields #}
        {% if pageData['type'] == 'text' %}
          {{ govukInput({
          label: label,
          hint: {text: pageData['hint-text']},
          id: pageId,
          name: pageId
        }) }}
        {% endif %}

        {# Number text fields #}
        {% if pageData['type'] == 'number' %}
          {{ govukInput({
          label: label,
          hint: {text: pageData['hint-text']},
          id: pageId,
          name: pageId
        }) }}
        {% endif %}

        {% if pageData['type'] == 'email' %}
          {{ govukInput({
          label: label,
          hint: { text: pageData['hint-text'] },
          id: pageId,
          name: pageId,
          type: "email",
          autocomplete: "email",
          spellcheck: false
        }) }}
        {% endif %}

        {% if pageData['type'] == 'phone' %}
          {{ govukInput({
          label: label,
          id: pageId,
          name: pageId,
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-input--width-20"
        }) }}
        {% endif %}

        {% if pageData['type'] == 'national-insurance-number' %}
          {{ govukInput({
          label: label,
          hint: { text: pageData['hint-text'] },
          classes: "govuk-input--width-10",
          id: pageId,
          name: pageId,
          spellcheck: false
        }) }}
        {% endif %}

        {% if pageData['type'] == 'address' %}

          {% call govukFieldset({
            legend: {
              text: pageData['long-title'],
              classes: "govuk-fieldset__legend--l",
              isPageHeading: true
            }
          }) %}

          {{ govukInput({
            label: {
              html: 'Address line 1'
            },
            id: "address-line-1",
            name: "address-line-1",
            autocomplete: "address-line1"
          }) }}

          {{ govukInput({
            label: {
              html: 'Address line 2 (optional)'
            },
            id: "address-line-2",
            name: "address-line-2",
            autocomplete: "address-line2"
          }) }}

          {{ govukInput({
            label: {
              text: "Town or city"
            },
            classes: "govuk-!-width-two-thirds",
            id: "address-town",
            name: "address-town",
            autocomplete: "address-level2"
          }) }}

          {{ govukInput({
            label: {
              text: "Postcode"
            },
            classes: "govuk-input--width-10",
            id: "address-postcode",
            name: "address-postcode",
            autocomplete: "postal-code"
          }) }}

          {% endcall %}
        {% endif %}

        {# Textarea with character limit #}
        {# {% if (pageData['type'] == 'textarea') and (pageData['char-limit'] == 'none') %}
          {{ govukTextarea({
          label: label,
          hint: {text: pageData['hint-text']},
          id: pageId,
          name: pageId
        }) }}
        {% endif %} #}

        {# Textarea with no character limit
        {% if (pageData['type'] == 'textarea') and not (pageData['char-limit'] == 'none') %}
        {{ govukCharacterCount({
          name: pageId,
          id: pageId,
          maxlength: pageData['char-limit'],
          label: label,
          hint: {text: pageData['hint-text']}
        }) }}
        {% endif %} #}

        {# Date field #}
        {% if pageData['type'] == 'date' %}
          {{ govukDateInput({
          id: pageId,
          namePrefix: pageId,
          fieldset: {
            legend: label
          },
          hint: {text: pageData['hint-text']}
        }) }}
        {% endif %}

        {#
          For radios and checkboxes I'm using straight HTML,
          because I'm not smart enough to loop over the array
          and build an object to stick into a macro.
        #}

        {# Radios #}
        {% if pageData['type'] == 'radio-checkbox' and pageData['radios'] %}

        {% set itemsArray = pageData['item-list'].split('\n') %}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="question-1-hint">

            {% if not pageData['intro-text'] %}
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                {{ pageData['long-title'] }}
              </h1>
            </legend>
            {% endif %}

          <div id="question-1-hint" class="govuk-hint">
            {{ pageData['hint-text']}}
          </div>
          <div class="govuk-radios">
            {% for item in itemsArray %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="question-1-{{ item }}" name="question-1-" type="radio" value="{{ item }}">
              <label class="govuk-label govuk-radios__label" for="question-1-{{ item }}">
                {{ item }}
              </label>
            </div>
            {% endfor %}
          </div>
        </fieldset>
        </div>
        {% endif %}

        {# Checkboxes #}
        {% if pageData['type'] == 'radio-checkbox' and not pageData['radios'] %}

        {% set itemsArray = pageData['item-list'].split('\n') %}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="question-1-hint">

            {% if not pageData['intro-text'] %}
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                {{ pageData['long-title'] }}
              </h1>
            </legend>
            {% endif %}

          <div id="question-1-hint" class="govuk-hint">
            {{ pageData['hint-text']}}
          </div>
          <div class="govuk-checkboxes">
                {% for item in itemsArray %}
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="question-1-{{ item }}" name="question-1-" type="checkbox" value="{{ item }}">
                  <label class="govuk-label govuk-checkboxes__label" for="question-1-{{ item }}">
                    {{ item }}
                  </label>
                </div>
                {% endfor %}
          </div>
        </fieldset>
        </div>
        {% endif %}

        {# Help text #}
        {% if pageData['help-text'] %}

          {% set helpTextHtml %}
          <div class="app-prose-scope">
            {% markdown %}
            {{ pageData['help-text'] }}
            {% endmarkdown %}
          </div>
          {% endset -%}

          {{ govukDetails({
          summaryText: "Help with this question",
          html: helpTextHtml
        }) }}
        {% endif %}

        {# Submit button #}
        {{ govukButton({
          text: "Continue",
          disabled: true
        }) }}

      </div>
    </div>
  </form>
{% endblock %}
