{% extends "layout.html" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% set prevPageId = pageId | int -1 %}
  {% if prevPageId > 0 %}
  <a class="govuk-back-link" href="{{prevPageId}}">Back</a>
  {% else %}
  <a class="govuk-back-link" href="../start-page-preview-new-tab" target="_parent">Back</a>
  {% endif %}
{% endblock %}

{% block pageTitle %}
  Edit question
{% endblock %}


{% block content %}
<form class="form" action="edit-question-save" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {#

        Every field id is prefixed with a unique page id.
        So we can have separate configurations for every page.

        #}

        {% if pageData['intro-text'] %}

          {# If the page has an intro, set the heading outside of the macros #}
          {# Use the short title as the field label #}
          <h1 class="govuk-heading-l">{{ pageData['long-title'] }}</h1>
          <p>{{ pageData['intro-text'] }}</p>
          {% set label = {
            text: pageData['short-title']
          }%}

        {% else %}

          {# If the page has no intro, set the heading inside of the macros #}
          {# The heading doubles up as the label #}
          {% set label = {
            text: pageData['long-title'],
            classes: "govuk-label--l",
            isPageHeading: true
          }%}

        {% endif %}


        {# Single line text fields #}
        {% if pageData['type'] == 'text' and pageData['unit'] == 'text' %}
        {{ govukInput({
          label: label,
          hint: {text: pageData['hint-text']},
          id: pageId,
          name: pageId
        }) }}

        {# Currency fields #}
        {% elseif pageData['type'] == 'text' and pageData['unit'] == 'pounds' %}
        {{ govukInput({
          label: label,
          hint: {text: pageData['hint-text']},
          id: pageId,
          name: pageId,
          prefix: {text: "£"},
          classes: "govuk-input--width-5",
          spellcheck: false
        }) }}

        {# Weight, distance and length fields #}
        {% elseif pageData['type'] == 'text'  %}
        {{ govukInput({
          label: label,
          hint: {text: pageData['hint-text']},
          id: pageId,
          name: pageId,
          suffix: {text: pageData['unit']},
          classes: "govuk-input--width-5",
          spellcheck: false
        }) }}
        {% endif %}

        {# Textarea with character limit #}
        {% if (pageData['type'] == 'textarea') and (pageData['char-limit'] == 'none') %}
        {{ govukTextarea({
          label: label,
          hint: {text: pageData['hint-text']},
          id: pageId,
          name: pageId
        }) }}
        {% endif %}

        {# Textarea with no character limit #}
        {% if (pageData['type'] == 'textarea') and not (pageData['char-limit'] == 'none') %}
        {{ govukCharacterCount({
          name: pageId,
          id: pageId,
          maxlength: pageData['char-limit'],
          label: label,
          hint: {text: pageData['hint-text']}
        }) }}
        {% endif %}

        {# Date field #}
        {% if pageData['type'] == 'date' %}
        {{ govukDateInput({
          id: pageId,
          namePrefix: pageId,
          fieldset: {
            legend: label
          },
          hint: {text: pageData['hint-text']}
        }) }}
        {% endif %}

        {#
          For radios and checkboxes I'm using straight HTML,
          because I'm not smart enough to loop over the array
          and build an object to stick into a macro.
        #}

        {# Radios #}
        {% if pageData['type'] == 'radio-checkbox' and pageData['radios'] %}

        {% set itemsArray = pageData['item-list'].split('\n') %}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="question-1-hint">

            {% if not ['intro-text'] %}
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                {{ pageData['long-title'] }}
              </h1>
            </legend>
            {% endif %}

          <div id="question-1-hint" class="govuk-hint">
            {{ pageData['hint-text']}}
          </div>
          <div class="govuk-radios">
                {% for item in itemsArray %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="question-1-{{ item }}" name="question-1-" type="radio" value="{{ item }}">
                  <label class="govuk-label govuk-radios__label" for="question-1-{{ item }}">
                    {{ item }}
                  </label>
                </div>
                {% endfor %}
          </div>
        </fieldset>
        </div>
        {% endif %}

        {# Checkboxes #}
        {% if pageData['type'] == 'radio-checkbox' and not pageData['radios'] %}

        {% set itemsArray = pageData['item-list'].split('\n') %}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="question-1-hint">

            {% if not pageData['intro-text'] %}
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                {{ pageData['long-title'] }}
              </h1>
            </legend>
            {% endif %}

          <div id="question-1-hint" class="govuk-hint">
            {{ pageData['hint-text']}}
          </div>
          <div class="govuk-checkboxes">
                {% for item in itemsArray %}
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="question-1-{{ item }}" name="question-1-" type="checkbox" value="{{ item }}">
                  <label class="govuk-label govuk-checkboxes__label" for="question-1-{{ item }}">
                    {{ item }}
                  </label>
                </div>
                {% endfor %}
          </div>
        </fieldset>
        </div>
        {% endif %}

        {# Help text #}
        {% if pageData['help-text'] %}
        {{ govukDetails({
          summaryText: "Help with this question",
          text: pageData['help-text']
        }) }}
        {% endif %}


        {% set nextPageId = pageId | int + 1 %}

        {# Submit button #}
        {{ govukButton({
          text: "Continue",
          href: "" + nextPageId
        }) }}

    </div>
  </div>
</form>
{% endblock %}
