{% extends "layout-body-only.html" %}

{% block pageTitle %}
  Edit question
{% endblock %}

{% block header %}
<!--
<div class="preview-header">
  <p class="preview-link govuk-body-s"><a href="question-preview" target="_blank">Open in a new tab</a></p>
</div>
-->
{% endblock %}

{% block content %}
<form class="form" action="edit-question-save" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['intro-text'] %}

        <h1 class="govuk-heading-l">{{ data['long-title'] }}</h1>
        <p>{{ data['intro-text'] }}</p>

        {% if data['type'] == 'text' and data['unit'] == 'text' %}
        {{ govukInput({
          label: {
            text: data['short-title']
          },
          hint: {
            text: data['hint-text']
          },
          id: "question-1",
          name: "question-1"
        }) }}
        {% elseif data['type'] == 'text' and data['unit'] == 'pounds' %}
        {{ govukInput({
          label: {
            text: data['short-title']
          },
          hint: {
            text: data['hint-text']
          },
          id: "question-1",
          name: "question-1",
          prefix: {
            text: "£"
          },
          classes: "govuk-input--width-5",
          spellcheck: false
        }) }}
        {% elseif data['type'] == 'text'  %}
        {{ govukInput({
          label: {
            text: data['short-title']
          },
          hint: {
            text: data['hint-text']
          },
          id: "question-1",
          name: "question-1",
          suffix: {
            text: data['unit']
          },
          classes: "govuk-input--width-5",
          spellcheck: false
        }) }}
        {% endif %}

        {% if (data['type'] == 'textarea') and (data['char-limit'] == 'none') %}
        {{ govukTextarea({
          label: {
            text: data['short-title']
          },
          hint: {
            text: data['hint-text']
          },
          id: "question-1",
          name: "question-1"
        }) }}
        {% endif %}

        {% if (data['type'] == 'textarea') and not (data['char-limit'] == 'none') %}
        {{ govukCharacterCount({
          name: "question-1",
          id: "question-1",
          maxlength: data['char-limit'],
          label: {
            text: data['short-title']
          },
          hint: {
            text: data['hint-text']
          }
        }) }}
        {% endif %}

        {% if data['type'] == 'date' %}
        {{ govukDateInput({
          id: "question-1",
          namePrefix: "question-1",
          fieldset: {
            legend: {
              text: data['short-title'],
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: data['hint-text']
          }
        }) }}
        {% endif %}

      {% else %}

      {% if data['type'] == 'text' and data['unit'] == 'text' %}
      {{ govukInput({
        label: {
          text: data['long-title'],
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: data['hint-text']
        },
        id: "question-1",
        name: "question-1"
      }) }}
      {% elseif data['type'] == 'text' and data['unit'] == 'pounds' %}
      {{ govukInput({
        label: {
          text: data['long-title'],
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: data['hint-text']
        },
        id: "question-1",
        name: "question-1",
        prefix: {
          text: "£"
        },
        classes: "govuk-input--width-5",
        spellcheck: false
      }) }}
      {% elseif data['type'] == 'text'  %}
      {{ govukInput({
        label: {
          text: data['long-title'],
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: data['hint-text']
        },
        id: "question-1",
        name: "question-1",
        suffix: {
          text: data['unit']
        },
        classes: "govuk-input--width-5",
        spellcheck: false
      }) }}
      {% endif %}

      {% if (data['type'] == 'textarea') and (data['char-limit'] == 'none') %}
      {{ govukTextarea({
        label: {
          text: data['long-title'],
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: data['hint-text']
        },
        id: "question-1",
        name: "question-1"
      }) }}
      {% endif %}

      {% if (data['type'] == 'textarea') and not (data['char-limit'] == 'none') %}
      {{ govukCharacterCount({
        name: "question-1",
        id: "question-1",
        maxlength: data['char-limit'],
        label: {
          text: data['long-title'],
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: data['hint-text']
        }
      }) }}


      {% endif %}

      {% if data['type'] == 'date' %}
      {{ govukDateInput({
        id: "question-1",
        namePrefix: "question-1",
        fieldset: {
          legend: {
            text: data['long-title'],
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: data['hint-text']
        }
      }) }}
      {% endif %}

      {% endif %}


        {% if data['help-text'] %}
        {{ govukDetails({
          summaryText: "Help with this question",
          text: data['help-text']
        }) }}
        {% endif %}

        {{ govukButton({
          text: "Continue",
          disabled: true
        }) }}

    </div>
  </div>
</form>
{% endblock %}
