{% extends "layout.html" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block pageTitle %}
  Edit question
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{data['formTitle']}}
    </h1>

    {% if data['formIntro'] %}
    <div class="app-prose-scope">
    {% markdown %}
      {{ data['formIntro'] }}
    {% endmarkdown %}
    </div>
    {% endif %}

    {% if data['highestPageId'] == 0 %}
      {% set disabledStart = true %}
    {% else %}
      {% set disabledStart = false %}
    {% endif %}

    {{ govukButton({
      text: "Start now",
      href: "page-preview-new-tab/1",
      attributes: {
        target: "_parent"
      },
      isStartButton: true,
      disabled: disabledStart
    }) }}

    {% if data['formBeforeStart'] %}
    <h2 class="govuk-heading-m">Before you start</h2>
    <div class="app-prose-scope">
    {% markdown %}
      {{ data['formBeforeStart'] }}
    {% endmarkdown %}
    </div>
    {% endif %}

  </div>

</div>
{% endblock %}
