{% extends "layout-govuk-forms.html" %}

{% set pageTitle = data.formTitle or '[formTitle]' if data['status'] === 'Live' else 
  'Create a form' %}

{% block pageTitle %}
  {{pageTitle}}
  {% if data.status == 'Draft' %}:
    {{ data.formTitle or '[formTitle]' }}
  {% endif %}
  -
  {{serviceName}}
{% endblock %}

{% block beforeContent %}
  {# Back links are handled in routes.js #}
  <a class="govuk-back-link" href="{{ previousPageLink }}" target="_parent">
    {{ previousPageText }}
  </a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data.successMessage %}
        {{ govukNotificationBanner({
        type: 'success',
        text: data.successMessage
      }) }}
      {% endif %}

      {% if data['status'] === 'Draft' %}
        {% include './partials/status-draft-form.html' %}
      {% else %}
        {% include "./partials/status-live-form.html" %}
      {% endif %}

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script type="text/javascript">

    function copyURL() {
      /* Create new range so we can select a node */
      var range = document.createRange();

      /* Select the contents within node id "formURL" */
      range.selectNodeContents(document.getElementById("formURL"));

      /* Copy the text from the node */
      navigator
        .clipboard
        .writeText(range);
    }

    // call function from `assets/javascripts/application.js`
    // removeSuccessNotification();
  </script>
{% endblock %}