{% extends "layout-govuk-forms.html" %}

{% set pageName = 'Add and edit your questions' %}

{% block pageTitle %}
  {{ "Error: " if containsErrors }}{{ pageName }}: {{ data.formTitle or '[formTitle]' }} - GOV.UK Forms
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="your-form">
    Back to {{ "your form" if data['status'] === 'Live' else "create a form" }}
  </a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if data.successMessage %}
    {{ govukNotificationBanner({
      type: 'success',
      text: data.successMessage
    }) }}
    {% endif %}

    {% if containsErrors %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errorList
    }) }}
    {% endif %}

    <span class="govuk-caption-l">{{ data.formTitle or '[formTitle]' }}</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">{{ pageName }}</h1>
    <dl class="govuk-!-margin-bottom-7">
      <dt class="govuk-visually-hidden">Status</dt>
      <dd class="govuk-!-margin-0">
          {{ govukTag({
              text: data['status'],
              classes: "govuk-tag--yellow" if data.status === 'Draft' else "govuk-tag--turquoise"
          }) }}
      </dd>
    </dl>

    {% if data.status === 'Live' %}
      {% include "./partials/your-questions-live-form.html" %}
    {% else %}
      <!-- If Form is in ‘Draft’ then show the following -->
      <form id="form" class="form" method="post" novalidate>
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Add a question",
            classes: "govuk-button govuk-!-margin-bottom-3 govuk-!-margin-top-3",
            name: "action",
            value: "addQuestion"
          }) }}
          {{ govukButton({
            text: "Add a question route",
            classes: "govuk-button govuk-button--secondary govuk-!-margin-bottom-3 govuk-!-margin-top-3",
            name: "action",
            value: "addRoute"
          }) }}
          {% if data.pages.length %}
          <a class="govuk-link" href="/form-designer/preview/0" rel="noopener noreferrer">
            Preview this form
          </a>
          {% endif %}
        </div>

        {% if data.pages.length %}

          <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-0" id="question-list">
            Your questions
          </h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9" aria-describedby="question-list">
            {% set pageLoopCount = 0 %}
            {% set groupLoopCount = 0 %}
            {% for object in pagesOrder -%}

              {% if object.group -%}

                <!-- Add a count for groups to use instead of loop.index -->
                {% set groupLoopCount = groupLoopCount + 1 %}

                {# if this is a question set show #}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key app-summary-list__key">
                    Question set {{ object.group.groupIndex | int + 1 }}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ object.group.groupName }}<br>
                    {% for page in object.pages -%}
                      {% set questionTitle = page["long-title"] or "Question " + ( loop.index ) %}
                      {% if page['questionOptional'] == 'questionOptional' %}
                        {% set questionTitle = questionTitle + ' (optional)' %}
                      {% endif %}
                      {{ loop.index }}. {{ questionTitle }}{% if not loop.last %}<br>{% endif %}
                    {%- endfor %} 
                  </dd>
                  <dd class="govuk-summary-list__actions govuk-!-padding-bottom-6">
                    <div class="govuk-button-group form-action-group app-page-list__button-group">
                      <div class="form-actions-reordering">
                        {{ govukButton({
                          html: "Move up <span class='govuk-visually-hidden'> Group " + loop.index + ". " + object.group.groupName + "</span>",
                          classes: "govuk-button--secondary",
                          href: "pages/" + ( loop.index ) + "/reorder/up"
                        }) }}
                        {{ govukButton({
                          html: "Move down <span class='govuk-visually-hidden'> Group " + loop.index + ". " + object.group.groupName + "</span>",
                          classes: "govuk-button--secondary",
                          href: "pages/" + ( loop.index ) + "/reorder/down"
                        }) }}
                      </div>
                    </div>
                    <a class="govuk-link govuk-link--no-visited-state" href="groups/{{ object.group.groupIndex | int }}/check-group">
                      Edit<span class="govuk-visually-hidden"> question set {{ loop.index }}</span>
                    </a>
                  </dd>
                </div>

              {% else %}

                <!-- Add a count for pages to use instead of loop.index -->
                {% set pageLoopCount = pageLoopCount + 1 %}

                {% set questionTitle =  object.page["long-title"] or "Question " + (object.page["pageIndex"]|int + 1) %}
                {% if object.page['questionOptional'] == 'questionOptional' %}
                {% set questionTitle = questionTitle + ' (optional)' %}
                {% endif %}

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key app-summary-list__key">
                    {{ pageLoopCount }}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ questionTitle }}
                  </dd>
                  <dd class="govuk-summary-list__actions govuk-!-padding-bottom-6">
                    <div class="govuk-button-group form-action-group app-page-list__button-group">
                      {% if data.pages.length > 1 %}
                        <div class="form-actions-reordering">
                          {% if object.page.pageIndex > 0 %}
                            {{ govukButton({
                              html: "Move up <span class='govuk-visually-hidden'> Question " + loop.index + ". " + questionTitle + "</span>",
                              classes: "govuk-button--secondary",
                              href: "pages/" + ( loop.index ) + "/reorder/up"
                            }) }}
                          {% endif %}

                          {% if object.page.pageIndex < data.pages | length - 1 %}
                            {{ govukButton({
                              html: "Move down <span class='govuk-visually-hidden'> Question " + loop.index + ". " + questionTitle + "</span>",
                              classes: "govuk-button--secondary",
                              href: "pages/" + ( loop.index ) + "/reorder/down"
                            }) }}
                          {% endif %}
                        </div>
                      {% endif %}
                    </div>
                    <a class="govuk-link govuk-link--no-visited-state" href="pages/{{ object.page.pageIndex | int }}/check-question">
                      Edit<span class="govuk-visually-hidden"> Question {{loop.index}}. {{questionTitle}}</span>
                    </a>
                  </dd>
                </div>
              {% endif %}

            {%- endfor %}
          </dl>

          {% if data.status === 'Draft' %}
            {{ govukRadios({
              classes: "govuk-radios",
              idPrefix: "isQuestionsComplete",
              name: "isQuestionsComplete",
              fieldset: {
                legend: {
                  text: "Have you finished editing your questions?",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              hint: {
                text: "Selecting ‘Yes’ will mark this task as complete. You’ll still be able to make changes if you need to."
              },
              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No, I’ll come back later"
                }
              ],
              errorMessage: { text: errors['isQuestionsComplete'].text } if errors['isQuestionsComplete'].text
            }) }}
            {{ govukButton({
              text: "Save and continue",
              name: "action",
              value: "continue"
            }) }}
          {% endif %}

        {% endif %}

      </form>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
  // call function from `assets/javascripts/application.js`
  // removeSuccessNotification();
</script>
{% endblock %}
