{% extends "layout-govuk-forms.html" %}

{% set pageTitle = 'Form submitted page' %}

{% block pageTitle %}
  {{ "Error: " if containsErrors }}{{pageTitle}} - GOV.UK Forms
{% endblock %}

{% block beforeContent %}
  {% set prevPageId = pageId | int - 1 %}
  {% if prevPageId > 0 %}
    <a class="govuk-back-link" href="{{prevPageId}}">Back</a>
  {% else %}
    <a class="govuk-back-link" href="../../your-form" target="_parent">Back to create a form</a>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if successMessage %}
      {{ govukNotificationBanner({
        type: 'success',
        text: successMessage
      }) }}
      {% endif %}

      <form id="form" class="form" method="post" novalidate>

        {% if containsErrors %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          }) }}
        {% endif %}

        <span class="govuk-caption-l">{{ data['formTitle'] }}</span>
        <h1 class="govuk-heading-l">{{pageTitle}}</h1>

        {#
          Every field id is prefixed with a unique page id.
          So we can have separate configurations for every page.
        #}
        {% set pagePrefix = "p" + pageId + "-" %}

        <p class="govuk-body">
          This page will be shown after someone has completed and submitted the form to let them know that the form has been submitted successfully.
        </p>

        <p class="govuk-body">
          Add some content to let people know what will happen next and when, so they know what to expect.
        </p>

        <h2 class="govuk-heading-s">Example</h2>

        {{ govukInsetText({
          text: "We’ll send you an email to let you know the outcome. You'll usually get a response within 10 working days."
        }) }}

        {{ govukCharacterCount({
          name: "confirmationNext",
          id: "confirmationNext",
          maxlength: 2000,
          value: data['confirmationNext'],
          label: {
            text: "Enter some information to tell people what will happen next",
            classes: "govuk-label--m"
          },
          errorMessage: { text: errors['confirmationNext'].text } if errors['confirmationNext'].text
        }) }}

        <input type="hidden" id="currentPageId" name="currentPageId" value="{{pageId}}">

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue",
            name: "action",
            value: "continue"
          }) }}
          {{ govukButton({
            text:  "Save",
            name: "action",
            value: "update",
            classes: "govuk-button--secondary"
          }) }}
        </div>

      </form>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
  // call function from `assets/javascripts/application.js`
  // removeSuccessNotification();
</script>
{% endblock %}
