{% extends "layout-govuk-forms.html" %}

{% set pageTitle = 'Add information about what happens next' %}

{% block pageTitle %}
  {{ "Error: " if containsErrors }}{{ pageTitle }}: {{ data.formTitle or '[formTitle]' }} - GOV.UK Forms
{% endblock %}

{% block beforeContent %}
  {% set prevPageId = pageId | int - 1 %}
  {% if prevPageId > 0 %}
    <a class="govuk-back-link" href="{{prevPageId}}">Back</a>
  {% else %}
    <a class="govuk-back-link" href="../../your-form" target="_parent">Back to create a form</a>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if successMessage %}
      {{ govukNotificationBanner({
        type: 'success',
        text: successMessage
      }) }}
      {% endif %}

      <form id="form" class="form" method="post" novalidate>

        {% if containsErrors %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          }) }}
        {% endif %}

        <span class="govuk-caption-l">{{ data.formTitle or '[formTitle]' }}</span>
        <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

        {#
          Every field id is prefixed with a unique page id.
          So we can have separate configurations for every page.
        #}
        {% set pagePrefix = "p" + pageId + "-" %}

        <p class="govuk-body">
          Add some information to tell people what will happen after they've submitted their form, and when - so they know what to expect.
        </p>

        <h2 class="govuk-heading-s">Example</h2>
        {{ govukInsetText({
          text: "We’ll send you an email to let you know the outcome. You’ll usually get a response within 10 working days."
        }) }}

        <p class="govuk-body">
          This content will be:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            shown to people when they've completed and submitted a form
          </li>
          <li>
            included in an email confirmation, if they choose to receive this
          </li>
        </ul>

        <p class="govuk-body">
          The optional email confirmation will also include the contact details you provide for the form, and the date and time of submission. It will not include a copy of their answers.
        </p>

        {{ govukCharacterCount({
          name: "confirmationNext",
          id: "confirmationNext",
          maxlength: 2000,
          value: data['confirmationNext'],
          label: {
            text: "Enter some information to tell people what will happen next",
            classes: "govuk-label--m"
          },
          errorMessage: { text: errors['confirmationNext'].text } if errors['confirmationNext'].text
        }) }}

        <input type="hidden" id="currentPageId" name="currentPageId" value="{{pageId}}">

        {{ govukButton({
          text: "Save and continue",
          name: "action",
          value: "continue"
        }) }}
        
      </form>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
  // call function from `assets/javascripts/application.js`
  // removeSuccessNotification();
</script>
{% endblock %}
