{% extends "layout.html" %}

{% block pageTitle %}
    Reviewing form: Apply for a Roller Disco Licence
{% endblock %}

{% block header %}
    {{ govukHeader() }}
    {% include "includes/submenu.html" %}
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
        }) 
    }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Reviewing form: Apply for a Roller Disco Licence</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Form pages</h2>
            {{ govukTable({
                head: [
                    {
                        text: "Page"
                    },
                    {
                        text: "Reviewer comments"
                    }
                ],
                rows: [
                    [
                        {
                            html: "<a href='review-question.html'>Name</a>"
                        },
                        {
                            text: "1"
                        }
                    ],
                    [
                        {
                            html: "<a href='review-question.html'>Address</a>"
                        },
                        {
                            text: "0"
                        }
                    ],
                    [
                        {
                            html: "<a href='review-question.html'>Date of birth</a>"
                        },
                        {
                            text: "0"
                        }
                    ],
                    [
                        {
                            html: "<a href='review-question.html'>Trading name</a>"
                        },
                        {
                            text: "3"
                        }
                    ],
                    [
                        {
                            html: "<a href='review-question.html'>Capacity</a>"
                        },
                        {
                            text: "1"
                        }
                    ]
                ]
            }) }}

            {{ govukButton({
                text: "Preview entire form"
            }) }}
            <h2 class="govuk-heading-l">Reviewer comments</h2>
            <div class="moj-message-list">
                {{ comment(name='elissavet.gianouli@djrs.gov.uk',
                    value="The new address field looks good. I'm happy with the changes!"
                ) }}

                {{ comment(name='nina.licheli@djrs.gov.uk',
                    value='I agree with Elissavet - this looks good.'
                ) }}

                {{ reply(name='Laura Mipsum',
                    value='Thanks folks!'
                ) }}
            </div>

            <form action="#" method="post" novalidate>
                {{ govukTextarea({
                    label: {
                        text: "Add a comment",
                        classes: "govuk-label--s"
                    },
                    id: "review-comment",
                    name: "review-comment",
                    classes: "govuk-!-margin-bottom-1",
                    formGroup: {
                        classes: "govuk-!-margin-bottom-1"
                    }
                }) }}

                {{ govukButton({
                    text: "Submit feedback"
                }) }}
            </form>
        </div>
        <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m">Add reviewer</h2>
            <form action="#" method="post" novalidate>

                {{ govukInput({
                    label: {
                        text: "Email address of reviewer",
                        classes: "govuk-label--s",
                        isPageHeading: false
                    },
                    hint: {
                        text: "Your reviewer will receive a link to this page"
                    },
                    id: "reviewer-email",
                    name: "reviewer-email",
                    type: "email",
                    autocomplete: "email",
                    spellcheck: false
                }) }}

                {{ govukButton({
                    text: "Send for review"
                }) }}
            </form>
            <h2 class="govuk-heading-m">Current reviewers</h3>
            <p>You have requested reviews from:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>elissavet.gianouli@djrs.gov.uk</li>
                <li>nina.licheli@djrs.gov.uk</li>
            </ul>
        </div>
    </div>
{% endblock %}