{% extends "layout-govuk-forms.html" %}

{% set pageTitle = 'Add an editor or group admin to this group' %}

{% block pageTitle %}
{{ "Error: " if containsErrors }}{{pageTitle}} - GOV.UK Forms
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="editmembers">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if containsErrors %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errorList
    }) }}
    {% endif %}
    
    <span class="govuk-caption-l">
      {{ data['groupName'] or 'Licencing forms' }}
    </span>
    <h1 class="govuk-heading-l">
      {{ pageTitle }}
    </h1>

    <p class="govuk-body">
      The person you're adding to this group must:
    </p>
    <ul class="govuk-list  govuk-list--bullet">
      <li>be from the same organisation as you</li>
      <li>already have a GOV.UK Forms account</li>
    </ul>

    <p class="govuk-body">
      You must use their government email address.
    </p>

    <form class="form" method="post" novalidate>

      {{ govukInput({
        label: {
          text: 'Enter the email address of the person you want to add',
          classes: "govuk-label--m"
        },
        id: "add-email",
        name: "emailToAdd",
        value: data['emailToAdd'],
        errorMessage: { text: errors['emailToAdd'].text } if errors['emailToAdd'].text
      }) }}

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            What role should they have in this group?
          </h2>
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="user-role" name="userRoleToAdd" type="radio" value="Editor">
            <label class="govuk-label govuk-radios__label" for="user-role">
              Editor
            </label>
          </div>
          <div id="user-role-item-hint" class="govuk-hint govuk-radios__hint">
            They’ll be able to create and edit forms in this group.
          </div>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="user-role-2" name="userRoleToAdd" type="radio"
            value="Group admin">
          <label class="govuk-label govuk-radios__label" for="user-role-2">
            Group admin
          </label>
        </div>
        <div id="user-role-2-item-hint" class="govuk-hint govuk-radios__hint">
          They’ll be able to create and edit forms, make forms live and add editors to this group.
        </div>
      </fieldset>
        
      <button formaction="editmembers4"  type="submit" class="govuk-button" data-module="govuk-button">
        Add this person
      </button>

    </form>
  </div>
</div>
{% endblock content %}