{% extends "layout-govuk-forms.html" %}

{% set pageTitle = 'Create a new group for forms' %}

{% block pageTitle %}
  {{ "Error: " if containsErrors }}{{pageTitle}}
  - GOV.UK Forms
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="group">Back to your groups</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post" novalidate="novalidate">

        {% if containsErrors %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          }) }}
        {% endif %}

        <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

        <p class="govuk-body">
          Each form needs to be created in a ‘group’. Once you have a group, you can add other people to create and edit forms in it.
        </p>

        {{ govukInsetText({
          text: "When a group is first created it will be a ‘trial’ group. That means you cannot make any forms in the group live. You’ll be able to request for a group to be upgraded to an ‘active’ group if you need to make forms live."
        }) }}

        <p class="govuk-body">
          Give your group a meaningful name that will reflect the forms you’ll create in the group, and make sense to the people that will be added to it. For example:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Licensing forms</li>
          <li>GOV.UK content team</li>
          <li>Juggling service forms</li>
        </ul>

        <p class="govuk-body">You can change the name later if you need to.</p>

        {{ govukInput({
          label: {
            text: 'Enter a name for your new group',
            classes: "govuk-label--m"
          },
          id: "group-name",
          name: "groupName",
          value: data['groupName'],
          errorMessage: { text: errors['groupName'].text } if errors['groupName'].text
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock content %}