{% extends "layout-govuk-forms.html" %}

{% block beforeContent %}
<a class="govuk-back-link" href="grouplanding">Back to your group</a>
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <form class="form" method="post" novalidate>
    <div class="govuk-grid-column-two-thirds">
    
      {% set html %}
      <h3 class="govuk-notification-banner__heading">
        Hannah Cooper is now a group admin      </h3>
      {% endset %}
      
      {{ govukNotificationBanner({
        html: html,
        type: "success"
      }) }}

      <span class="govuk-caption-xl">{{ data['groupName'] or 'Your test forms' }}</span>
      <h1 class="govuk-heading-xl">Members of this group</h1>
    </div>

    <div class="govuk-grid-column-full">
      <table class="govuk-table govuk-table--small-text-until-tablet">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Email</th>
            <th scope="col" class="govuk-table__header">Role</th>
            <th scope="col" class="govuk-table__header">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Hazal Arpalikli</td>
              <td class="govuk-table__cell">hazal.arpalikli@digital.cabinet-office.gov.uk </td>
              <td class="govuk-table__cell">Group admin</td>
              <td class="govuk-table__cell">
                <button formaction="#" type="submit" class="govuk-button govuk-button--secondary"
                data-module="govuk-button">
                Make editor
              </button>
              <br>
                <button formaction="#" type="submit" class="govuk-button govuk-button--secondary"
                  data-module="govuk-button">
                  Remove
                </button>
          
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Hannah Cooper </td>
            <td class="govuk-table__cell">hannah.cooper@digital.cabinet-office.gov.uk </td>
            <td class="govuk-table__cell">Group admin</td>
            <td class="govuk-table__cell"> 
              <button formaction="editmembers2" type="submit" class="govuk-button govuk-button--secondary"
              data-module="govuk-button">
              Make editor
            </button>
            <br>
            <button formaction="editmembers2" type="submit" class="govuk-button govuk-button--secondary"
            data-module="govuk-button">
            Remove
          </button></td>
          </tr>
          
        </tbody>
      </table>
    </div>

    <div class="govuk-grid-column-two-thirds">

      {{ govukButton({
        text: "Add an editor or group admin",
        href: "add-groupadmin-and-editor"
      }) }}

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What can ‘editors’ and ‘group admins’ do?
          </span>
        </summary>
        <div class="govuk-details__text">
          An editor can edit forms in a group but cannot make forms live.
        </div>
        <div class="govuk-details__text">
          A group admin can edit forms, make forms live and add editors to a group.
        </div>
        <div class="govuk-details__text">
          Only an organisation admin can add a group admin to a group.
        </div>
      </details>
    </div>

  </form>
</div>
{% endblock content %}
