{% extends "layout-govuk-forms.html" %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
      data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading"> You have one request to upgrade a trial group.</p>
      </div>
    </div>
  </div>


  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Your groups</h1>

    <h2 class="govuk-heading-m">Upgrade requests</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Group name</th>
          <th scope="col" class="govuk-table__header">Created by</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="#" class="govuk-link">Licensing forms</a>
          </td>
          <td class="govuk-table__cell">Hazal Arpalikli</td>
        </tr>
      </tbody>
    </table>


    <h2 class="govuk-heading-m">Active groups</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Group name</th>
          <th scope="col" class="govuk-table__header">Created by</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="#" class="govuk-link">Content team</a>
          </td>
          <td class="govuk-table__cell">Tom Illes</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="#" class="govuk-link">Consultations</a>
          </td>
          <td class="govuk-table__cell">Betty Mwema</td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-m">Trial groups</h2>
    <table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Group name</th>
          <th scope="col" class="govuk-table__header">Created by</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="grouplanding.html" class="govuk-link">Your test forms</a>
          </td>
          <td class="govuk-table__cell">Tom Illes</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="govuk-grid-column-two-thirds">

    <a href="creategroup.html" button type="submit" class="govuk-button govuk-button--secondary"
      data-module="govuk-button">
      Create a group
    </a>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What is a 'group'?
        </span>
      </summary>
      <div class="govuk-details__text">
        Each form is created inside a group. Anyone with a GOV.UK Forms account can make a group. They can add people
        from their organisation to that group to view, create and edit forms in it.
      </div>
      <div class="govuk-details__text">
        Because you’re an organisation admin, you can access all the groups in your organisation. 
      </div>
      <div class="govuk-details__text">
        When a group is first created it will be a ‘trial’ group. That means forms in the group cannot be made live.
      </div>
      <div class="govuk-details__text">
        As an organisation admin, you can upgrade a trial group to an ‘active’ group so forms in that group can be
        made live. People will be able to send a request to you to ask for their trial group to be upgraded.
      </div>
    </details>

  </div>
</div>
{% endblock content %}