{% extends "layout-govuk-forms.html" %}

{% block beforeContent %}
<a class="govuk-back-link" href="group">Back to your groups</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
      data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">This is a ‘trial’ group</p>
        <p class="govuk-body">
          Forms in this group cannot be made live unless the group is upgraded to an ‘active’ group.
        </p>

        <p class="govuk-body">
          <a href="upgrade" class="govuk-link">
            Upgrade this group
          </a>
        </p>
      </div>
    </div>

    <span class="govuk-caption-l">Trial group</span>
    <h1 class="govuk-heading-l"> {{ data['groupName'] or 'Your test forms' }}</h1>

    <p class="govuk-body">
      <a href="grouplanding" class="govuk-link">Change the name of this group</a>
    </p>
    <p class="govuk-body">
      <a href="editmembers" class="govuk-link">Edit members of this group</a>
    </p>

    {{ govukButton({
      text: "Create a form",
      href: "../../form-designer/name-your-form?journey=orgAdminTasks",
      isStartButton: true
    }) }}

  </div>
</div>
{% endblock content %}