={% extends "layout-govuk-forms.html" %}

{% block beforeContent %}
<a class="govuk-back-link" href="grouplanding">Back to your forms</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Upgrade this group</h1>
    <p class="govuk-body">Hazal Arpalikli has asked to upgrade this group to an ‘active’ group. </p>
    <p class="govuk-body">If you upgrade this group, any group admins in it will be able to make forms live. </p>
    <p class="govuk-body">We’ll send an email to the group admins to let them know your response to the upgrade request. </p>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h2 class="govuk-fieldset__heading">
            Do you want to upgrade this group?
          </h2>
        </legend>
       
        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="changedName">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="changedName-2">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <a href="licencingforms2.html" button type="submit" class="govuk-button" data-module="govuk-button">
      Save and continue
    </a>

  </div>
</div>
{% endblock content %}

  

