{% extends "layout-govuk-forms.html" %}

{% set pageTitle = 'Change the email address for completed forms' %}

{% block pageTitle %}
  {{ "Error:" if containsErrors }}{{ pageTitle }}: {{ data.formTitle or '[formTitle]' }} - GOV.UK Forms
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="completed-forms-email">
    Back to email address for completed forms
  </a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if containsErrors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}

      <span class="govuk-caption-l">{{ data.formTitle or '[formTitle]' }}</span>
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p class="govuk-body">
        Provide a new email address for completed forms to be sent to for processing. It should be a shared government email inbox.
      </p>

      <p class="govuk-body">
        To make sure the email address you provide is correct, we’ll send an email to it with a confirmation code and your email address.
      </p>

      <p class="govuk-body">
        The recipient will be asked to give you the code. You'll then need to enter the code to confirm the email address.
      </p>

      <p class="govuk-body">
        Completed forms will continue to be sent to {{ data['formsEmail']}} until the new email address is confirmed.
      </p>

      <form method="post">

        {{ govukInput({
          label: {
            text: "What email address should completed forms be sent to?",
            classes: "govuk-label--m"
          },
          classes: "govuk-!-width-two-thirds",
          id: "forms-email",
          name: "newFormsEmail",
          errorMessage: { text: errors['newFormsEmail'].text } if errors['newFormsEmail'].text
        }) }}


        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>
    </div>
  </div>


{% endblock %}
