{% extends "layout-govuk-forms.html" %}

{% set pageTitle = "Confirmation code sent" %}

{% block pageTitle %}
  {{ pageTitle }}: {{ data.formTitle or "[formTitle]" }} - GOV.UK Forms
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: pageTitle
      }) }}

      <p class="govuk-body">
        We’ve sent a confirmation code and your email address to 
        {{ data.formsEmail or "email@address.com" | safe }}
      </p>
      
      <h2 class="govuk-heading-m">What you need to do next</h2>

      <p class="govuk-body">
        The recipient will be asked to give you the code. You need to enter the code to confirm the email address.
      </p>

      <p class="govuk-body">
         <a href="enter-email-confirmation-code" class="govuk-link">Enter the email address confirmation code</a>
      </p>

      <p class="govuk-body">
        <a href="../your-form" class="govuk-link">Continue creating a form</a>
      </p>

    </div>
  </div>

{% endblock %}