{% extends "layout-govuk-forms.html" %}

{% set pageTitle = 'The confirmation code has expired' %}

{% block pageTitle %}
  {{pageTitle|safe}} - GOV.UK Forms
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{pageTitle|safe}}</h1>

      <p class="govuk-body">
        The code is only valid for 7 days.
      </p>

      <p class="govuk-body">
        <a href="confirmation-code-sent" class="govuk-link">
          Send a new confirmation code to {{data.formsEmail or 'email@address.com' | safe}}
        </a>
      <p>

      <p class="govuk-body">
        <a href="../create-form" class="govuk-link">Continue creating a form</a>
      </p>

    </div>
  </div>


{% endblock %}
