{% extends "layout-govuk-forms.html" %}

{% set pageTitle = "Email address confirmed" %}

{% block pageTitle %}
  {{ pageTitle }}: {{ data.formTitle or "[formTitle]" }} - GOV.UK Forms
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: pageTitle
      }) }}

      <p class="govuk-body">
        Completed forms will be sent to {{ data.formsEmail or "email@address.com" | safe }}.
      </p>

      <p class="govuk-body">
        <a href="../your-form" class="govuk-link">Continue creating a form</a>
      </p>

    </div>
  </div>

{% endblock %}