{% extends "layout-govuk-forms.html" %}

{% set pageTitle = 'Set the email address for completed forms' %}
{% set formTitle = data['formTitle'] or 'Apply for a juggling licence' %}

{% block pageTitle %}
  {{ "Error:" if containsErrors }}{{pageTitle|safe}} - GOV.UK Forms
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="../your-form" target="_parent">
    Back to create a form
  </a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if containsErrors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}

      <span class="govuk-caption-l">{{ data['formTitle'] }}</span>
      <h1 class="govuk-heading-l">{{pageTitle|safe}}</h1>

      <p class="govuk-body">
        You need to provide an email address for completed forms to be sent to for processing. It should be a shared government email inbox.
      </p>

      <p class="govuk-body">
        To make sure the email address you provide is correct, we’ll send an email to it with a confirmation code and your email address.
      </p>

      <p class="govuk-body">
        The recipient will be asked to give you the code. You'll then need to enter the code to confirm the email address.
      </p>

      <form method="post">

        {{ govukInput({
          label: {
            text: "What email address should completed forms be sent to?",
            classes: "govuk-label--m"
          },
          classes: "govuk-!-width-two-thirds",
          id: "forms-email",
          name: "formsEmail",
          value: data['formsEmail'],
          errorMessage: { text: errors['formsEmail'].text } if errors['formsEmail'].text
        }) }}


        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>
    </div>
  </div>


{% endblock %}
