{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="question-6">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers before sending your application</h1>

      <h2 class="govuk-heading-m">About you</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Where you live
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['where-do-you-live'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="question-1">
              Change
              <span class="govuk-visually-hidden"> where you live</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['full-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="question-1">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['date-of-birth-day'] }} /
            {{ data['date-of-birth-month'] }} /
            {{ data['date-of-birth-year'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="question-2">
              Change
              <span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
              {{ data['address-line-1'] }}
              {{ data['address-line-2'] }}
              {{ data['address-town'] }},
              {{ data['address-county'] }}
              {{ data['address-postcode'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="question-3">
              Change
              <span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['email'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="question-4">
              Change
              <span class="govuk-visually-hidden"> email address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National Insurance number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['national-insurance-number'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="question-5">
              Change
              <span class="govuk-visually-hidden"> National Insurance number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['telephone-number'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="question-6">
              Change
              <span class="govuk-visually-hidden"> Telephone number</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">About your pet</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Kind of pet
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['pet-type'] }}
            {{ data['pet-type-other'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="question-7">
              Change
              <span class="govuk-visually-hidden"> kind of pet</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Pet description
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['pet-description'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="question-8">
              Change
              <span class="govuk-visually-hidden"> pet description</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Now send your application</h2>

      <p>By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Accept and send
        </button>

      </form>

    </div>
  </div>
{% endblock %}
