{% extends "layout.html" %}

{% block pageTitle %}
  What kind of pet do you have?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="question-6">Back</a>
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="question-8" method="post">

      <span class="govuk-caption-xl">About your pet</span>

        {% set otherHtml %}
        {{ govukInput({
          id: "pet-type-other",
          name: "pet-type-other",
          type: "text",
          spellcheck: false,
          classes: "govuk-!-width-one-third",
          label: {
            text: "Species name"
          }
        }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: "pet-type",
          name: "pet-type",
          fieldset: {
            legend: {
              text: "What kind of pet do you have?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select one option"
          },
          items: [
            {
              value: "Cat",
              text: "Cat"
            },
            {
              value: "Dog",
              text: "Dog"
            },
            {
              value: "Gerbil",
              text: "Gerbil"
            },
            {
              value: "Rabbit",
              text: "Rabbit"
            },
            {
              value: "Tortoise",
              text: "Tortoise"
            },
            {
              value: "",
              text: "Other",
              conditional: {
                html: otherHtml
              }
            }
          ]
        }) }}

        {{ govukDetails({
          summaryText: "Help with this question",
          text: "Lorem ipsum"
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}

          <p>or <a class="govuk-link" href="task-list">save for later</a></p>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
