{% extends "layout.html" %}

{% block pageTitle %}
  Provide a description of your pet
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="question-7">Back</a>
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="check-your-answers" method="post">

      <span class="govuk-caption-xl">About your pet</span>

        {{ govukCharacterCount({
          name: "pet-description",
          id: "pet-description",
          maxlength: 500,
          label: {
            text: "Provide a description of your pet",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Include information about size, colouring and any distinguishing features"
          }
        }) }}

        {{ govukDetails({
          summaryText: "Help with this question",
          text: "Lorem ipsum"
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}

          <p>or <a class="govuk-link" href="task-list">save for later</a></p>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
