{% extends "layout.html" %}

{% block pageTitle %}
  Take your pet abroad
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Take your pet abroad
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have answered 0 of 10 questions.</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            Check before you start
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="eligibility-check" aria-describedby="eligibility-check">
                  Where you live
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="question-1">Not started</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            About you
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                  Name
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="question-1">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                  Date of birth
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="question-2">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                  Address
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="question-3">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                  Email address
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="question-4">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                  National Insurance number
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="question-5">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                  Telephone number
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="question-6">Cannot start yet</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            About your pet
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                  Species
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="question-7">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                  Description
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="question-8">Cannot start yet</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            Apply
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Submit and pay
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>

{% endblock %}
