{% extends "layout.html" %}

{% block pageTitle %}
  Take your pet abroad
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Take your pet abroad
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 0 of 3 sections.</p>

      <ol class="app-task-list">
        <li>
          <!--
          <h2 class="app-task-list__section">
            About you
          </h2>
          -->
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="question-1" aria-describedby="eligibility">
                  Check before you start
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="question-1">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="question-1" aria-describedby="question-1">
                  About you
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="question-1">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="question-7" aria-describedby="question-7">
                  About your pet
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="question-7">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                  Apply and pay
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
          </ul>
        </li>

      </ol>
    </div>
  </div>

{% endblock %}
