{% extends "layout-govuk-forms.html" %}

{% set pageTitle = 'Check your question' %}

{% set answerType = pageData['type']|capitalize %}
{% if pageData['type'] === 'personName' %}
  {% set answerType = 'Person’s name' %}
  {% set inputTypeTitle = data.personNameInputTypeTitle %}
  {% if pageData['input'] === 'single-field' %}
    {% set inputType = 'Full name in a single box' %}
  {% elif pageData['input'] === 'multi-field' %}
    {% set inputType = 'First and last names in separate boxes' %}
  {% elif pageData['input'] === 'multi-field-plus' %}
    {% set inputType = 'First, middle and last names in separate boxes' %}
  {% endif %}
{% elif pageData['type'] === 'companyName' %}
  {% set answerType = 'Company or organisation’s name' %}
{% elif pageData['type'] === 'email' %}
  {% set answerType = 'Email address' %}
{% elif pageData['type'] === 'phone' %}
  {% set answerType = 'Phone number' %}
{% elif pageData['type'] === 'national-insurance-number' %}
  {% set answerType = 'National Insurance number' %}
{% elif pageData['type'] === 'address' %}
  {% set inputTypeTitle = data.addressInputTypeTitle %}
  {% if ('uk-address' in pageData['input']) and ('international-address' in pageData['input']) %}
    {% set inputType = 'UK and international addresses' %}
  {% elif 'uk-address' in pageData['input'] %}
    {% set inputType = 'UK addresses' %}
  {% elif 'international-address' in pageData['input'] %}
    {% set inputType = 'International addresses' %}
  {% endif %}
{% elif pageData['type'] === 'date' %}
  {% set inputTypeTitle = data.dateOfBirthInputTypeTitle %}
  {% if pageData['input'] === 'yes' %}
    {% set inputType = 'Yes' %}
  {% else %}
    {% set inputType = 'No' %}
  {% endif %}
{% elif pageData['type'] === 'select' %}
  {% set answerType = 'Selection from a list' %}
{% elif pageData['type'] === 'number' %}
{% elif pageData['type'] === 'text' %}
  {% set inputTypeTitle = data.textLengthInputTypeTitle %}
  {% if pageData['input'] === 'single-line-input' %}
    {% set inputType = 'A single line of text' %}
  {% else %}
    {% set inputType = 'More than a single line of text' %}
  {% endif %}
{% endif %}

{% block pageTitle %}
  {{ pageTitle }} - GOV.UK Forms
{% endblock %}

{# Overwrite back link if last action was to save #}
{% if successMessage %}
{% set previousPageText = 'Back to your questions' %}
{% set previousPageLink = '/form-designer/clear-empty' %}
{% endif %}

{% block beforeContent %}
  {# Back links are handled in routes.js #}
  <a class="govuk-back-link" href="{{ previousPageLink }}" target="_parent">
    {{ previousPageText }}
  </a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form id="form" class="form" method="post" novalidate>

      {% if containsErrors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}
      
      {% set html %}
        <h3 class="govuk-notification-banner__heading">
          {{ successMessage }}
        </h3>
        <ul class="govuk-list">
          <li>
            <a {% if 'new' in nextActionURL %}role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-3" data-module="govuk-button"{% else %}class="govuk-link govuk-link--no-visited-state"{% endif %} href="{{ nextActionURL }}">
              {{ nextActionText }}
            </a>
          </li>
          <li>
            <a class="govuk-link" href="{{ previousPageLink }}" target="_parent">
              {{ previousPageText }}
            </a>
          </li>
        </ul>
      {% endset %}

      {% if successMessage %}
        {{ govukNotificationBanner({
          type: 'success',
          html: html
        }) }}
      {% endif %}

      <span class="govuk-caption-l">Question {{ pageId | int + 1 }}</span>
      <h1 class="govuk-heading-l">{{pageTitle}}</h1>

      <!-- Answer settings -->
      <h2 class="govuk-heading-m">Answer settings</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Answer type
          </dt>
          <dd class="govuk-summary-list__value">
            {{ answerType }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="edit-answer-type">
              Change <span class="govuk-visually-hidden"> - Answer type {{ answerType }}<span>
            </a>
          </dd>
        </div>
        {% if pageData['input'] and (pageData['input'] !== '') %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {{ inputTypeTitle }}
          </dt>
          <dd class="govuk-summary-list__value">
            {{ inputType }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="edit-settings#input">
              Change <span class="govuk-visually-hidden"> - {{ inputTypeTitle }}<span>
            </a>
          </dd>
        </div>
        {% endif %}
        {% if pageData['title'] and (pageData['type'] === 'personName') %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Title needed
          </dt>
          <dd class="govuk-summary-list__value">
            {{ pageData['title'] | capitalize }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="edit-settings#title">
              Change <span class="govuk-visually-hidden"> - Title needed<span>
            </a>
          </dd>
        </div>
        {% endif %}
        {% if pageData['item-list'] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Options
          </dt>
          <dd class="govuk-summary-list__value">
            {% if (pageData['item-list']|length|int >= 1) %}
              {% for item in pageData['item-list'] %}{{item}}{% if not loop.last %}, {% endif %}{% endfor %}
            {% else %}
              No options added
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="edit-settings#option-0">
              Change <span class="govuk-visually-hidden"> - Options<span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Only select one option
          </dt>
          <dd class="govuk-summary-list__value">
            {{ 'Yes' if pageData['listSettings'] and pageData['listSettings'].includes('oneOption') else 'No' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="edit-settings#oneOption">
              Change <span class="govuk-visually-hidden"> - Only select one option<span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Include ‘none of the above’ option
          </dt>
          <dd class="govuk-summary-list__value">
            {{ 'Yes' if pageData['listSettings'] and pageData['listSettings'].includes('noneOption') else 'No' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="edit-settings#noneOption">
              Change <span class="govuk-visually-hidden"> - Include ‘none of the above’ option<span>
            </a>
          </dd>
        </div>
        {% endif %}
      </dl>

      <!-- Your question -->
      <h2 class="govuk-heading-m">Your question</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Question text
          </dt>
          <dd class="govuk-summary-list__value">
            {{ pageData['long-title'] or 'Question text' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="edit#long-title">
              Change <span class="govuk-visually-hidden"> - Question text<span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Hint text (optional)
          </dt>
          <dd class="govuk-summary-list__value">
            {{ pageData['hint-text'] or 'None added' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="edit#hint-text">
              Change <span class="govuk-visually-hidden"> - Hint text<span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Add guidance
          </dt>
          <dd class="govuk-summary-list__value">
            {{ pageData['additional-guidance'] or 'No' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="edit#additional-guidance">
              Change <span class="govuk-visually-hidden"> - Add guidance<span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Make this mandatory or optional
          </dt>
          <dd class="govuk-summary-list__value">
            {{ 'Optional' if ((pageData['questionOptional']) and ('questionOptional' in pageData['questionOptional'])) else 'Mandatory' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="edit">
              Change <span class="govuk-visually-hidden"> - Make this mandatory or optional<span>
            </a>
          </dd>
        </div>
      </dl>

      {% if pageData['additional-guidance'] == 'Yes' %}
      <!-- Guidance -->
      <h2 class="govuk-heading-m">Guidance</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Page heading
          </dt>
          <dd class="govuk-summary-list__value">
            {{ pageData['page-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="additional-guidance">
              Change <span class="govuk-visually-hidden"> - Page heading<span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Guidance text
          </dt>
          <dd class="govuk-summary-list__value">
            {{ pageData['additional-guidance-text'] | striptags(true) | escape | nl2br }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="additional-guidance">
              Change <span class="govuk-visually-hidden"> - Guidance text<span>
            </a>
          </dd>
        </div>
      </dl>
      {% endif %}

      <input type="hidden" id="questionSaved" name="questionSaved" value="Yes" />

      <div class="govuk-button-group">
        {# Green CTA - Save question #}
        {{ govukButton({
          text:  "Save question",
          name: "action",
          value: "update"
        }) }}
        {# Grey CTA - Save and preview question
        {{ govukButton({
          classes: "govuk-button--secondary",
          text:  "Save and preview",
          name: "action",
          value: "savePreview"
        }) }} #}
      </div>

      {% if editingExistingQuestion === 'Yes' %}
      {{ govukButton({
        text: "Delete question",
        classes: "govuk-button--warning",
        name: "action",
        value: "deletePage"
      }) }}

      <p class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" href="{{ nextActionURL }}">
          {{ nextActionText }}
        </a>
      </p>
      {% endif %}

      {# If we are not sure what the back link is going to don’t show the bottom link #}
      {% if previousPageText !== 'Back' %}
      <p class="govuk-body">
        <a class="govuk-link" href="{{ previousPageLink }}" target="_parent">
          {{ previousPageText }}
        </a>
      </p>
      {% endif %}

    </form>
  </div>
</div>
{% endblock %}
