{% extends "layout-govuk-forms.html" %}

{% set pageTitle = 'Check your question' %}

{% set answerType = pageData['type']|capitalize %}
{% if pageData['type'] === 'personName' %}
  {% set answerType = 'Person’s name' %}
  {% set inputTypeTitle = data.personNameInputTypeTitle %}
  {% if pageData['input'] === 'single-field' %}
    {% set inputType = 'Full name in a single box' %}
  {% elif pageData['input'] === 'multi-field' %}
    {% set inputType = 'First and last names in separate boxes' %}
  {% elif pageData['input'] === 'multi-field-plus' %}
    {% set inputType = 'First, middle and last names in separate boxes' %}
  {% endif %}
{% elif pageData['type'] === 'companyName' %}
  {% set answerType = 'Company or organisation’s name' %}
{% elif pageData['type'] === 'email' %}
  {% set answerType = 'Email address' %}
{% elif pageData['type'] === 'phone' %}
  {% set answerType = 'Phone number' %}
{% elif pageData['type'] === 'national-insurance-number' %}
  {% set answerType = 'National Insurance number' %}
{% elif pageData['type'] === 'address' %}
  {% set inputTypeTitle = data.addressInputTypeTitle %}
  {% if ('uk-address' in pageData['input']) and ('international-address' in pageData['input']) %}
    {% set inputType = 'UK and international addresses' %}
  {% elif 'uk-address' in pageData['input'] %}
    {% set inputType = 'UK addresses' %}
  {% elif 'international-address' in pageData['input'] %}
    {% set inputType = 'International addresses' %}
  {% endif %}
{% elif pageData['type'] === 'date' %}
  {% set inputTypeTitle = data.dateOfBirthInputTypeTitle %}
  {% if pageData['input'] === 'yes' %}
    {% set inputType = 'Yes' %}
  {% else %}
    {% set inputType = 'No' %}
  {% endif %}
{% elif pageData['type'] === 'select' %}
  {% set answerType = 'Selection from a list' %}
{% elif pageData['type'] === 'number' %}
{% elif pageData['type'] === 'text' %}
  {% set inputTypeTitle = data.textLengthInputTypeTitle %}
  {% if pageData['input'] === 'single-line-input' %}
    {% set inputType = 'A single line of text' %}
  {% else %}
    {% set inputType = 'More than a single line of text' %}
  {% endif %}
{% endif %}

{% block pageTitle %}
  {{ pageTitle }} - GOV.UK Forms
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form id="form" class="form" method="post" novalidate>

      {% if containsErrors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}
      
      {% set html %}
        <h3 class="govuk-notification-banner__heading">
          {{ successMessage }}
        </h3>
        <ul class="govuk-list">
          <li>
            <a {% if ('new' in nextActionURL) or ('group-or-question' in nextActionURL) %}role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-3" data-module="govuk-button"{% else %}class="govuk-link govuk-link--no-visited-state"{% endif %} href="{{ nextActionURL }}">
              {{ nextActionText }}
            </a>
          </li>
          <li>
            <a class="govuk-link" href="{{ previousPageLink }}" target="_parent">
              {{ previousPageText }}
            </a>
          </li>
        </ul>
      {% endset %}

      {% if successMessage %}
        {{ govukNotificationBanner({
          type: 'success',
          html: html
        }) }}
      {% endif %}

      <span class="govuk-caption-l">
        Question {{ pageId | int + 1 }} {% if (data.addJourney == 'addAnother1') and (pageData['addToGroup'] != null) -%} - Part of {{ groupData.groupName or '[setName]' }}{%- endif %}
      </span>
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <!-- Answer settings -->
      <h2 class="govuk-heading-m">Answer settings</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Answer type
          </dt>
          <dd class="govuk-summary-list__value">
            {{answerType}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="edit-answer-type">
              Change <span class="govuk-visually-hidden">answer type {{answerType}}<span>
            </a>
          </dd>
        </div>
        {% if pageData['input'] and (pageData['input'] !== '') %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {{inputTypeTitle}}
          </dt>
          <dd class="govuk-summary-list__value">
            {{inputType}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="edit-settings#input">
              Change <span class="govuk-visually-hidden">{{inputTypeTitle}} {{inputType}}<span>
            </a>
          </dd>
        </div>
        {% endif %}
        {% if pageData['title'] and (pageData['type'] === 'personName') %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Title needed
          </dt>
          <dd class="govuk-summary-list__value">
            {{pageData['title']|capitalize}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="edit-settings#title">
              Change <span class="govuk-visually-hidden">title needed {{pageData['title']|capitalize}}<span>
            </a>
          </dd>
        </div>
        {% endif %}
        {% if pageData['item-list'] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Options
          </dt>
          <dd class="govuk-summary-list__value">
            {% if (pageData['item-list']|length|int >= 1) %}
              {% for item in pageData['item-list'] %}{{item}}{% if not loop.last %}, {% endif %}{% endfor %}
            {% else %}
              No options added
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="edit-settings#option-0">
              Change <span class="govuk-visually-hidden">options<span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Only select one option
          </dt>
          <dd class="govuk-summary-list__value">
            {{'Yes' if pageData['listSettings'] and pageData['listSettings'].includes('oneOption') else 'No'}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="edit-settings#oneOption">
              Change <span class="govuk-visually-hidden">only select one option<span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Include 'none of the above' option
          </dt>
          <dd class="govuk-summary-list__value">
            {{'Yes' if pageData['listSettings'] and pageData['listSettings'].includes('noneOption') else 'No'}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="edit-settings#noneOption">
              Change <span class="govuk-visually-hidden">include 'none of the above' option<span>
            </a>
          </dd>
        </div>
        {% endif %}
      </dl>

      <!-- Your question -->
      <h2 class="govuk-heading-m">Your question</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Question text
          </dt>
          <dd class="govuk-summary-list__value">
            {{ pageData['long-title'] or 'Question text' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="edit#long-title">
              Change <span class="govuk-visually-hidden">Question {{ pageData['long-title'] or 'Question text' }}<span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Hint text (optional)
          </dt>
          <dd class="govuk-summary-list__value">
            {{pageData['hint-text'] or 'None added' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="edit#hint-text">
              Change <span class="govuk-visually-hidden">Hint text {{pageData['hint-text']}}<span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Add guidance
          </dt>
          <dd class="govuk-summary-list__value">
            {{pageData['additional-guidance'] or 'No'}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="edit#additional-guidance">
              Change <span class="govuk-visually-hidden">Add guidance {{pageData['additional-guidance']}}<span>
            </a>
          </dd>
        </div>
        {% if (pageData['type'] != 'select') and ((data.groupQuestions != 'newQuestionRepeats') or (pageData.repeatQuestion != 'Yes')) %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Make this mandatory or optional
          </dt>
          <dd class="govuk-summary-list__value">
            {{ 'Optional' if ((pageData['questionOptional']) and ('questionOptional' in pageData['questionOptional'])) else 'Mandatory' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="edit">
              Change <span class="govuk-visually-hidden"> Make this question optional<span>
            </a>
          </dd>
        </div>
        {% endif %}
        {% if data.addJourney == 'addAnother2' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Can be answered multiple times
            </dt>
            <dd class="govuk-summary-list__value">
              {{ pageData['repeatQuestion'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="edit#repeatQuestion">
                Change <span class="govuk-visually-hidden"> Can be answered multiple times<span>
              </a>
            </dd>
          </div>
          {% if pageData['repeatQuestion'] == 'Yes' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Add to a set of questions
              </dt>
              <dd class="govuk-summary-list__value">
                {{ pageData['addToSet'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="add-to-set#addToSet">
                  Change <span class="govuk-visually-hidden"> Add to a set of questions<span>
                </a>
              </dd>
            </div>
          {% endif %}
        {% endif %}
        {% if (pageData['repeatQuestion'] == 'Yes') and (pageData['addToGroup'] == null) %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Number of times question can be answered
          </dt>
          <dd class="govuk-summary-list__value">
            Min: {{ pageData['minLoop'] }}<br>
            Max: {{ pageData['maxLoop'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="edit#minimum-loop">
              Change <span class="govuk-visually-hidden"> number of times question can be answered<span>
            </a>
          </dd>
        </div>
        {% endif %}
      </dl>

      {% if pageData['additional-guidance'] == 'Yes' %}
      <!-- Guidance -->
      <h2 class="govuk-heading-m">Guidance</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Page heading
          </dt>
          <dd class="govuk-summary-list__value">
            {{pageData['page-name']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="additional-guidance">
              Change <span class="govuk-visually-hidden">Page heading {{pageData['page-name']}}<span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Guidance text
          </dt>
          <dd class="govuk-summary-list__value">
            {{ pageData['additional-guidance-text'] | striptags(true) | escape | nl2br }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="additional-guidance">
              Change <span class="govuk-visually-hidden">Guidance text {{pageData['additional-guidance-text']}}<span>
            </a>
          </dd>
        </div>
      </dl>
      {% endif %}

      {% if (pageData['addToSet'] == 'Yes') or (pageData['addToGroup'] != null) -%}
      {% for group in data.groups -%}
      {% if group.groupIndex == pageData.addToGroup -%}
      <h2 class="govuk-heading-m">Part of a question set</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Question set name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ group.groupName }}
          </dd>
          <dd class="govuk-summary-list__actions">
            {% if (data.addJourney == 'addAnother2') and (data.referrer != 'choose-group') %}
            <a class="govuk-link govuk-link--no-visited-state" href="edit-group#group-name">
              Change <span class="govuk-visually-hidden"> question set name<span>
            </a>
            {% else %}
            <a class="govuk-link govuk-link--no-visited-state" href="choose-group">
              Change <span class="govuk-visually-hidden"> question set<span>
            </a>
            {% endif %}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Number of times this set can be answered
          </dt>
          <dd class="govuk-summary-list__value">
            Min: {{ group['minLoop'] }}<br>
            Max: {{ group['maxLoop'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            {% if (data.addJourney == 'addAnother2') and (data.referrer != 'choose-group') %}
            <a class="govuk-link govuk-link--no-visited-state" href="edit-group#minimum-loop">
              Change <span class="govuk-visually-hidden"> number of times this set can be answered<span>
            </a>
            {% endif %}
          </dd>
        </div>
      </dl>
      {%- endif %}
      {%- endfor %}
      {%- endif %}

      <input type="hidden" id="questionSaved" name="questionSaved" value="Yes" />

      <div class="govuk-button-group">
        {# Green CTA - Save question #}
        {{ govukButton({
          text:  "Save question",
          name: "action",
          value: "update"
        }) }}
        {# Grey CTA - Save and preview question #}
        {{ govukButton({
          classes: "govuk-button--secondary",
          text:  "Save and preview",
          name: "action",
          value: "savePreview"
        }) }}

        {% if editingExistingQuestion === 'Yes' -%}
          {% if (data.addJourney == 'addAnother1') and (pageData['addToGroup'] != null) -%}
            {{ govukButton({
              classes: "govuk-button--secondary",
              text:  "Finish question set",
              name: "action",
              value: "completeSet"
            }) }}
          {%- endif %}
        {%- endif %}
      </div>

      {% if editingExistingQuestion === 'Yes' %}
      {{ govukButton({
        text: "Delete question",
        classes: "govuk-button--warning",
        name: "action",
        value: "deletePage"
      }) }}

      <p class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" href="{{ nextActionURL }}">
          {{ nextActionText }}
        </a>
      </p>
      {% endif %}

      <p class="govuk-body">
        <a class="govuk-link" href="/form-designer/clear-empty" target="_parent">
          Back to your questions
        </a>
      </p>

    </form>
  </div>
</div>
{% endblock %}
