{% extends "layout-govuk-forms.html" %}

{% block pageTitle %}
  Edit question
{% endblock %}

{% block content %}

<form id="form" class="form" action="../edit-page/0" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Start page</span>
      <h1 class="govuk-heading-l">{{ data['formTitle'] }}</h1>

        {#

        Every field id is prefixed with a unique page id.
        So we can have separate configurations for every page.

        #}
        {% set pagePrefix = "p" + pageId + "-" %}


        {{ govukInput({
          label: {
            text: "Form title",
            classes: "govuk-label--m"
          },
          formGroup: {
            classes: "govuk-!-margin-bottom-3"
          },
          id: "formTitle",
          name: "formTitle",
          value: data['formTitle']
        }) }}

        {{ govukCharacterCount({
          name: "formIntro",
          id: "formIntro",
          maxlength: 2000,
          value: data['formIntro'],
          label: {
            text: "Form intro",
            classes: "govuk-label--m"
          }
        }) }}

        <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Add text below start button
            </span>
          </summary>
          <div class="govuk-details__text govuk-!-padding-bottom-0">
        {{ govukTextarea({
          name: "formBeforeStart",
          id: "formBeforeStart",
          value: data['formBeforeStart'],
          classes: "govuk-!-margin-bottom-1",
          label: {
            text: "Before you start",
            classes: "govuk-visually-hidden"
          },
          hint: {
            text: "Use for information about alternative channels"
          }
        }) }}
          </div>
        </details>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <div class="govuk-button-group">
        {% if data['highestPageId'] == 0 %}

        {{ govukButton({
          text: "Create first page",
          name: "action",
          value: "createNextPage"
        }) }}

        {% else %}

        {{ govukButton({
          text: "Edit next page",
          name: "action",
          value: "editNextPage"
        }) }}

        {% endif %}

        <p>
          or <a class="govuk-link govuk-link--no-visited-state" href="../form-index">go to page list</a>
        </p>
        </div>


    </div>

    <div class="govuk-grid-column-one-third">
      <div class="preview-pane-wrapper">
        <div class="preview-header">
          <p class="preview-link govuk-body-s">
            <!-- <a href="#" target="_blank" onclick="document.getElementById('form').submit();">Refresh</a> &nbsp;|&nbsp; -->
            <a href="../start-page-preview-new-tab" target="_blank">Open in a new tab</a>
          </p>
        </div>
        <iframe title="Page preview" data-module="app-example-frame" class="preview-pane app-example__frame app-example__frame--resizable" src="../start-page-preview" frameborder="1" loading="lazy" id="iFrameResizer0" scrolling="no" ></iframe>
        {{ govukButton({
          text: "Update preview",
          classes: "update-button",
          name: "action",
          value: "update"
        }) }}

      </div>
    </div>

  </div>

</form>

{% endblock %}
