{% extends "layout-govuk-forms.html" %}

{% set pageTitle = "What's your question?" %}

{% set answerType = pageData['type']|capitalize %}

{% if pageData['type'] === 'select' %}
  {% set answerType = 'Selection from a list' %}
  {% if pageData['oneOption'] %}
    {% set questionHint = data.selectionOneOptionQuestionHint %}
  {% else %}
    {% set questionHint = data.selectionMultipleOptionsQuestionHint %}
  {% endif %}
{% else %}
  {% set questionHint = 'Ask a question the way you would in person. For example ‘What is your address?’' %}
{% endif %}

{% block pageTitle %}
  {{ "Error: " if containsErrors }}{{ pageTitle }} - GOV.UK Forms
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form id="form" class="form" method="post" novalidate>
          {% if containsErrors %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          }) }}
          {% endif %}

          <span class="govuk-caption-l">
            Question {{ pageId | int + 1 }} {% if (data.addJourney == 'addAnother1') and (pageData['addToGroup'] != null) -%} - Part of {{ groupData.groupName or '[setName]' }}{%- endif %}
          </span>

          {% set namePrefix = "pages[" + pageIndex + "]" %}

          <!-- Long question text input -->
          {{ govukInput({
            label: {
               text: pageTitle,
               classes: "govuk-label--l",
               isPageHeading: true
            },
            hint: {
              text: questionHint
            },
            id: "long-title",
            name: "long-title",
            value: pageData['long-title'],
            errorMessage: { text: errors['long-title'].text } if errors['long-title'].text
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}
        
          <p class="govuk-body">
            <a class="govuk-link" href="/form-designer/clear-empty" target="_parent">
              Back to your questions
            </a>
          </p>

      </form>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
  // call function from `assets/javascripts/application.js`
  // removeSuccessNotification();
</script>
{% endblock %}
