{% extends "layout-govuk-forms.html" %}

{% set pageTitle = 'Edit question' %}

{% set answerType = pageData['type']|capitalize %}
{% if pageData['type'] === 'personName' %}
  {% set questionHint = data.personNameQuestionHint %}
  {% set hintHint = data.personNameHintHint %}
{% elif pageData['type'] === 'companyName' %}
  {% set questionHint = data.companyNameQuestionHint %}
  {% set hintHint = data.companyNameHintHint %}
{% elif pageData['type'] === 'email' %}
  {% set questionHint = data.emailQuestionHint %}
  {% set hintHint = data.emailHintHint %}
{% elif pageData['type'] === 'phone' %}
  {% set questionHint = data.phoneQuestionHint %}
  {% set hintHint = data.phoneHintHint %}
{% elif pageData['type'] === 'national-insurance-number' %}
  {% set questionHint = data.ninoQuestionHint %}
  {% set hintHint = data.ninoHintHint %}
{% elif pageData['type'] === 'address' %}
  {% set questionHint = data.addressQuestionHint %}
  {% set hintHint = data.addressHintHint %}
{% elif pageData['type'] === 'date' %}
  {% if pageData['input'] === 'yes' %}
    {% set questionHint = data.dobQuestionHint %}
    {% set hintHint = data.dobHintHint %}
  {% else %}
    {% set questionHint = data.dateQuestionHint %}
    {% set hintHint = data.dateHintHint %}
  {% endif %}
{% elif pageData['type'] === 'select' %}
  {% if pageData['oneOption'] %}
    {% set questionHint = data.selectionOneOptionQuestionHint %}
    {% set hintHint = data.selectionOneOptionHintHint %}
  {% else %}
    {% set questionHint = data.selectionMultipleOptionsQuestionHint %}
    {% set hintHint = data.selectionMultipleOptionsHintHint %}
  {% endif %}
{% elif pageData['type'] === 'number' %}
  {% set questionHint = data.numberQuestionHint %}
  {% set hintHint = data.numberHintHint %}
{% elif pageData['type'] === 'text' %}
  {% if pageData['input'] === 'single-line-input' %}
    {% set questionHint = data.textSingleLineQuestionHint %}
    {% set hintHint = data.textSingleLineHintHint %}
  {% else %}
    {% set questionHint = data.textMultipleLinesQuestionHint %}
    {% set hintHint = data.textMultipleLinesHintHint %}
  {% endif %}
{% else %}
  {% set questionHint = 'Ask a question the way you would in person. For example ‘What is your address?’' %}
  {% set hintHint = "You can add a short hint to help people answer the question. For example, to explain the format the answer should be in, or where to find the information you’ve asked for." %}
{% endif %}

{% block pageTitle %}
  {{ "Error: " if containsErrors }}{{ pageTitle }} - GOV.UK Forms
{% endblock %}

{% block beforeContent %}
  {# Back links are handled in routes.js #}
  <a class="govuk-back-link" href="{{ previousPageLink }}" target="_parent">
    {{ previousPageText }}
  </a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form id="form" class="form" method="post" novalidate>

          {% if containsErrors %}
            {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: errorList
            }) }}
          {% endif %}

          <span class="govuk-caption-l">Question {{ pageId | int + 1 }}</span>
          <h1 class="govuk-heading-l">{{pageTitle}}</h1>

          {% set namePrefix = "pages[" + pageIndex + "]" %}

          <!-- Long question text input -->
          {{ govukInput({
            label: {
              text: "Question text",
              classes: "govuk-label--m"
            },
            hint: {
              text: questionHint
            },
            id: "long-title",
            name: "long-title",
            value: pageData['long-title'],
            errorMessage: { text: errors['long-title'].text } if errors['long-title'].text 
          }) }}

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          <!-- Hint text input -->
          {{ govukTextarea({
            label: {
              text: "Hint text (optional)",
              classes: "govuk-label--m"
            },
            hint: {
              text: hintHint
            },
            id: "hint-text",
            name: "hint-text",
            value: pageData['hint-text']
          }) }}

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          <!-- Additional guidance -->
          {{ govukRadios({
            classes: "govuk-radios--inline",
            name: "additional-guidance",
            fieldset: {
              legend: {
                text: "Do you need to add guidance to help people answer the question?",
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "Only add guidance if you need to give a longer explanation of how to answer the question, or to format your content with paragraphs, headings, lists or links."
            },
            items: [
              {
                value: "Yes",
                text: "Yes",
                checked: checked(namePrefix + "['additional-guidance']", "Yes")
              },
              {
                value: "No",
                text: "No",
                checked: checked(namePrefix + "['additional-guidance']", "No")
              }
            ],
            errorMessage: { text: errors['additional-guidance'].text } if errors['additional-guidance'].text
          }) }}

          <!-- Question settings -->
          {% if pageData['type'] != 'select' %}
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            {{ govukRadios({
              idPrefix: "questionOptional",
              name: "questionOptional",
              fieldset: {
                legend: {
                  text: "Should this question be mandatory or optional?",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                {
                  value: "mandatory",
                  text: "Mandatory",
                  checked: checked(namePrefix + "['questionOptional']", "mandatory")
                },
                {
                  value: "questionOptional",
                  text: "Optional",
                  hint: {
                    text: "We’ll add ‘(optional)’ to the end of the question text."
                  },
                  checked: checked(namePrefix + "['questionOptional']", "questionOptional")
                }
              ],
              errorMessage: { text: errors['questionOptional'].text } if errors['questionOptional'].text 
            }) }}
          {% endif %}

          {{ govukButton({
            text: "Continue",
            name: "action",
            value: "editPage"
          }) }}
        
          {# If we are not sure what the back link is going to don’t show the bottom link #}
          {% if previousPageText !== 'Back' %}
          <p class="govuk-body">
            <a class="govuk-link" href="{{ previousPageLink }}" target="_parent">
              {{ previousPageText }}
            </a>
          </p>
          {% endif %}

      </form>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
  // call function from `assets/javascripts/application.js`
  // removeSuccessNotification();
</script>
{% endblock %}
