{% extends "layout-govuk-forms.html" %}

{% set pageTitle = 'Edit question' %}

{% set answerType = pageData['type']|capitalize %}
{% if pageData['type'] === 'personName' %}
  {% set questionHint = data.personNameQuestionHint %}
  {% set hintHint = data.personNameHintHint %}
  {% set answerType = 'Person’s name' %}
  {% if pageData['input'] === 'single-field' %}
    {% set inputType = 'Full name in a single field' %}
  {% elif pageData['input'] === 'multi-field' %}
    {% set inputType = 'First and last names in separate fields' %}
  {% elif pageData['input'] === 'multi-field-plus' %}
    {% set inputType = 'First, middle and last names in separate fields' %}
  {% endif %}
{% elif pageData['type'] === 'companyName' %}
  {% set questionHint = data.companyNameQuestionHint %}
  {% set hintHint = data.companyNameHintHint %}
  {% set answerType = 'Company or organisation’s name' %}
{% elif pageData['type'] === 'email' %}
  {% set questionHint = data.emailQuestionHint %}
  {% set hintHint = data.emailHintHint %}
  {% set answerType = 'Email address' %}
{% elif pageData['type'] === 'phone' %}
  {% set questionHint = data.phoneQuestionHint %}
  {% set hintHint = data.phoneHintHint %}
  {% set answerType = 'Phone number' %}
{% elif pageData['type'] === 'national-insurance-number' %}
  {% set questionHint = data.ninoQuestionHint %}
  {% set hintHint = data.ninoHintHint %}
  {% set answerType = 'National Insurance number' %}
{% elif pageData['type'] === 'address' %}
  {% set questionHint = data.addressQuestionHint %}
  {% set hintHint = data.addressHintHint %}
  {% if ('uk-address' in pageData['input']) and ('international-address' in pageData['input']) %}
    {% set inputType = 'UK and international addresses' %}
  {% elif 'uk-address' in pageData['input'] %}
    {% set inputType = 'UK addresses' %}
  {% elif 'international-address' in pageData['input'] %}
    {% set inputType = 'International addresses' %}
  {% endif %}
{% elif pageData['type'] === 'date' %}
  {% if pageData['input'] === 'yes' %}
    {% set questionHint = data.dobQuestionHint %}
    {% set hintHint = data.dobHintHint %}
    {% set inputType = 'Date of birth' %}
  {% else %}
    {% set questionHint = data.dateQuestionHint %}
    {% set hintHint = data.dateHintHint %}
    {% set inputType = 'Other date' %}
  {% endif %}
{% elif pageData['type'] === 'select' %}
  {% set answerType = 'Selection from a list' %}
  {% if pageData['oneOption'] %}
    {% set questionHint = data.selectionOneOptionQuestionHint %}
    {% set hintHint = data.selectionOneOptionHintHint %}
  {% else %}
    {% set questionHint = data.selectionMultipleOptionsQuestionHint %}
    {% set hintHint = data.selectionMultipleOptionsHintHint %}
  {% endif %}
{% elif pageData['type'] === 'number' %}
  {% set questionHint = data.numberQuestionHint %}
  {% set hintHint = data.numberHintHint %}
{% elif pageData['type'] === 'text' %}
  {% if pageData['input'] === 'single-line-input' %}
    {% set questionHint = data.textSingleLineQuestionHint %}
    {% set hintHint = data.textSingleLineHintHint %}
    {% set inputType = 'A single line of text' %}
  {% else %}
    {% set questionHint = data.textMultipleLinesQuestionHint %}
    {% set hintHint = data.textMultipleLinesHintHint %}
    {% set inputType = 'More than a single line of text' %}
  {% endif %}
{% else %}
  {% set questionHint = 'Ask a question the way you would in person. For example ‘What is your address?’' %}
  {% set hintHint = "Use hint text to help people answer the question. For example, to explain the format the answer should be in, or where to find the information you’ve asked for." %}
{% endif %}

{% block pageTitle %}
  {{ "Error: " if containsErrors }}{{pageTitle}} - GOV.UK Forms
{% endblock %}

{% block beforeContent %}
  {% if data.referer and ('edit-answer-type' in data.referer) %}
    <a class="govuk-back-link" href="edit-answer-type">
      Back
    </a>
  {% elif data.referer and ('settings' in data.referer) %}
    <a class="govuk-back-link" href="edit-settings">
      Back
    </a>
  {% else %}
    <a class="govuk-back-link" href="../../clear-empty" target="_parent">
      Back to your questions
    </a>
  {% endif %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form id="form" class="form" method="post" novalidate>

          {% if containsErrors %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          }) }}
          {% endif %}

          <span class="govuk-caption-l">Question {{ pageId | int + 1 }}</span>
          <h1 class="govuk-heading-l">{{pageTitle}}</h1>

          {% set namePrefix = "pages[" + pageIndex + "]" %}

          <!-- Long question text input -->
          {{ govukInput({
            label: {
              text: "Question text",
              classes: "govuk-label--m"
            },
            hint: {
              text: questionHint
            },
            id: "long-title",
            name: "long-title",
            value: pageData['long-title'],
            errorMessage: { text: errors['long-title'].text } if errors['long-title'].text
          }) }}

          <!-- Hint text input -->
          {{ govukInput({
            label: {
              text: "Hint text (optional)",
              classes: "govuk-label--m"
            },
            hint: {
              text: hintHint
            },
            id: "hint-text",
            name: "hint-text",
            value: pageData['hint-text']
          }) }}

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          {{ govukCheckboxes({
            idPrefix: "questionOptional",
            name: "questionOptional",
            fieldset: {
              legend: {
                text: "Question settings",
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "questionOptional",
                text: "Make this question optional so people can skip it",
                hint: {
                  text: "‘(optional)’ will be added to the end of the question text"
                },
                checked: checked(namePrefix + "['questionOptional']", "questionOptional")
              }
            ]
          }) }}

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Answer type
              </dt>
              <dd class="govuk-summary-list__value">
                {{answerType}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="edit-answer-type">
                  Change <span class="govuk-visually-hidden">answer type {{answerType}}<span>
                </a>
              </dd>
            </div>
            {% if pageData['input'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Input type
              </dt>
              <dd class="govuk-summary-list__value">
                {{inputType}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="edit-settings#input">
                  Change <span class="govuk-visually-hidden">input type {{inputType}}<span>
                </a>
              </dd>
            </div>
            {% endif %}
            {% if pageData['title'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Title needed
              </dt>
              <dd class="govuk-summary-list__value">
                {{pageData['title']|capitalize}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="edit-settings#title">
                  Change <span class="govuk-visually-hidden">title needed {{pageData['title']|capitalize}}<span>
                </a>
              </dd>
            </div>
            {% endif %}
            {% if pageData['item-list'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Options
              </dt>
              <dd class="govuk-summary-list__value">
                {% if (pageData['item-list']|length|int >= 1) %}
                  {% for item in pageData['item-list'] %}{{item}}{% if not loop.last %}, {% endif %}{% endfor %}
                {% else %}
                  No options added
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="edit-settings#option-0">
                  Change <span class="govuk-visually-hidden">options<span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Only select one option
              </dt>
              <dd class="govuk-summary-list__value">
                {{'Yes' if pageData['oneOption'] else 'No'}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="edit-settings#oneOption">
                  Change <span class="govuk-visually-hidden">only select one option<span>
                </a>
              </dd>
            </div>
            {% endif %}
          </dl>

          <div class="govuk-button-group">
            {% if pageId >= data['highestPageId'] %}

              {{ govukButton({
                text: "Save and add next question",
                name: "action",
                value: "createNextPage"
              }) }}

            {% else %}

              {{ govukButton({
                text: "Save and edit next question",
                name: "action",
                value: "editNextPage"
              }) }}

            {% endif %}

            {{ govukButton({
              text:  "Save question",
              name: "action",
              value: "update",
              classes: "govuk-button--secondary"
            }) }}
          </div>

          {% if editingExistingQuestion %}
          {{ govukButton({
            text: "Delete question",
            classes: "govuk-button--warning",
            name: "action",
            value: "deletePage"
          }) }}
          {% endif %}

          <p class="govuk-body">
            <a class="govuk-link govuk-link--no-visited-state" href="../../clear-empty">Go to your questions</a>
          </p>

      </form>
    </div>
  </div>
{% endblock %}
