{% extends "layout-govuk-forms.html" %}

{% set pageTitle = 'What kind of answer do you need to this question?' %}

{% block pageTitle %}
  {{ "Error: " if containsErrors }}{{ pageTitle }} - GOV.UK Forms
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="form" class="form" action="../{{pageId}}/edit-answer-type" method="post" novalidate>

        {% if containsErrors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
        {% endif %}

        <span class="govuk-caption-l">
          Question {{ pageId | int + 1 }} {% if (data.addJourney == 'addAnother1') and (pageData['addToGroup'] != null) -%} - Part of {{ groupData.groupName or '[setName]' }}{%- endif %}
        </span>

        {% set namePrefix = "pages[" + pageIndex + "]" %}

        {%
          set radioItems = [
            {
              value: "personName",
              text: "Person’s name",
              checked: checked(namePrefix + "['type']", "personName")
            },
            {
              value: "companyName",
              text: "Company or organisation’s name",
              checked: checked(namePrefix + "['type']", "companyName")
            },
            {
              value: "email",
              text: "Email address",
              checked: checked(namePrefix + "['type']", "email")
            },
            {
              value: "phone",
              text: "Phone number",
              checked: checked(namePrefix + "['type']", "phone")
            },
            {
              value: "national-insurance-number",
              text: "National Insurance number",
              checked: checked(namePrefix + "['type']", "national-insurance-number")
            },
            {
              value: "address",
              text: "Address",
              checked: checked(namePrefix + "['type']", "address")
            },
            {
              value: "date",
              text: "Date",
              checked: checked(namePrefix + "['type']", "date")
            },
            {
              value: "select",
              text: "Selection from a list of options",
              checked: checked(namePrefix + "['type']", "select"),
              hint: {
                text: "You’ll be able to create a list of options for people to select from"
              }
            },
            {
              value: "number",
              text: "Number",
              checked: checked(namePrefix + "['type']", "number"),
              hint: {
                text: "People will only be able to enter whole or decimal numbers"
              }
            },
            {
              value: "text",
              text: "Text",
              checked: checked(namePrefix + "['type']", "text")
            }
          ]
        %}

        {{ govukRadios({
          idPrefix: "type",
          name: "type",
          fieldset: {
            legend: {
              text: pageTitle,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: radioItems,
          errorMessage: { text: errors['type'].text } if errors['type'].text
        }) }}

        {{ govukButton({
          text: "Continue",
          name: "action",
          value: "editPage"
        }) }}

        <p class="govuk-body">
          <a class="govuk-link" href="/form-designer/clear-empty" target="_parent">
            Back to your questions
          </a>
        </p>

      </form>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
  // call function from `assets/javascripts/application.js`
  // removeSuccessNotification();
</script>
{% endblock %}
