{% extends "layout-govuk-forms.html" %}

{% set pageTitle -%}
  {% if pageData['type'] === 'personName' %}
    Ask for a person’s name
  {% elif pageData['type'] === 'address' %}
    Ask for an address
  {% elif pageData['type'] === 'date' %}
    Ask for a date
  {% elif pageData['type'] === 'select' %}
    Create a list of options
  {% elif pageData['type'] === 'text' %}
    Ask for text information
  {% endif %}
{%- endset %}

{% block pageTitle %}
  {{ "Error: " if containsErrors }}{{ pageTitle }} - GOV.UK Forms
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="form" class="form" action="../{{pageId}}/edit-settings" method="post" novalidate>

        {% if containsErrors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
        {% endif %}

        <span class="govuk-caption-l">
          Question {{ pageId | int + 1 }} {% if (data.addJourney == 'addAnother1') and (pageData['addToGroup'] != null) -%} - Part of {{ groupData.groupName or '[setName]' }}{%- endif %}
        </span>
        {% if pageData['type'] === 'personName' %}
        <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
        {% endif %}

        {% set namePrefix = "pages[" + pageIndex + "]" %}

        {# Person’s name #}
        {% if pageData['type'] === 'personName' %}
        {%
          set radioItems = [
            {
              value: "single-field",
              text: "Full name in a single box",
              checked: checked(namePrefix + "['input']", "single-field")
            },
            {
              value: "multi-field",
              text: "First and last names in separate boxes",
              checked: checked(namePrefix + "['input']", "multi-field")
            },
            {
              value: "multi-field-plus",
              text: "First, middle and last names in separate boxes",
              hint: {
                text: 'Middle name will not be mandatory'
              },
              checked: checked(namePrefix + "['input']", "multi-field-plus")
            }
          ]
        %}

        {{ govukRadios({
          idPrefix: "input",
          name: "input",
          fieldset: {
            legend: {
              text: "How do you need to collect the name?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: 'A single box for the full name is easiest for people to complete - only ask for names separately if you need the individual parts of the name.'
          },
          items: radioItems,
          errorMessage: { text: errors['input'].text } if errors['input'].text
        }) }}

        {%
          set radioItems = [
            {
              value: "yes",
              text: "Yes",
              checked: checked(namePrefix + "['title']", "yes")
            },
            {
              value: "no",
              text: "No",
              checked: checked(namePrefix + "['title']", "no")
            }
          ]
        %}

        {{ govukRadios({
          idPrefix: "title",
          name: "title",
          fieldset: {
            legend: {
              text: "Do you need the person’s title?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: 'Only ask for a title if you really need it. People will be able to enter their preferred title.'
          },
          items: radioItems,
          errorMessage: { text: errors['title'].text } if errors['title'].text
        }) }}
        {% endif %}

        {# Address #}
        {% if pageData['type'] === 'address' %}
        {%
          set checkboxItems = [
            {
              value: "uk-address",
              text: "UK addresses",
              checked: checked(namePrefix + "['input']", "uk-address")
            },
            {
              value: "international-address",
              text: "International addresses",
              checked: checked(namePrefix + "['input']", "international-address")
            }
          ]
        %}

        {{ govukCheckboxes({
          idPrefix: "input",
          name: "input",
          fieldset: {
            legend: {
              text: "What kind of addresses do you expect to receive?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: 'Select all that apply'
          },
          items: checkboxItems,
          errorMessage: { text: errors['input'].text } if errors['input'].text
        }) }}
        {% endif %}

        {# Date #}
        {% if pageData['type'] === 'date' %}
        {%
          set radioItems = [
            {
              value: "yes",
              text: "Yes",
              checked: checked(namePrefix + "['input']", "yes")
            },
            {
              value: "no",
              text: "No",
              checked: checked(namePrefix + "['input']", "no")
            }
          ]
        %}

        {{ govukRadios({
          idPrefix: "input",
          name: "input",
          fieldset: {
            legend: {
              text: "Are you asking for someone’s date of birth?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: radioItems,
          errorMessage: { text: errors['input'].text } if errors['input'].text
        }) }}
        {% endif %}

        {# Selection from a list #}
        {% if pageData['type'] === 'select' %}
          <h1 class="govuk-heading-l">{{pageTitle}}</h1>

          {% call govukCheckboxes({
            name:   "listSettings",
            fieldset: {
              legend: {
              text: "List settings",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "oneOption",
                text: "People can only select one option",
                checked: checked(namePrefix + "['listSettings']", "oneOption")
              },
              {
                value: "noneOption",
                text: "Include an option for ‘None of the above’",
                checked: checked(namePrefix + "['listSettings']", "noneOption")
              } 
            ]
          }) %}
          {% endcall %}
          
          <div class="govuk-form{% if errors['item-list'].text %} govuk-form-group--error{% endif %}">
            <p id="option-0-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>{{ errors['item-list'].text }}
            </p>

            {% set optionArray = pageData['item-list'] if (pageData['item-list']|length|int >= 2) else [{},{}] %}
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Add options to your list</legend>
              <p class="govuk-hint">You can add up to 20 options</p>
              <ul class="govuk-list">
              {% for option in optionArray %}
                {% set optionRow -%}option{{loop.index0}}{%- endset %}
                <li>
                  <label class="govuk-label" for="option-{{loop.index0}}">
                    Option {{loop.index}}
                  </label>
                  <input class="govuk-input govuk-input--width-20" id="option-{{loop.index0}}" name="[item-list]" type="text" value="{{pageData['item-list'][loop.index0]}}">
                  {{ govukButton({
                    html: 'Remove <span class="govuk-visually-hidden">option ' + loop.index + '</span>',
                    name: "action",
                    value: "removeOption-" + loop.index0,
                    classes: "govuk-button--secondary govuk-!-margin-bottom-3"
                  }) }}
                </li>
              {% endfor %}
              </ul>
            </fieldset>
          </div>

          {{ govukButton({
            text: "Add another option",
            name: "action",
            value: "addAnother",
            classes: "govuk-button--secondary"
          }) }}
          <br>
        {% endif %}

        {# Text input #}
        {% if pageData['type'] === 'text' %}
        {%
          set radioItems = [
            {
              value: "single-line-input",
              text: "A single line of text",
              checked: checked(namePrefix + "['input']", "single-line-input")
            },
            {
              value: "multi-line-input",
              text: "More than a single line of text",
              checked: checked(namePrefix + "['input']", "multi-line-input")
            }
          ]
        %}

        {{ govukRadios({
          idPrefix: "input",
          name: "input",
          fieldset: {
            legend: {
              text: "How much text will people need to provide?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: radioItems,
          errorMessage: { text: errors['input'].text } if errors['input'].text
        }) }}
        {% endif %}

        {{ govukButton({
          text: "Continue",
          name: "action",
          value: "editPage"
        }) }}
        
        <p class="govuk-body">
          <a class="govuk-link" href="/form-designer/clear-empty" target="_parent">
            Back to your questions
          </a>
        </p>

      </form>
    </div>
  </div>
{% endblock %}
