{% extends "layout-govuk-forms.html" %}

{% if pageData['type'] === 'personName' %}
  {% if pageData['input'] === 'multi-field-plus' %}
    {% if pageData['title'] === 'yes' %}
      {# IF ‘FIRST, MIDDLE AND LAST NAME’ AND ‘TITLE’ ARE SELECTED AND Q IS NOT OPTIONAL THEN: #}
      {% set answerTypeInformation = 'People will be able to use any characters in their answers - including special characters. They can leave ‘title’ and ‘middle names’ empty if they need to.' %}
    {% else %}
      {# IF ‘FIRST, MIDDLE AND LAST NAME’ IS SELECTED BUT NOT ‘TITLE’ AND Q IS NOT OPTIONAL THEN: #}
      {% set answerTypeInformation = 'People will be able to use any characters in their answers - including special characters. They can leave ‘middle names’ empty if they need to. ' %}
    {% endif %}
  {% elif pageData['title'] === 'yes' %}
    {# IF ‘TITLE’ IS SELECTED BUT NOT ‘FIRST, MIDDLE AND LAST NAME’ AND Q IS NOT OPTIONAL THEN: #}
    {% set answerTypeInformation = 'People will be able to use any characters in their answers - including special characters. They can leave ‘title’ empty if they need to.' %}
  {% elif pageData['input'] === 'single-field' %}
    {# IF ‘FULL NAME IN A SINGLE BOX’ IS SELECTED BUT NOT ‘TITLE’ THEN: #}
    {% set answerTypeInformation = 'People will be able to use any characters in their answer - including special characters.' %}
  {% else %}
    {# OTHERWISE: #}
    {% set answerTypeInformation = 'People will be able to use any characters in their answers - including special characters.' %}
  {% endif %}
{% elif pageData['type'] === 'companyName' %}
  {% set answerTypeInformation = 'People will be able to use any characters in their answer - including special characters.' %}
{% elif pageData['type'] === 'email' %}
  {% set answerTypeInformation = 'People will only be able to enter an answer that’s in the format of an email address, like name@example.com.' %}
{% elif pageData['type'] === 'phone' %}
  {% set answerTypeInformation = 'People will be able to enter between 8 and 15 characters. They can use numbers, spaces, ‘ext’, ‘-’, ‘+’, ‘(’ and ‘)’.' %}
{% elif pageData['type'] === 'national-insurance-number' %}
  {% set answerTypeInformation = 'People will only be able to enter an answer that’s in the format of a National Insurance number - 2 letters, 6 numbers, then A, B, C or D.' %}
{% elif pageData['type'] === 'address' %}
  {% if ('uk-address' in pageData['input']) and not ('international-address' in pageData['input']) %}
    {# IF UK SELECTED: #}
    {% set answerTypeInformation = 'People will only be able to enter a postcode that’s in the format of a UK postcode.' %}
  {% else %}
    {# IF INTERNATIONAL SELECTED: #}
    {% set answerTypeInformation = 'People will be able to answer using the appropriate format for the address. This is useful if you expect any international addresses. ' %}
  {% endif %}
{% elif pageData['type'] === 'date' %}
  {% if pageData['input'] === 'yes' %}
    {# IF DATE OF BIRTH: #}
    {% set answerTypeInformation = 'People will only be able to enter a date that’s in the past.' %}
  {% else %}
    {# IF NOT DATE OF BIRTH: #}
    {% set answerTypeInformation = 'People will only be able to enter a real date.' %}
  {% endif %}
{% elif pageData['type'] === 'select' %}
  {% if pageData['listSettings'] and ('oneOption' in pageData['listSettings']) %}
    {# IF RADIOS #}
    {% set answerTypeInformation = 'People will only be able to select one option.' %}
  {% else %}
    {# IF CHECKBOXES #}
    {% set answerTypeInformation = 'People will need to select at least one option.' %}
  {% endif %}
{% elif pageData['type'] === 'number' %}
  {% set answerTypeInformation = 'People will only be able to enter whole or decimal numbers.' %}
{% elif pageData['type'] === 'text' %}
  {% if pageData['input'] === 'single-line-input' %}
    {# IF ‘SINGLE LINE’ SELECTED: #}
    {% set answerTypeInformation = 'People will be able to enter up to 499 characters.' %}
  {% else %}
    {# IF ‘MULTIPLE LINES’ SELECTED: #}
    {% set answerTypeInformation = 'People will be able to enter up to 4999 characters.' %}
  {% endif %}
{% endif %}

{% set pageTitle = 'Preview question' %}

{% block pageTitle %}
  {{ pageTitle }} {{ pageId | int + 1 }} - GOV.UK Forms
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="check-question" target="_parent">
    Back to check your question
  </a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if successMessage %}
      {{ govukNotificationBanner({
        type: 'success',
        text: successMessage
      }) }}
    {% endif %}

    <span class="govuk-caption-l">
      Question {{ pageId | int + 1 }} {% if (data.addJourney == 'addAnother1') and (pageData['addToGroup'] != null) -%} - Part of {{ groupData.groupName or '[setName]' }}{%- endif %}
    </span>
    <h1 class="govuk-heading-l">{{pageTitle}}</h1>

    <p class="govuk-body">
      The preview below shows how this question will look.
    </p>

    {% if answerTypeInformation %}
    <p class="govuk-body">
      {{ answerTypeInformation }}
    </p>
    {% endif %}

  </div>

  <div class="govuk-grid-column-full">
    <!-- PREVIEW WINDOW -->
    <div class="app-preview-pane-wrapper govuk-!-margin-bottom-7">
      {% include './preview.html' %}
    </div>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      <a role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-3" data-module="govuk-button" href="{{ nextActionURL }}">
        {{ nextActionText }}
      </a>
    </p>
    <p class="govuk-body">
      <a class="govuk-link" href="check-question" target="_parent">
        Back to check your question
      </a>
    </p>
  </div>
</div>
{% endblock %}
