{% extends "layout-govuk-forms.html" %}

{% set pageTitle = 'Add a link to a payment page on GOV.UK Pay' %}

{% block pageTitle %}
  {{ "Error: " if containsErrors }}{{ pageTitle }}: {{ data.formTitle or '[formTitle]' }} - GOV.UK Forms
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="../your-form" target="_parent">
    Back to create your form
  </a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>

        {% if containsErrors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
        {% endif %}

        <span class="govuk-caption-l">{{ data.formTitle or '[formTitle]' }}</span>
        <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

        <p class="govuk-body">
          You can use <a class="govuk-link" href="https://www.payments.service.gov.uk/" target="_blank">GOV.UK Pay (opens in a new tab)</a> to set up a payment page (called a ‘payment link’).
        </p>
        <p class="govuk-body">
          Once it’s set up, you can copy and paste the payment link URL into the box below. This will add a payment page to the end of your form.
        </p>

        <h2 class="govuk-heading-m">Setting up GOV.UK Pay</h2>
        <p class="govuk-body">
          You’ll need to set up a GOV.UK Pay account if you do not already have one.
        </p>
        <p class="govuk-body">
          You’ll also need to talk to your organisation’s finance team to:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>make sure you’re allowed to take payments in this way</li>
          <li>set up a payment service provider (PSP)</li>
        </ul>

        {{ govukInsetText({
          text: "It could be up to several months before you’re ready to take payments. This depends on the PSP arrangements for your organisation."
        }) }}

        <h2 class="govuk-heading-m">Creating your payment link in GOV.UK Pay</h2>
        <p class="govuk-body">
          Once you have a GOV.UK Pay account you can start creating your payment link by selecting <strong>Add a new service</strong>.
        </p>
        
        <h3 class="govuk-heading-s">Set up your payment link to use a form’s unique reference number</h3>
        <p class="govuk-body">
          GOV.UK Forms adds a unique 8-character reference to each form submission.
        </p>
        <p class="govuk-body">
          When creating a payment link in GOV.UK Pay, you’ll be asked ‘Do your users already have a payment reference?’
        </p>
        <p class="govuk-body">
          Select <strong>Yes</strong>.
        </p>
        <p class="govuk-body">
          This means the form reference number will automatically be sent through to GOV.UK Pay when someone makes a payment.
        </p>
        <p class="govuk-body">
          When asked to fill in the <strong>Name of payment reference</strong> field, enter ‘Form reference number’.
        </p>

        <h3 class="govuk-heading-s">How this will help people processing your forms</h3>
        <p class="govuk-body">
          The form reference number will be included in the form submission email sent to your processing email address.
        </p>
        <p class="govuk-body">
          This can help match up form submissions with payments in GOV.UK Pay.
        </p>
        <p class="govuk-body">
          <a class="govuk-link" href="https://www.payments.service.gov.uk/govuk-payment-pages/" target="_blank">Find out more about creating a GOV.UK Pay payment link (opens in a new tab)</a>
        </p>

        <h2 class="govuk-heading-m">How this will work for people filling in your form</h2>
        <p class="govuk-body">
          Once someone’s submitted their form they’ll see a confirmation page showing:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a blue banner saying ‘You still need to pay’</li>
          <li>their form’s unique reference number</li>
          <li>the ‘what happens next’ information you’ve added</li>
          <li>a green ‘Continue to pay’ button - this will take them to GOV.UK Pay to make their payment</li>
        </ul>
        <p class="govuk-body">
          The reference number, payment link and ‘what happens next’ information will also be included in a confirmation email for form fillers - if they choose to receive this.
        </p>


        <input type="hidden" id="tempPaymentLink" name="tempPaymentLink" value="{{ data.paymentLink }}" />

        {{ govukInput({
          label: {
            text: "Enter the URL of your GOV.UK Pay payment link",
            classes: "govuk-label--m"
          },
          classes: "govuk-!-width-two-thirds",
          id: "payment-link",
          name: "paymentLink",
          hint: {
            text: "For example, https://www.gov.uk/payments/your-payment-link"
          },
          value: data['paymentLink'],
          errorMessage: {
            text: errors['paymentLink'].text } if errors['paymentLink'].text
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "?payment-link-content=short-content",
          text: "Short content"
        },
        {
          href: "?payment-link-content=medium-content",
          text: "Medium content"
        },
        {
          href: "?payment-link-content=long-content",
          text: "Long content"
        },
        {
          href: "/prototype-admin/show-data",
          text: "Show data"
        },
        {
          href: "/manage-prototype/clear-data",
          text: "Clear data"
        }
      ]
    }
  }) }}
{% endblock %}