{% extends "layout-govuk-forms.html" %}

{% set pageTitle = 'Add route 1' %}

{% block pageTitle %}
  {{ "Error: " if containsErrors }}{{pageTitle}}: {{ data.formTitle or '[formTitle]' }} - GOV.UK Forms
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">
    Back
  </a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form id="form" class="form" action="route-conditions" method="post" novalidate>

      {% if containsErrors %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
      {% endif %}

      <span class="govuk-caption-l">
        {{ 'Question ' + ((pageIndex + 1) or 'X') + '’s routes' }}
      </span>
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Question " + ((pageIndex + 1) or 'X')
            },
            value: {
              text: pageData['long-title'] or 'Not answered'
            },
            actions: {
              items: [
                {
                  href: "new-condition",
                  text: "Change",
                  visuallyHiddenText: " question"
                }
              ]
            } if not ((pageData) and (pageData.routing.skipTo) and (pageData.routing.answer))
          }
        ]
      }) }}

      {# need to get an idea of which page we are trying to skip to so we will hold it in a temporary variable to use for checking if an item in the ‘select’ list has been chosen #}
      {% set temp = '' %}
      {% for page in data.pages -%}
        {% if (page.routing.skipTo) %}
          {% set temp = page.routing.skipTo %}
        {% endif %}
      {% endfor %}

      {# create a new temporary list to use in our ‘select’ component, also add the default ‘select a/an...’ #}
      {% set tempAnswers = [{
        value: '',
        text: 'Select an answer'
      }] %}
      {% set tempQuestions = [{
        value: '',
        text: 'Select a question or page'
      }] %}

      {% for page in data.pages -%}

        {# if this object is the current page #}
        {% if (page.pageIndex|int) == (pageIndex) %}
          {# add the list of possible answers to the route question to our temporary answers list #}
          {% for item in page['item-list'] %}
            {% set tempAnswers = (
              tempAnswers.push({
                value: item,
                text: item,
                selected: true if (page.routing.answer == item)
              }), tempAnswers) 
            %}
          {% endfor %}
        {% endif %}

        {# if this object is is after the route question #}
        {% if (page.pageIndex|int) > (pageIndex + 1) %} 
          {# add all the questions after the route question to our temporary questions list #}
          {% set tempQuestions = (
            tempQuestions.push({
              value: page.pageIndex,
              text: (page.pageIndex|int + 1) + '. ' + page['long-title'],
              selected: true if (temp == page.pageIndex)
            }), tempQuestions) 
          %}
          {# we also need to add the CYA page to the list of options #}
          {% if loop.last %}
            {% set tempQuestions = (
              tempQuestions.push({
                value: 'cya',
                text: data.checkAnswersTitle
              }), tempQuestions) 
            %}
          {% endif %}
        {% endif %}
      {%- endfor %}

      {{ govukSelect({
        id: "route-1-answer",
        name: "route1Answer",
        label: {
          text: "is answered as",
          classes: 'govuk-label--s'
        },
        value: data['route1Answer'],
        items: tempAnswers,
        errorMessage: { text: errors['route1Answer'].text } if errors['route1Answer'].text
      }) }}

      {{ govukSelect({
        id: "route-1-end",
        name: "route1End",
        label: {
          text: "skip the person to",
          classes: 'govuk-label--s'
        },
        items: tempQuestions,
        errorMessage: { text: errors['route1End'].text } if errors['route1End'].text
      }) }}

      <div class="govuk-button-group">
      {{ govukButton({
        text: "Save and continue"
      }) }}
      </div>

      {% if (pageData) and (pageData.routing.skipTo) and (pageData.routing.answer) %}
      {{ govukButton({
        text: "Delete route",
        classes: "govuk-button--warning",
        name: "action",
        value: "deleteRoute1"
      }) }}
      {% endif %}

    </form>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
  // call function from `assets/javascripts/application.js`
  // removeSuccessNotification();
</script>
{% endblock %}