{% extends "layout-govuk-forms.html" %}

{% set pageTitle = 'Add a question route' %}

{% block pageTitle %}
  {{ "Error: " if containsErrors }}{{pageTitle}}: {{ data.formTitle or '[formTitle]' }} - GOV.UK Forms
{% endblock %}

{% block beforeContent %}
  {% if previousPage and ('your-questions' in previousPage) %}
    <a class="govuk-back-link" href="../../clear-empty" target="_parent">
      Back to your questions
    </a>
  {% else %}
    <a class="govuk-back-link" href="javascript:window.history.back()">
      Back
    </a>
  {% endif %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form id="form" class="form" action="route-start" method="post" novalidate>

      {% if containsErrors %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
      {% endif %}

      <span class="govuk-caption-l">{{ data.formTitle or '[formTitle]' }}</span>
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p class="govuk-body">
        You can send people directly to the question or page you want, based on their previous answer. This means they’ll only see questions that are relevant to them.
      </p>

      <h2 class="govuk-heading-m">What you need to create a route</h2>
      <p class="govuk-body">
        Before you can add a route you’ll need:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>2 or more questions</li>
        <li>at least one question where people must select a single item from a list of options</li>
      </ul>
      <p class="govuk-body">
        You can only add one route from each question.
      </p>

      <p class="govuk-body">
        <a class="govuk-link" href="../../clear-empty">Back to your questions</a>
      </p>

    </form>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
  // call function from `assets/javascripts/application.js`
  // removeSuccessNotification();
</script>
{% endblock %}