{% extends "layout-govuk-forms.html" %}

{% set pageTitle = 'Set question or page to skip to' %}
{% set pageQuestion = 'Which question or page you want to skip to?' %}
{% set pageHint = 'This is the next question or page that people who select any other answer will see after question ' + (routeIndex + 1) + '.' %}

{% block pageTitle %}
  {{ "Error: " if containsErrors }}{{pageTitle}}: {{ data.formTitle or '[formTitle]' }} - GOV.UK Forms
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">
    Back
  </a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form id="form" class="form" action="secondary-skip-end" method="post" novalidate>

      {% if containsErrors %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
      {% endif %}

      <span class="govuk-caption-l">
        {{ 'Question ' + ((pageIndex + 1) or 'X') + '’s routes: for any other answer' }}
      </span>
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      {% set routeStart = '' %}
      {% for page in data.pages -%}
        {% if (page.pageIndex|int) == (routeIndex) %}
          {% set routeStart = page['long-title'] %}
        {% endif %}
      {%- endfor %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Question " + ((routeIndex + 1) or 'X')
            },
            value: {
              text: routeStart or 'Not answered'
            }
          }
        ]
      }) }}

      {# need to get an idea of which page we are trying to skip to so we will hold it in a temporary variable to use for checking if an item in the ‘select’ list has been chosen #}
      {% set temp = '' %}
      {% for page in data.pages -%}
        {% if (page.routing.thenSkipTo) %}
          {% set temp = page.routing.thenSkipTo %}
        {% endif %}
      {% endfor %}

      {% set tempQuestions = [] %}
      {% for page in data.pages -%}
        {% if (page.pageIndex > (routeIndex + 1)) %}
          {% set tempQuestions = (
            tempQuestions.push({
              value: page.pageIndex,
              text: (page.pageIndex|int + 1) + '. ' + page['long-title'],
              checked: true if (temp == page.pageIndex)
            }), tempQuestions) 
          %}
        {% endif %}
        {% if loop.last %}
          {% set tempQuestions = (
            tempQuestions.push({
              value: 'cya',
              text: data.checkAnswersTitle,
              checked: true if (temp == 'cya')
            }), tempQuestions) 
          %}
        {% endif %}
      {%- endfor %}

      {{ govukRadios({
          name: "routeEnd",
          fieldset: {
            legend: {
              text: pageQuestion,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: pageHint
          },
          items: tempQuestions
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}

      <p class="govuk-body">
        <a class="govuk-link" href="../../../your-questions">Go to your questions</a>
      </p>

    </form>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
  // call function from `assets/javascripts/application.js`
  // removeSuccessNotification();
</script>
{% endblock %}