{% extends "layout-govuk-forms.html" %}

{% set pageTitle = 'Question ' + (data.routeStartQuestion or 'X') + '’s routes' %}

{% block pageTitle %}
  {{ "Error: " if containsErrors }}{{pageTitle}}: {{ data.formTitle or '[formTitle]' }} - GOV.UK Forms
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">
    Back
  </a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form id="form" class="form" action="questions-routes" method="post" novalidate>

      {% if containsErrors %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
      {% endif %}

      <span class="govuk-caption-l">{{ data.formTitle or '[formTitle]' }}</span>
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      {% set routeStart = '' %}
      {% set routeEnd = '' %}
      {% for page in data.pages -%}
        {% if (page.pageIndex|int + 1) == data.routeStartQuestion %}
          {% set routeStart = page['long-title'] %}
        {% endif %}
        {% if (page.pageIndex|int + 1) == data.route1End %}
          {% set routeEnd = (page.pageIndex|int + 1) + '. ' + page['long-title'] %}
        {% elif data.route1End === 'cya' %}
          {% set routeEnd = data.checkAnswersTitle %}
        {% endif %}
      {%- endfor %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Question " + (data.routeStartQuestion or 'X')
            },
            value: {
              text: routeStart or 'Not answered'
            }
          }
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            text: "Route 1"
          },
          actions: {
            items: [
              {
                href: "./conditions",
                text: "Edit",
                visuallyHiddenText: " route 1"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              text: "If answered as"
            },
            value: {
              text: data.route1Answer or 'Not answered'
            }
          },
          {
            key: {
              text: "skip the person to"
            },
            value: {
              text: routeEnd or 'Not answered'
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">If people select any other answer</h2>
      <p class="govuk-body">
        People who select any other answer will continue to [question 3] and through the rest of the form.
      </p>
      <p class="govuk-body">
        You can change this by adding a route from [3, ‘What are the company details?’].
      </p>

      {{ govukButton({
        text: "Add a route from [question 3]",
        classes: "govuk-button--secondary"
      }) }}

      <p class="govuk-body">
        <a class="govuk-link" href="./add-route-from-question">Add a route from a different question</a>
      </p>

      <p class="govuk-body govuk-!-margin-top-5">
        <a class="govuk-link" href="../your-questions">Back to your questions</a>
      </p>

    </form>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
  // call function from `assets/javascripts/application.js`
  // removeSuccessNotification();
</script>
{% endblock %}