{% extends "layout-govuk-forms.html" %}

{% set pageTitle = 'Add a Welsh version of your form' %}

{% set tableColumnEnglishHeader = "English content" %}
{% set tableColumnWelshHeader = "Welsh content" %}

{% block pageTitle %}
  {{ pageTitle }}{% if data.status == 'Draft' %}: {{ data.formTitle or '[formTitle]' }}{% endif %} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="../your-form">Back to create your form</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <form id="form" class="form" action="add-welsh-version" method="post">
    
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">{{ data.formTitle or '[formTitle]' }}</span>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-2">{{ pageTitle }}</h1>
        <dl class="govuk-!-margin-bottom-7">
          <dt class="govuk-visually-hidden">Status</dt>
          <dd class="govuk-!-margin-0">
            {{ govukTag({
              text: data['status'],
              classes: "govuk-tag--yellow"
            }) }}
          </dd>
        </dl>

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Download as a spreadsheet",
            classes: "govuk-button--secondary",
            name: "action",
            value: "download"
          }) }}
          {% if data.pages.length %}
          <a class="govuk-link" href="/form-designer/preview/0.cy" rel="noopener noreferrer">
            Preview this form in Welsh
          </a>
          {% endif %}
        </div>
      </div>

      <div class="govuk-grid-column-full">
        {# FORM NAME #}
        {% set formNameCaption = "Form name" %}
        {% set formNameLabel = "Enter Welsh " + formNameCaption | lower %}
        {% set formNameInput -%}
        {{ govukTextarea({
          rows: "1",
          formGroup: {
            classes: "app-welsh-form-group"
          },
          label: {
            text: formNameLabel,
            classes: "govuk-visually-hidden",
            isPageHeading: false
          },
          id: "welsh-form-name",
          name: "welshFormName",
          attributes: {
            "aria-describedby": "englishFormName",
            "placeholder": formNameLabel
          },
          value: data.welshFormName
        }) }}
        {%- endset %}
        {{ govukTable({
          caption: formNameCaption,
          captionClasses: "govuk-table__caption--m",
          classes: "app-translate-table",
          head: [
            {
              text: "English content"
            },
            {
              text: "Welsh content"
            }
          ],
          rows: [
            [
              {
                classes: "app-table-half-width",
                text: data.formTitle or '[formTitle]',
                attributes: {
                  id: "englishFormName"
                }
              },
              {
                classes: "app-table__cell-input",
                html: formNameInput
              }
            ]
          ]
        }) }}

        {# FORM QUESTIONS #}
        {% if data.pages.length > 0 %}

        {% set pageHeadingLabel = "Enter Welsh question text" %}
        {% set guidanceTextLabel = "Enter Welsh guidance text" %}
        {% set questionTextLabel = "Enter Welsh question text" %}
        {% set hintTextLabel = "Enter Welsh hint text" %}

        {# TODO: ADD AN EXAMPLE SELECTION FROM A LIST AS WELL #}

        {# Create HTML table #}
        {% for question in data.pages %}
        {% set questionCaption = "Question " + loop.index %}
        <table class="govuk-table govuk-table--small-text-until-tablet app-translate-table">
          <caption class="govuk-table__caption govuk-table__caption--m">{{ questionCaption }}</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header app-table-one-quarter-width"></th>
              <th scope="col" class="govuk-table__header app-table-one-third-width">{{ tableColumnEnglishHeader }}</th>
              <th scope="col" class="govuk-table__header app-table-one-third-width">{{ tableColumnWelshHeader }}</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
          {% if question["additional-guidance"] and (question["additional-guidance"] == "Yes") %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Page heading</th>
              <td class="govuk-table__cell" id="englishPageHeading[{{ loop.index0 }}]">
                {{ question["page-name"] }}
              </td>
              <td class="govuk-table__cell app-table__cell-input">
                {{ govukTextarea({
                  rows: "1",
                  formGroup: {
                    classes: "app-welsh-form-group"
                  },
                  label: {
                    text: pageHeadingLabel,
                    classes: "govuk-visually-hidden",
                    isPageHeading: false
                  },
                  id: "welsh-page-heading-" + loop.index0,
                  name: "welshPageHeading[" + loop.index0 + "][page_heading_" + loop.index0 + "]",
                  attributes: {
                    "aria-describedby": "englishPageHeading[" + loop.index0 + "]",
                    "placeholder": pageHeadingLabel
                  },
                  value: question.welsh.page_heading
                }) }}
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Guidance text</th>
              <td class="govuk-table__cell" id="englishGuidanceText[{{ loop.index0 }}]">
                {{ question['additional-guidance-text'] | striptags(true) | escape | nl2br }}
              </td>
              <td class="govuk-table__cell app-table__cell-input">
                {{ govukTextarea({
                  rows: "5",
                  formGroup: {
                    classes: "app-welsh-form-group"
                  },
                  rows: "10",
                  label: {
                    text: guidanceTextLabel,
                    classes: "govuk-visually-hidden",
                    isPageHeading: false
                  },
                  id: "welsh-guidance-text-" + loop.index0,
                  name: "welshGuidanceText[" + loop.index0 + "][guidance_text_" + loop.index0 + "]",
                  attributes: {
                    "aria-describedby": "englishGuidanceText[" + loop.index0 + "]",
                    "placeholder": guidanceTextLabel
                  },
                  value: question.welsh.guidance_text
                }) }}
              </td>
            </tr>
          {% endif %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Question text</th>
              <td class="govuk-table__cell" id="englishQuestionText[{{ loop.index0 }}]">
                {{ question["long-title"] }}
              </td>
              <td class="govuk-table__cell app-table__cell-input">
                {{ govukTextarea({
                  rows: "1",
                  formGroup: {
                    classes: "app-welsh-form-group"
                  },
                  label: {
                    text: questionTextLabel,
                    classes: "govuk-visually-hidden",
                    isPageHeading: false
                  },
                  id: "welsh-question-text-" + loop.index0,
                  name: "welshQuestionText[" + loop.index0 + "][question_text_" + loop.index0 + "]",
                  attributes: { 
                    "aria-describedby": "englishQuestionText[" + loop.index0 + "]",
                    "placeholder": questionTextLabel
                  },
                  value: question.welsh.question_text
                }) }}
              </td>
            </tr>
          {% if question["hint-text"] %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Hint text</th>
              <td class="govuk-table__cell" id="englishHintText[{{ loop.index0 }}]">
                {{ question["hint-text"] }}
              </td>
              <td class="govuk-table__cell app-table__cell-input">
                {{ govukTextarea({
                  rows: "1",
                  formGroup: {
                    classes: "app-welsh-form-group"
                  },
                  label: {
                    text: hintTextLabel,
                    classes: "govuk-visually-hidden",
                    isPageHeading: false
                  },
                  id: "welsh-hint-text-" + loop.index0,
                  name: "welshHintText[" + loop.index0 + "][hint_text_" + loop.index0 + "]",
                  attributes: { 
                    "aria-describedby": "englishHintText[" + loop.index0 + "]",
                    "placeholder": hintTextLabel
                  },
                  value: question.welsh.hint_text
                }) }}
              </td>
            </tr>
          {% endif %}
          {% if question["item-list"] %}
            {% for option in question["item-list"] %}
            {% set selectionItemLabel = "Enter Welsh option " + loop.index %}
            <tr class="govuk-table__row">
            {% if loop.first %}
              <th scope="row" rowspan="{{ question['item-list'].length }}" class="govuk-table__header">
                List of options
              </th>
            {% endif %}
              <td class="govuk-table__cell" id="englishHintText[{{ loop.index0 }}]">
                {{ question['item-list'][loop.index0] }}
              </td>
              <td class="govuk-table__cell app-table__cell-input">
                {{ govukTextarea({
                  rows: "1",
                  formGroup: {
                    classes: "app-welsh-form-group"
                  },
                  label: {
                    text: selectionItemLabel,
                    classes: "govuk-visually-hidden",
                    isPageHeading: false
                  },
                  id: "welsh-selection-item-" + loop.index0,
                  name: "welshSelectionItem[question_" + question.pageIndex + "][option_" + loop.index0 + "]",
                  attributes: { 
                    "aria-describedby": "englishSelectionItem[" + loop.index0 + "]",
                    "placeholder": selectionItemLabel
                  },
                  value: question.welsh.options["option_" + loop.index0]
                }) }}
              </td>
            </tr>
            {% endfor %}
          {% endif %}
          </tbody>
        </table>
        {% endfor %}

        {% else %}
        <h2 class="govuk-heading-m">Form questions</h2>
        <p class="govuk-body">No questions have been added to the form yet.</p>
        {% endif %}

        {# FORM DECLARATION #}
        {% set declarationSubhead = 'Declaration for people to agree to' %}
        {% set declarationLabel = "Enter Welsh " + declarationSubhead %}
        {% if data.checkAnswersDeclaration and data.checkAnswersDeclaration !== '' %}
        {% set checkAnswersDeclarationInput -%}
        {{ govukTextarea({
          rows: "5",
          formGroup: {
            classes: "app-welsh-form-group"
          },
          label: {
            text: declarationLabel,
            classes: "govuk-visually-hidden",
            isPageHeading: false
          },
          id: "welsh-check-answers-declaration",
          name: "welshCheckAnswersDeclaration",
          attributes: {
            "aria-describedby": "englishCheckAnswersDeclaration",
            "placeholder": declarationLabel
          },
          value: data.welshCheckAnswersDeclaration
        }) }}
        {%- endset %}
        {{ govukTable({
          caption: declarationSubhead,
          captionClasses: "govuk-table__caption--m",
          classes: "app-translate-table",
          head: [
            {
              text: "English content"
            },
            {
              text: "Welsh content"
            }
          ],
          rows: [
            [
              {
                classes: "app-table-half-width",
                text: data.checkAnswersDeclaration,
                attributes: {
                  id: "englishCheckAnswersDeclaration"
                }
              },
              {
                classes: "app-table__cell-input",
                html: checkAnswersDeclarationInput
              }
            ]
          ]
        }) }}
        {% else %}
        <h2 class="govuk-heading-m">{{ declarationSubhead }}</h2>
        <p class="govuk-body">No declaration was added to the form.</p>
        {% endif %}

        {# FORM INFORMATION ABOUT WHAT HAPPENS NEXT (WHN) #}
        {% set whnSubhead = 'Information about what happens next' %}
        {% set whnLabel = "Enter Welsh " + whnSubhead %}
        {% if data.confirmationNext and data.confirmationNext !== '' %}
        {% set confirmationNextInput -%}
        {{ govukTextarea({
          rows: "5",
          formGroup: {
            classes: "app-welsh-form-group"
          },
          label: {
            text: whnLabel,
            classes: "govuk-visually-hidden",
            isPageHeading: false
          },
          id: "welsh-confirmation-next",
          name: "welshConfirmationNext",
          attributes: {
            "aria-describedby": "englishConfirmationNext",
            "placeholder": whnLabel
          },
          value: data.welshConfirmationNext
        }) }}
        {%- endset %}
        {{ govukTable({
          caption: whnSubhead,
          captionClasses: "govuk-table__caption--m",
          classes: "app-translate-table",
          head: [
            {
              text: "English content"
            },
            {
              text: "Welsh content"
            }
          ],
          rows: [
            [
              {
                classes: "app-table-half-width",
                text: data.confirmationNext | striptags(true) | escape | nl2br,
                attributes: {
                  id: "englishConfirmationNext"
                }
              },
              {
                classes: "app-table__cell-input",
                html: confirmationNextInput
              }
            ]
          ]
        }) }}
        {% else %}
        <h2 class="govuk-heading-m">{{ whnSubhead }}</h2>
        <p class="govuk-body">No information about what happens next was added to the form yet.</p>
        {% endif %}

        {# FORM PAYMENT LINK #}
        {% set paymentLinkSubhead = 'Payment link' %}
        {% set paymentLinkLabel = "Enter Welsh " + paymentLinkSubhead %}
        {% if data.paymentLink and data.paymentLink !== '' %}
        {% set paymentLinkInput -%}
        {{ govukTextarea({
          rows: "1",
          formGroup: {
            classes: "app-welsh-form-group"
          },
          label: {
            text: paymentLinkLabel,
            classes: "govuk-visually-hidden",
            isPageHeading: false
          },
          id: "welsh-payment-link",
          name: "welshPaymentLink",
          attributes: {
            "aria-describedby": "englishPaymentLink",
            "placeholder": paymentLinkLabel
          },
          value: data.welshPaymentLink
        }) }}
        {%- endset %}
        {{ govukTable({
          caption: paymentLinkSubhead,
          captionClasses: "govuk-table__caption--m",
          classes: "app-translate-table",
          head: [
            {
              text: "English content"
            },
            {
              text: "Welsh content"
            }
          ],
          rows: [
            [
              {
                classes: "app-table-half-width",
                text: data.paymentLink,
                attributes: {
                  id: "englishPaymentLink"
                }
              },
              {
                classes: "app-table__cell-input",
                html: paymentLinkInput
              }
            ]
          ]
        }) }}
        {% else %}
        <h2 class="govuk-heading-m">{{ paymentLinkSubhead }}</h2>
        <p class="govuk-body">No payment link has been added to your form.</p>
        {% endif %}

        {# FORM PRIVACY LINK #}
        {% set privacyInformationSubhead = "Link to privacy information for this form" %}
        {% set privacyInformationLabel = "Enter Welsh " + privacyInformationSubhead %}
        {% if data.privacyInformation and data.privacyInformation !== '' %}
        {% set privacyInformationInput -%}
        {{ govukTextarea({
          rows: "1",
          formGroup: {
            classes: "app-welsh-form-group"
          },
          label: {
            text: privacyInformationLabel,
            classes: "govuk-visually-hidden",
            isPageHeading: false
          },
          id: "welsh-privacy-information",
          name: "welshPrivacyInformation",
          attributes: {
            "aria-describedby": "englishPrivacyInformation",
            "placeholder": privacyInformationLabel
          },
          value: data.welshPrivacyInformation
        }) }}
        {%- endset %}
        {{ govukTable({
          caption: privacyInformationSubhead,
          captionClasses: "govuk-table__caption--m",
          classes: "app-translate-table",
          head: [
            {
              text: "English content"
            },
            {
              text: "Welsh content"
            }
          ],
          rows: [
            [
              {
                classes: "app-table-half-width",
                text: data.privacyInformation,
                attributes: {
                  id: "englishPrivacyInformation"
                }
              },
              {
                classes: "app-table__cell-input",
                html: privacyInformationInput
              }
            ]
          ]
        }) }}
        {% else %}
        <h2 class="govuk-heading-m">{{ privacyInformationSubhead }}</h2>
        <p class="govuk-body">No contact details for support have been added to the form yet.</p>
        {% endif %}

        {# FORM CONTACT DETAILS FOR SUPPORT #}
        {% set supportDetailsSubhead = "Contact details for support" %}

        {% set emailSupportLabel = "Enter Welsh Email" %}
        {% if data.supportDetails %}
        {% set emailSupportInput -%}
        {{ govukTextarea({
          rows: "1",
          formGroup: {
            classes: "app-welsh-form-group"
          },
          label: {
            text: emailSupportLabel,
            classes: "govuk-visually-hidden",
            isPageHeading: false
          },
          id: "welsh-email-support",
          name: "welshEmailSupport",
          attributes: { 
            "aria-describedby": "englishEmailSupport",
            "placeholder": emailSupportLabel
          },
          value: data.welshEmailSupport
        }) }}
        {%- endset %}

        {% set phoneSupportLabel = "Enter Welsh Telephone" %}
        {% set phoneSupportInput -%}
        {{ govukTextarea({
          rows: "5",
          formGroup: {
            classes: "app-welsh-form-group"
          },
          label: {
            text: phoneSupportLabel,
            classes: "govuk-visually-hidden",
            isPageHeading: false
          },
          id: "welsh-phone-support",
          name: "welshPhoneSupport",
          attributes: { 
            "aria-describedby": "englishPhoneSupport",
            "placeholder": phoneSupportLabel
          },
          value: data.welshPhoneSupport
        }) }}
        {%- endset %}

        {% set onlineLinkTextLabel = "Enter Welsh Online link text" %}
        {% set onlineLinkTextInput -%}
        {{ govukTextarea({
          rows: "1",
          formGroup: {
            classes: "app-welsh-form-group"
          },
          label: {
            text: onlineLinkTextLabel,
            classes: "govuk-visually-hidden",
            isPageHeading: false
          },
          id: "welsh-online-link-text",
          name: "welshOnlineLinkText",
          attributes: { 
            "aria-describedby": "englishOnlineLinkText",
            "placeholder": onlineLinkTextLabel
          },
          value: data.welshOnlineLinkText
        }) }}
        {%- endset %}

        {% set onlineLinkURLLabel = "Enter Welsh Online link URL" %}
        {% set onlineLinkURLInput -%}
        {{ govukTextarea({
          rows: "1",
          formGroup: {
            classes: "app-welsh-form-group"
          },
          label: {
            text: onlineLinkURLLabel,
            classes: "govuk-visually-hidden",
            isPageHeading: false
          },
          id: "welsh-online-link-url",
          name: "welshOnlineLinkURL",
          attributes: {
            "aria-describedby": "englishOnlineLinkURL",
            "placeholder": onlineLinkURLLabel
          },
          value: data.welshOnlineLinkURL
        }) }}
        {%- endset %}

        {{ govukTable({
          caption: supportDetailsSubhead,
          captionClasses: "govuk-table__caption--m",
          classes: "app-translate-table",
          firstCellIsHeader: true,
          head: [
            {},
            {
              text: "English content"
            },
            {
              text: "Welsh content"
            }
          ],
          rows: [
            [
              {
                text: 'Email'  
              },
              {
                classes: "app-table-one-third-width",
                text: data.emailSupport,
                attributes: {
                  id: "englishEmailSupport"
                }
              },
              {
                classes: "app-table-one-third-width app-table__cell-input",
                html: emailSupportInput
              }
            ] if 'email' in data.supportDetails,
            [
              {
                text: 'Telephone'  
              },
              {
                classes: "app-table-one-third-width",
                text: data.phoneSupport | striptags(true) | escape | nl2br,
                attributes: {
                  id: "englishPhoneSupport"
                }
              },
              {
                classes: "app-table-one-third-width app-table__cell-input",
                html: phoneSupportInput
              }
            ] if 'phone' in data.supportDetails,
            [
              {
                text: 'Online link text'  
              },
              {
                classes: "app-table-one-third-width",
                text: data.onlineSupportText,
                attributes: {
                  id: "englishOnlineLinkText"
                }
              },
              {
                classes: "app-table-one-third-width app-table__cell-input",
                html: onlineLinkTextInput
              }
            ] if 'online' in data.supportDetails,
            [
              {
                text: 'Online link URL'  
              },
              {
                classes: "app-table-one-third-width",
                text: data.onlineSupportLink,
                attributes: {
                  id: "englishOnlineLinkURL"
                }
              },
              {
                classes: "app-table-one-third-width app-table__cell-input",
                html: onlineLinkURLInput
              }
            ] if 'online' in data.supportDetails
          ]
        }) }}
        {% else %}
        <h2 class="govuk-heading-m">{{ supportDetailsSubhead }}</h2>
        <p class="govuk-body">No contact details for support have been added to the form yet.</p>
        {% endif %}

      </div>

      <div class="govuk-grid-column-two-thirds">
        {% if (data.isQuestionsComplete == 'yes') and 
        (data.isDeclarationComplete == 'yes') and 
        (data.confirmationNext and data.confirmationNext !== '') and 
        (data.privacyInformation and data.privacyInformation !== '') and 
        (data.supportDetails and data.supportDetails.length > 0) -%}
          {{ govukRadios({
            classes: "govuk-radios",
            name: "markWelshComplete",
            fieldset: {
              legend: {
                text: "Have you finished adding your Welsh version?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "Selecting ‘Yes’ will mark this task as complete. You’ll still be able to make more changes if you need to."
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No, I’ll come back later"
              }
            ],
            errorMessage: { text: errors['markWelshComplete'].text } if errors['markWelshComplete'].text
          }) }}
        {%- endif %} 
        
        {{ govukButton({
          text: "Save and continue",
          name: "action",
          value: "continue"
        }) }}
      </div>
    </form>
  </div>

{% endblock %}

{% block pageScripts %}{% endblock %}
