{% extends "layout-govuk-forms.html" %}

{% set pageTitle = 'Add a Welsh version of your form' %}

{% set tableColumnEnglishHeader = "English content" %}
{% set tableColumnWelshHeader = "Welsh content" %}

{% block pageTitle %}
  {{ pageTitle }}{% if data.status == 'Draft' %}: {{ data.formTitle or '[formTitle]' }}{% endif %} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="../your-form">Back to create your form</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <form id="form" class="form" action="add-welsh-version" method="post">
    
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">{{ data.formTitle or '[formTitle]' }}</span>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-2">{{ pageTitle }}</h1>
        <dl class="govuk-!-margin-bottom-7">
          <dt class="govuk-visually-hidden">Status</dt>
          <dd class="govuk-!-margin-0">
            {{ govukTag({
              text: data['status'],
              classes: "govuk-tag--yellow"
            }) }}
          </dd>
        </dl>

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Download as a spreadsheet",
            classes: "govuk-button--secondary",
            name: "action",
            value: "download"
          }) }}
          {% if data.pages.length %}
          <a class="govuk-link" href="/form-designer/preview/0.cy" rel="noopener noreferrer">
            Preview this form in Welsh
          </a>
          {% endif %}
        </div>
      </div>

      <div class="govuk-grid-column-full">
        {# FORM NAME #}
        {% set formNameCaption = "Form name" %}
        {% set formNameLabel = "Enter your Welsh " + formNameCaption | lower %}
        {% set formNameInput -%}
        {{ govukInput({
          formGroup: {
            classes: "govuk-!-margin-bottom-0 app-welsh-form-group"
          },
          classes: "govuk-!-margin-bottom-0",
          label: {
            text: formNameLabel,
            isPageHeading: false
          },
          id: "welsh-form-name",
          name: "welshFormName",
          attributes: {
            "aria-describedby": "englishFormName"
          },
          value: data.welshFormName
        }) }}
        {%- endset %}
        {{ govukTable({
          caption: formNameCaption,
          captionClasses: "govuk-table__caption--m",
          classes: "govuk-!-margin-bottom-9 app-table__responsive",
          head: [
            {
              classes: "govuk-!-width-one-half",
              text: "English content"
            },
            {
              text: "Welsh content"
            }
          ],
          rows: [
            [
              {
                text: data.formTitle or '[formTitle]',
                attributes: {
                  id: "englishFormName",
                  "row-header": "English form name"
                }
              },
              {
                classes: "app-table__cell-input",
                attributes: {
                  "row-header": "Welsh form name"
                },
                html: formNameInput
              }
            ]
          ]
        }) }}

        {# FORM QUESTIONS #}
        {% if data.pages.length > 0 %}

        {% set pageHeadingLabel = "Enter Welsh page heading" %}
        {% set guidanceTextLabel = "Enter Welsh guidance text" %}
        {% set questionTextLabel = "Enter Welsh question text" %}
        {% set hintTextLabel = "Enter Welsh hint text" %}

        {# TODO: ADD AN EXAMPLE SELECTION FROM A LIST AS WELL #}

        {# Create HTML table #}
        {% for question in data.pages %}
        {% set questionCaption = "Question " + loop.index %}
        <table class="govuk-table {% if question['item-list'] %}govuk-!-margin-bottom-7{% else %}govuk-!-margin-bottom-9{% endif %} govuk-table--small-text-until-tablet app-table__responsive">
          <caption class="govuk-table__caption govuk-table__caption--m">{{ questionCaption }}</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"></th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-third">{{ tableColumnEnglishHeader }}</th>
              <th scope="col" class="govuk-table__header">{{ tableColumnWelshHeader }}</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
          {% if question["additional-guidance"] and (question["additional-guidance"] == "Yes") %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Page heading</th>
              <td class="govuk-table__cell" id="englishPageHeading[{{ loop.index0 }}]" row-header="English page heading">
                {{ question["page-name"] }}
              </td>
              <td class="govuk-table__cell app-table__cell-input" row-header="Welsh page heading">
                {{ govukInput({
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0 app-welsh-form-group"
                  },
                  classes: "govuk-!-margin-bottom-0",
                  label: {
                    text: pageHeadingLabel,
                    isPageHeading: false
                  },
                  id: "welsh-page-heading-" + loop.index0,
                  name: "welshPageHeading[" + loop.index0 + "][page_heading_" + loop.index0 + "]",
                  value: question.welsh.page_heading
                }) }}
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Guidance text</th>
              <td class="govuk-table__cell" id="englishGuidanceText[{{ loop.index0 }}]" row-header="English guidance text">
                {{ question['additional-guidance-text'] | striptags(true) | escape | nl2br }}
              </td>
              <td class="govuk-table__cell app-table__cell-input" row-header="Welsh guidance text">
                {{ govukTextarea({
                  rows: "5",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0 app-welsh-form-group"
                  },
                  classes: "govuk-!-margin-bottom-0",
                  rows: "10",
                  label: {
                    text: guidanceTextLabel,
                    isPageHeading: false
                  },
                  id: "welsh-guidance-text-" + loop.index0,
                  name: "welshGuidanceText[" + loop.index0 + "][guidance_text_" + loop.index0 + "]",
                  value: question.welsh.guidance_text
                }) }}
              </td>
            </tr>
          {% endif %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Question text</th>
              <td class="govuk-table__cell" id="englishQuestionText[{{ loop.index0 }}]" row-header="English question text">
                {{ question["long-title"] }}
              </td>
              <td class="govuk-table__cell app-table__cell-input" row-header="Welsh question text">
                {{ govukInput({
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0 app-welsh-form-group"
                  },
                  classes: "govuk-!-margin-bottom-0",
                  label: {
                    text: questionTextLabel,
                    isPageHeading: false
                  },
                  id: "welsh-question-text-" + loop.index0,
                  name: "welshQuestionText[" + loop.index0 + "][question_text_" + loop.index0 + "]",
                  value: question.welsh.question_text
                }) }}
              </td>
            </tr>
          {% if question["hint-text"] %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Hint text</th>
              <td class="govuk-table__cell" id="englishHintText[{{ loop.index0 }}]" row-header="English hint text">
                {{ question["hint-text"] }}
              </td>
              <td class="govuk-table__cell app-table__cell-input" row-header="Welsh hint text">
                {{ govukTextarea({
                  rows: "3",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0 app-welsh-form-group"
                  },
                  classes: "govuk-!-margin-bottom-0",
                  label: {
                    text: hintTextLabel,
                    isPageHeading: false
                  },
                  id: "welsh-hint-text-" + loop.index0,
                  name: "welshHintText[" + loop.index0 + "][hint_text_" + loop.index0 + "]",
                  value: question.welsh.hint_text
                }) }}
              </td>
            </tr>
          {% endif %}
          </tbody>
        </table>

        {% if question["item-list"] %}
        <table class="govuk-table govuk-!-margin-bottom-9 govuk-table--small-text-until-tablet app-table__responsive">
          <caption class="govuk-table__caption govuk-table__caption--s">
            {{ questionCaption }}’s list of options
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">{{ tableColumnEnglishHeader }}</th>
              <th scope="col" class="govuk-table__header">{{ tableColumnWelshHeader }}</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
          {% for option in question["item-list"] %}
          {% set selectionItemLabel = "Enter Welsh option " + loop.index %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" id="englishHintText[{{ loop.index0 }}]" row-header="English option {{ loop.index }}">
              {{ question['item-list'][loop.index0] }}
            </td>
            <td class="govuk-table__cell app-table__cell-input" row-header="Welsh option {{ loop.index }}">
              {{ govukInput({
                formGroup: {
                  classes: "govuk-!-margin-bottom-0 app-welsh-form-group"
                },
                classes: "govuk-!-margin-bottom-0",
                label: {
                  text: selectionItemLabel,
                  isPageHeading: false
                },
                id: "welsh-selection-item-" + loop.index0,
                name: "welshSelectionItem[question_" + question.pageIndex + "][option_" + loop.index0 + "]",
                value: question.welsh.options["option_" + loop.index0]
              }) }}
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        {% endif %}
        {% endfor %}

        {% else %}
        <div class="govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-m">Form questions</h2>
          <p class="govuk-body">No questions have been added to the form yet.</p>
        </div>
        {% endif %}

        {# FORM DECLARATION #}
        {% set declarationSubhead = "Declaration for people to agree to" %}
        {% set declarationLabel = "Enter your Welsh declaration" %}
        <div class="govuk-!-margin-bottom-9">
          {% if data.checkAnswersDeclaration and data.checkAnswersDeclaration !== '' %}
          {% set checkAnswersDeclarationInput -%}
          {{ govukTextarea({
            rows: "5",
            formGroup: {
              classes: "govuk-!-margin-bottom-0 app-welsh-form-group"
            },
            classes: "govuk-!-margin-bottom-0",
            label: {
              text: declarationLabel,
              isPageHeading: false
            },
            id: "welsh-check-answers-declaration",
            name: "welshCheckAnswersDeclaration",
            value: data.welshCheckAnswersDeclaration
          }) }}
          {%- endset %}
          {{ govukTable({
            caption: declarationSubhead,
            captionClasses: "govuk-table__caption--m",
            classes: "app-table__responsive",
            head: [
              {
                classes: "govuk-!-width-one-half",
                text: "English content"
              },
              {
                text: "Welsh content"
              }
            ],
            rows: [
              [
                {
                  text: data.checkAnswersDeclaration,
                  attributes: {
                    id: "englishCheckAnswersDeclaration",
                    "row-header": "English declaration"
                  }
                },
                {
                  classes: "app-table__cell-input",
                  attributes: {
                    "row-header": "Welsh declaration"
                  },
                  html: checkAnswersDeclarationInput
                }
              ]
            ]
          }) }}
          {% else %}
          <h2 class="govuk-heading-m">{{ declarationSubhead }}</h2>
          <p class="govuk-body">No declaration was added to the form.</p>
          {% endif %}
        </div>

        {# FORM INFORMATION ABOUT WHAT HAPPENS NEXT (WHN) #}
        {% set whnSubhead = "Information about what happens next" %}
        {% set whnLabel = "Enter information about what happens next in Welsh " %}
        <div class="govuk-!-margin-bottom-9">
          {% if data.confirmationNext and data.confirmationNext !== '' %}
          {% set confirmationNextInput -%}
          {{ govukTextarea({
            rows: "5",
            formGroup: {
              classes: "govuk-!-margin-bottom-0 app-welsh-form-group"
            },
            classes: "govuk-!-margin-bottom-0",
            label: {
              text: whnLabel,
              isPageHeading: false
            },
            id: "welsh-confirmation-next",
            name: "welshConfirmationNext",
            value: data.welshConfirmationNext
          }) }}
          {%- endset %}
          {{ govukTable({
            caption: whnSubhead,
            captionClasses: "govuk-table__caption--m",
            classes: "app-table__responsive",
            head: [
              {
                classes: "govuk-!-width-one-half",
                text: "English content"
              },
              {
                text: "Welsh content"
              }
            ],
            rows: [
              [
                {
                  text: data.confirmationNext | striptags(true) | escape | nl2br,
                  attributes: {
                    id: "englishConfirmationNext",
                    "row-header": "Information about what happens next in English"
                  }
                },
                {
                  classes: "app-table__cell-input",
                  attributes: {
                    "row-header": "Information about what happens next in Welsh "
                  },
                  html: confirmationNextInput
                }
              ]
            ]
          }) }}
          {% else %}
          <h2 class="govuk-heading-m">{{ whnSubhead }}</h2>
          <p class="govuk-body">No information about what happens next was added to the form yet.</p>
          {% endif %}
        </div>

        {# FORM PAYMENT LINK #}
        {% set paymentLinkSubhead = "GOV.UK Pay payment link" %}
        {% set paymentLinkLabel = "Enter Welsh " + paymentLinkSubhead %}
        <div class="govuk-!-margin-bottom-9">
          {% if data.paymentLink and data.paymentLink !== '' %}
          {% set paymentLinkInput -%}
          {{ govukInput({
            formGroup: {
              classes: "govuk-!-margin-bottom-0 app-welsh-form-group"
            },
            classes: "govuk-!-margin-bottom-0",
            label: {
              text: paymentLinkLabel,
              isPageHeading: false
            },
            id: "welsh-payment-link",
            name: "welshPaymentLink",
            value: data.welshPaymentLink
          }) }}
          {%- endset %}
          {{ govukTable({
            caption: paymentLinkSubhead,
            captionClasses: "govuk-table__caption--m",
            classes: "app-table__responsive",
            head: [
              {
                classes: "govuk-!-width-one-half",
                text: "English content"
              },
              {
                text: "Welsh content"
              }
            ],
            rows: [
              [
                {
                  text: data.paymentLink,
                  attributes: {
                    id: "englishPaymentLink",
                    "row-header": "English " + paymentLinkSubhead
                  }
                },
                {
                  classes: "app-table__cell-input",
                  attributes: {
                    "row-header": "Welsh " + paymentLinkSubhead
                  },
                  html: paymentLinkInput
                }
              ]
            ]
          }) }}
          {% else %}
          <h2 class="govuk-heading-m">{{ paymentLinkSubhead }}</h2>
          <p class="govuk-body">No GOV.UK Pay payment link has been added to your form.</p>
          {% endif %}
        </div>

        {# FORM PRIVACY LINK #}
        {% set privacyInformationSubhead = "Link to privacy information for this form" %}
        {% set privacyInformationLabel = "Enter link to your Welsh privacy information" %}
        <div class="govuk-!-margin-bottom-9">
          {% if data.privacyInformation and data.privacyInformation !== '' %}
          {% set privacyInformationInput -%}
          {{ govukInput({
            formGroup: {
              classes: "govuk-!-margin-bottom-0 app-welsh-form-group"
            },
            classes: "govuk-!-margin-bottom-0",
            label: {
              text: privacyInformationLabel,
              isPageHeading: false
            },
            id: "welsh-privacy-information",
            name: "welshPrivacyInformation",
            value: data.welshPrivacyInformation
          }) }}
          {%- endset %}
          {{ govukTable({
            caption: privacyInformationSubhead,
            captionClasses: "govuk-table__caption--m",
            classes: "app-table__responsive",
            head: [
              {
                classes: "govuk-!-width-one-half",
                text: "English content"
              },
              {
                text: "Welsh content"
              }
            ],
            rows: [
              [
                {
                  text: data.privacyInformation,
                  attributes: {
                    id: "englishPrivacyInformation",
                    "row-header": "English privacy information link"
                  }
                },
                {
                  classes: "app-table__cell-input",
                  attributes: {
                    "row-header": "Welsh privacy information link"
                  },
                  html: privacyInformationInput
                }
              ]
            ]
          }) }}
          {% else %}
          <h2 class="govuk-heading-m">{{ privacyInformationSubhead }}</h2>
          <p class="govuk-body">No contact details for support have been added to the form yet.</p>
          {% endif %}
        </div>

        {# FORM CONTACT DETAILS FOR SUPPORT #}
        {% set supportDetailsSubhead = "Contact details for support" %}
        {% set emailSupportLabel = "Enter email address for Welsh support" %}
        <div class="govuk-!-margin-bottom-9">
          {% if data.supportDetails %}
          {% set emailSupportInput -%}
          {{ govukInput({
            formGroup: {
              classes: "govuk-!-margin-bottom-0 app-welsh-form-group"
            },
            classes: "govuk-!-margin-bottom-0",
            label: {
              text: emailSupportLabel,
              isPageHeading: false
            },
            id: "welsh-email-support",
            name: "welshEmailSupport",
            value: data.welshEmailSupport
          }) }}
          {%- endset %}

          {% set phoneSupportLabel = "Enter phone information for Welsh support" %}
          {% set phoneSupportInput -%}
          {{ govukTextarea({
            rows: "5",
            formGroup: {
              classes: "govuk-!-margin-bottom-0 app-welsh-form-group"
            },
            classes: "govuk-!-margin-bottom-0",
            label: {
              text: phoneSupportLabel,
              isPageHeading: false
            },
            id: "welsh-phone-support",
            name: "welshPhoneSupport",
            value: data.welshPhoneSupport
          }) }}
          {%- endset %}

          {% set onlineLinkTextLabel = "Enter an online contact link for Welsh support" %}
          {% set onlineLinkTextInput -%}
          {{ govukInput({
            formGroup: {
              classes: "govuk-!-margin-bottom-0 app-welsh-form-group"
            },
            classes: "govuk-!-margin-bottom-0",
            label: {
              text: onlineLinkTextLabel,
              isPageHeading: false
            },
            id: "welsh-online-link-text",
            name: "welshOnlineLinkText",
            value: data.welshOnlineLinkText
          }) }}
          {%- endset %}

          {% set onlineLinkURLLabel = "Enter text to describe the contact link for Welsh support" %}
          {% set onlineLinkURLInput -%}
          {{ govukInput({
            formGroup: {
              classes: "govuk-!-margin-bottom-0 app-welsh-form-group"
            },
            classes: "govuk-!-margin-bottom-0",
            label: {
              text: onlineLinkURLLabel,
              isPageHeading: false
            },
            id: "welsh-online-link-url",
            name: "welshOnlineLinkURL",
            value: data.welshOnlineLinkURL
          }) }}
          {%- endset %}

          {{ govukTable({
            caption: supportDetailsSubhead,
            captionClasses: "govuk-table__caption--m",
            firstCellIsHeader: true,
            classes: "app-table__responsive",
            head: [
              {
                classes: "govuk-!-width-one-quarter"
              },
              {
                text: "English content",
                classes: "govuk-!-width-one-third"
              },
              {
                text: "Welsh content"
              }
            ],
            rows: [
              [
                {
                  text: "Email"
                },
                {
                  text: data.emailSupport,
                  attributes: {
                    id: "englishEmailSupport",
                    "row-header": "Email address for English support"
                  }
                },
                {
                  classes: "app-table__cell-input",
                  attributes: {
                    "row-header": "Email address for Welsh support"
                  },
                  html: emailSupportInput
                }
              ] if 'email' in data.supportDetails,
              [
                {
                  text: "Phone number and opening times" 
                },
                {
                  text: data.phoneSupport | striptags(true) | escape | nl2br,
                  attributes: {
                    id: "englishPhoneSupport",
                    "row-header": "Phone information for English support"
                  }
                },
                {
                  classes: "app-table__cell-input",
                  attributes: {
                    "row-header": "Phone information for Welsh support"
                  },
                  html: phoneSupportInput
                }
              ] if 'phone' in data.supportDetails, 
              [
                {
                  text: "Online contact link" 
                },
                {
                  text: data.onlineSupportLink,
                  attributes: {
                    id: "englishOnlineLinkURL",
                    "row-header": "Online contact link for English support"
                  }
                },
                {
                  classes: "app-table__cell-input",
                  attributes: {
                    "row-header": "Online contact link for Welsh support"
                  },
                  html: onlineLinkURLInput
                }
              ] if 'online' in data.supportDetails,
              [
                {
                  text: "Text to describe the contact link"  
                },
                {
                  text: data.onlineSupportText,
                  attributes: {
                    id: "englishOnlineLinkText",
                    "row-header": "Text to describe the contact link for English support"
                  }
                },
                {
                  classes: "app-table__cell-input",
                  attributes: {
                    "row-header": "Text to describe the contact link for Welsh support"
                  },
                  html: onlineLinkTextInput
                }
              ] if 'online' in data.supportDetails
            ]
          }) }}
          {% else %}
          <h2 class="govuk-heading-m">{{ supportDetailsSubhead }}</h2>
          <p class="govuk-body">No contact details for support have been added to the form yet.</p>
          {% endif %}
        </div>

      </div>

      <div class="govuk-grid-column-two-thirds">
        {% if (data.isQuestionsComplete == 'yes') and 
        (data.isDeclarationComplete == 'yes') and 
        (data.confirmationNext and data.confirmationNext !== '') and 
        (data.privacyInformation and data.privacyInformation !== '') and 
        (data.supportDetails and data.supportDetails.length > 0) -%}
          {{ govukRadios({
            classes: "govuk-radios",
            name: "markWelshComplete",
            fieldset: {
              legend: {
                text: "Have you finished adding your Welsh version?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "Selecting ‘Yes’ will mark this task as complete. You’ll still be able to make more changes if you need to."
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No, I’ll come back later"
              }
            ],
            errorMessage: { text: errors['markWelshComplete'].text } if errors['markWelshComplete'].text
          }) }}
        {%- endif %} 
        
        {{ govukButton({
          text: "Save and continue",
          name: "action",
          value: "continue"
        }) }}
      </div>
    </form>
  </div>

{% endblock %}

{% block pageScripts %}{% endblock %}
