{% extends "layout-govuk-product.html" %}

{% set currentPage =  'get-started' %}
{% set pageTitle = 'Get started' %}

{% block pageTitle %}
  {{ pageTitle }} - {{ serviceName }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
      <p class="govuk-body">
        GOV.UK Forms is a new platform that makes it easy to create accessible online forms for the GOV.UK website.
      </p>
      <p class="govuk-body">
        Because it’s still in the early stages of development,
        <a class="govuk-link" href="#">the features available are limited</a>. So it will not be suitable for creating all types of online form.
      </p>
      <p class="govuk-body">
        You can create a trial account to see if GOV.UK Forms meets your needs.
      </p>

      <h2 class="govuk-heading-m">
        Try GOV.UK Forms with a trial account
      </h2>
      <p class="govuk-body">
        With a trial account you will not be able to make your forms live, but you’ll be able to try out the form builder and preview your forms.
      </p>
      <p class="govuk-body">
        If GOV.UK Forms meets your needs, you’ll be able to ask for your account to be upgraded so you can make your forms live.
      </p>
      <p class="govuk-body">
        You’ll need your government email address to create a trial account.
      </p>

      {{ govukButton({ 
        text: 'Create a trial account',
        href: "trial",
        isStartButton: true 
      }) }}

      <h2 class="govuk-heading-m">
        Upgrade to an editor account to make a form live
      </h2>
      <p class="govuk-body">
        If you’ve tried GOV.UK Forms and it meets your needs, you can request to upgrade to an editor account. With an editor account you can make a form live so it can be published on GOV.UK.
      </p>

      <p class="govuk-body">
        You can request to upgrade to an editor account if:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you’re confident you can create your forms using the limited features available at the moment</li>
        <li>you’ll only use GOV.UK Forms to make forms for the GOV.UK website</li>
        <li>you do not expect any of the forms you’re planning to make to get more than 10,000 submissions a year</li>
        <li>you’re happy to be asked for feedback and to take part in user research</li>
      </ul>

      <p class="govuk-body">
        You can send us a request to upgrade to an editor account from within your trial account. We’ll then get in touch with you to discuss the next steps.
      </p>
      <p class="govuk-body">
        If you’re upgraded to an editor account, you’ll keep all of the forms you made with your trial account.
      </p>

      <h2 class="govuk-heading-m">
        Subscribe to updates about GOV.UK Forms
      </h2>
      <p class="govuk-body">
        If GOV.UK Forms doesn’t meet your needs yet, you can
        <a class="govuk-link" href="#">subscribe to our mailing list</a> to get updates about new features.
      </p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        Contact us
      </h2>
      <p class="govuk-body">
        If you have questions or feedback, <a class="govuk-link" href="support">contact us</a>.
      </p>

    </div>
  </div>
{% endblock content %}