{% extends "layout-govuk-forms.html" %}

{% set homepageUrl = 'index' %}
{% set pageTitle = 'Requirements to upgrade to an editor account' %}

{% block pageTitle %}
  {{ pageTitle }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="trial" target="_parent">
    Back to your forms
  </a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
    
    <p class="govuk-body">
      GOV.UK Forms is in development with selected partners in central government.
    </p>
    <p class="govuk-body">
      Before we process your request for an upgrade, we need to check that you meet some requirements:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>you need to make an online form to be published on GOV.UK</li>
      <li>you’ve tried out the form builder, and you’re confident you can create your forms using the <a class="govuk-link govuk-link--no-visited-state" href="features">limited features available</a> at the moment</li>
      <li>your organisation is ok with form responses being emailed individually to the team email address you provide (we’re planning to support other ways of receiving form submissions, but they’re not available yet)</li>
      <li>you’ll only use GOV.UK Forms to make forms to be published on the GOV.UK website - not on other website or for other uses such as internal forms or surveys</li>
      <li>you do not expect any of the forms you’re planning to make to get more than 10,000 submissions a year</li>
      <li>you’re happy to be asked for feedback and to take part in user research</li>
    </ul>
    
    <p class="govuk-body">
      If you believe you meet these requirements, we’ll get in touch with you to discuss the next steps.
    </p>

    {{ govukCheckboxes({
      name: "requirementsMet",
      fieldset: {
        legend: {
          text: "Confirm if you meet these requirements",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "met",
          text: "I meet these requirements"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue",
      href: "next"
    }) }}
    
  </div>
</div>
{% endblock content %}

