<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Sign up for updates about GOV.UK Forms</title>
    <link href="/public/stylesheets/application.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class="govuk-width-container">
      <main class="govuk-main-wrapper--auto-spacing" id="main-content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
              Sign up for updates about GOV.UK Forms
            </h1>
            <p class="govuk-body">
              Sign up to get an email notification when GOV.UK Forms is available to use for people working in central government.
            </p>
            <p class="govuk-body">
              You can also sign up to get email updates on the progress and development of GOV.UK Forms - we'll send these updates every 3 months or so.
            </p>

            <form novalidate="">
              <input type="hidden" name="u" value="cb74eb9a6898b0e5870fede0a"/>
              <input type="hidden" name="id" value="451fe4c1e1"/>
              <div class="govuk-form-group">
                <label class="govuk-label" for="email">
                  Your email address
                </label>
                <input class="govuk-input" id="email" name="EMAIL" type="email" spellcheck="false" autocomplete="email" value="" aria-describedby="email-error"/>
                <div id="email-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span>
                </div>
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="organisation">
                  Your organisation
                </label>
                <input class="govuk-input" id="organisation" name="ORG" type="text" autocomplete="organization" value="" aria-describedby="organisation-error"/>
                <div id="organisation-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span>
                </div>
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="job-title">
                  Your job title
                </label>
                <input class="govuk-input" id="job-title" name="JOBTITLE" type="text" autocomplete="organization-title" value="" aria-describedby="job-title-error"/>
                <div id="job-title-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span>
                </div>
              </div>

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="purposes-hint">
                  <legend class="govuk-fieldset__legend">
                    What do you want to sign up for?
                  </legend>
                  <div id="purposes-hint" class="govuk-hint">
                    Select all that apply.
                  </div>
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="launch-notification" name="group[53889][1]" type="checkbox" value="1"/>
                      <label class="govuk-label govuk-checkboxes__label" for="launch-notification">
                        A notification when GOV.UK Forms is launched
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="development-updates" name="group[53889][2]" type="checkbox" value="2"/>
                      <label class="govuk-label govuk-checkboxes__label" for="development-updates">
                        Updates on the development of GOV.UK Forms
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

              <input type="submit" data-prevent-double-click="true" class="govuk-button" name="submit" value="Sign up"/>
              <div class="govuk-visually-hidden" aria-hidden="true">
                <label>
                  If you are a human, do not fill in this field.
                  <input type="text" name="b_cb74eb9a6898b0e5870fede0a_451fe4c1e1" tabindex="-1" value=""/>
                </label>
              </div>
            </form>

            <h2 class="govuk-heading-m">How we use your data</h2>
            <p class="govuk-body">
              The Government Digital Service will use the information you provide on this form to send you updates about GOV.UK Forms.
            </p>
            <p class="govuk-body">
              We will treat your information with respect. By submitting this form, you agree that we may process your information for this purpose. For information about our privacy practices, read
              <a href="privacy">our privacy notice</a >.
            </p>
            <p class="govuk-body">
              You can unsubscribe at any time by clicking the link in the footer of any email you receive from us.
            </p>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>