{% extends "layout-govuk-forms.html" %}

{% set homepageUrl = 'index' %}
{% set pageTitle = 'Home' %}

{% block pageTitle %}
  {{ pageTitle }} - {{ serviceName }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ serviceName }}</h1>

      {% set trialHTML %}
        <p class="govuk-notification-banner__heading">You have a trial account</p>
        <p class="govuk-body">
          You can create a form, preview and test it.
        </p>
        <p class="govuk-body">
          You need an editor account to be able to make a form live.
        </p>
        <p class="govuk-body">
          <a class="govuk-link govuk-link--no-visited-state" href="requirements">Find out if you can upgrade to an editor account</a>
        </p>
      {% endset %}

      {{ govukNotificationBanner({
        html: trialHTML
      }) }}

      {{ govukButton({
        text: "Create a form",
        href: "#",
        isStartButton: true
      }) }}

    </div>
  {% endblock content %}