{% extends "layout-govuk-forms.html" %}

{% set pageTitle -%}
  {{ "Error: " if containsErrors }} Ask for text information
{%- endset %}

{% block pageTitle %}
  {{pageTitle|safe}} - GOV.UK Forms
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="../edit-answer-type/{{pageId}}">
    Back
  </a>
{% endblock %}

{% block content %}

  <form id="form" class="form" action="../settings/{{pageId}}" method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">Question {{pageId}}</span>
        <h1 class="govuk-heading-l">{{pageTitle|safe}}</h1>

        {% set namePrefix = "pages[" + pageIndex + "]" %}

        {%
          set radioItems = [
            {
              value: "single-line-input",
              text: "A single line of text",
              checked: checked(namePrefix + "['input']", "single-line-input")
            },
            {
              value: "multi-line-input",
              text: "More than a single line of text",
              checked: checked(namePrefix + "['input']", "multi-line-input")
            }
          ]
        %}

        {{ govukRadios({
          idPrefix: "input",
          name: "input",
          fieldset: {
            legend: {
              text: "How much text will people need to provide?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: radioItems
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue",
            name: "action",
            value: "editPage"
          }) }}
        </div>

        <p class="govuk-body">
          <a class="govuk-link govuk-link--no-visited-state" href="../form-index">Go to your questions</a>
        </p>

      </div>

    </div>

  </form>

{% endblock %}
