{% extends "layout.html" %}

{% set pageTitle = 'Form builder prototypes' %}

{% block pageTitle %}
{{ pageTitle }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">{{ serviceName }}</span>
    <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

    <p class="govuk-body-l">
      Prototypes exploring different aspects of form builders.
    <p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Admin prototype</h2>

    <p class="govuk-body">
      <b><a href="/form-designer/your-forms">View the admin prototype</a></b>
    </p>

    <p class="govuk-body">
      A form builder with the following features:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the interface and forms are accessible and mobile friendly</li>
      <li>there's a task list to take you through the steps of creating a form</li>
      <li>you create one question at a time, using a looping wizard</li>
      <li>questions are designed via a form, rather than directly edited</li>
      <li>questions can be repeated within the form runner</li>
      <li>questions can be grouped and repeated within the form runner</li>
    </ul>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Why did we build this prototype?
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">
          This prototype is for testing an iteration of ‘add another’ feature where users can create repeating sets of questions through the route journey.
        </p>
        <p class="govuk-body">
          Prototype created 19 August 2024
        </p>
      </div>
    </details>

  </div>
</div>
{% endblock %}
