{% extends "layout.html" %}

{% set pageTitle = 'Form builder prototypes' %}

{% block pageTitle %}
{{ pageTitle }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">{{ serviceName }}</span>
    <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

    <p class="govuk-body-l">
      Prototypes exploring different aspects of form builders.
    <p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Admin prototype</h2>

    <p class="govuk-body">
      A form builder with the following features:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the interface and forms are accessible and mobile friendly</li>
      <li>there's a task list to take you through the steps of creating a form</li>
      <li>you create one question at a time, using a looping wizard</li>
      <li>questions are designed via a form, rather than directly edited</li>
    </ul>

    <h3 class="govuk-heading-s">
      Form builder with multiple answers journeys
    </h3>
    <p class="govuk-body">
      <b><a href="/form-designer/your-forms?addJourney=addAnother1">View prototype 1</a></b><br>
      <span>Asking what the form creator wants to add</span>
    </p>
    <p class="govuk-body">
      <b><a href="/form-designer/your-forms?addJourney=addAnother2">View prototype 2</a></b><br>
      <span>Adding questions before adding functionality</span>
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-s">
      Basic form builder without complex features
    </h3>
    <p class="govuk-body">
      <b><a href="/form-designer/your-forms">View the admin prototype</a></b>
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-s">
      Amendment form: redundancy claim for holiday pay return journey (Insolvency Service first form)
    </h3>
    <p class="govuk-body">
      <!-- use `data/returning-session-data-defaults.js` -->
      <b><a href="/form-designer/returning-again">View incomplete form return journey prototype</a></b>
    </p>

    <h3 class="govuk-heading-s">
      Take your pet abroad return journey (testing form)
    </h3>
    <p class="govuk-body">
      <!-- use `data/returning-session-data-defaults-a11y.js` -->
      <b><a href="/form-designer/returning">View completed form return journey prototype</a></b>
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Form publisher</h2>

    <p class="govuk-body">
      <b><a href="/publisher/start">View the publisher prototype</a></b>
    </p>

    <p class="govuk-body">
      A basic form publisher with some approval features.
    </p>

  </div>
</div>
{% endblock %}
