
{% extends "layout.html" %}

{% block pageTitle %}
  Form examples
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Collecting Information from Users</span>
      <h1 class="govuk-heading-xl">
        Prototypes
      </h1>

      <p class="govuk-body-l">Prototypes from the Collecting Information from Users (CIFU) team in the Government Digital Service.<p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


      <h2 class="govuk-heading-m">
        <a href="form-prototypes">Form prototypes</a>
      </h2>

      <p>Some examples of common kinds of government form, using components and patterns from the GOV.UK Design System.</p>

      <h2 class="govuk-heading-m">
        <a href="form-builder-prototypes">Form builder prototypes</a>
      </h2>

      <p>Prototypes exploring different aspects of form builders.</p>


      <h2 class="govuk-heading-m">
        <a href="https://www.figma.com/files/project/34163725/GOV.UK-Forms?fuid=822552076153840665">Figma prototypes</a>
      </h2>

      <p>Sketches, prototypes and other design assets - you'll need access to the GDS Figma account to view these.</p>




    </div>
  </div>

{% endblock %}
