{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
  {{ govukServiceNavigation({
    serviceName: data.formTitle,
    serviceUrl: "0",
    navigationClasses: "app-service-navigation",
    navigation: [
      {
        href: "../your-questions",
        text: "Your questions"
      }
    ]
  }) }}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "#",
          text: "Get help with this form"
        },
        {
          href: "#",
          text: "Privacy"
        },
        {
          href: "https://www.forms.service.gov.uk/accessibility/",
          text: "Accessibility"
        },
        {
          href: "#",
          text: "Cookies"
        }
      ]
    }
  }) }}
{% endblock %}
