{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
  {{ govukServiceNavigation({
    serviceName: data.welshFormName or data.formTitle,
    serviceUrl: "0.cy",
    navigationClasses: "app-service-navigation",
    navigation: [
      {
        href: "../your-questions",
        text: "Your questions"
      }
    ]
  }) }}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "#",
          text: "Preifatrwydd"
        },
        {
          href: "https://www.forms.service.gov.uk/accessibility/",
          text: "Datganiad hygyrchedd"
        },
        {
          href: "#",
          text: "Cwcis"
        }
      ]
    },
    contentLicence: {
      html: "Mae’r holl gynnwys ar gael o dan y <a class='govuk-footer__link' href='https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/' rel='license'>Drwydded Llywodraeth Agored v3.0</a>, ac eithrio lle nodir yn wahanol"
    }, 
    copyright: { 
      text: "© Hawlfraint y Goron" 
    }
  }) }}
{% endblock %}
