{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: data['formTitle'],
    serviceUrl: "../your-questions",
    containerClasses: "govuk-width-container app-header--preview-draft",
    navigationClasses: "govuk-header__navigation--end govuk-!-display-block",
    navigation: [
      {
        href: "../your-questions",
        text: "Your questions"
      }
    ]
  }) }}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "#",
          text: "Get help with this form"
        },
        {
          href: "#",
          text: "Privacy"
        },
        {
          href: "https://www.forms.service.gov.uk/accessibility/",
          text: "Accessibility"
        },
        {
          href: "#",
          text: "Cookies"
        }
      ]
    }
  }) }}
{% endblock %}
