{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: data['formTitle'],
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "#",
          text: "Get help with this form"
        },
        {
          href: "#",
          text: "Privacy"
        },
        {
          href: "https://www.forms.service.gov.uk/accessibility/",
          text: "Accessibility"
        },
        {
          href: "#",
          text: "Cookies"
        }
      ]
    }
  }) }}
{% endblock %}
