{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    productName: "Forms",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "govuk-header__navigation--end",
    navigation: [
    {
      href: "/form-designer/signon/dashboard",
      text: "Firstname Lastname"
    },
    {
      href: "/form-designer/signon/sign-in",
      text: "Sign out"
    }
  ],
  useTudorCrown: true
  }) }}
{% endblock %}

{% if (GOVUKPrototypeKit.isDevelopment) %}
  {% set formsFooterItems = [
    {
      href: "/manage-prototype",
      text: "Manage your prototype"
    },
    {
      href: "/prototype-admin/show-data",
      text: "Show data"
    },
    {
      href: "/manage-prototype/clear-data",
      text: "Clear data"
    },
    {
      href: "/form-designer/returning",
      text: "Restore default form data"
    }
  ] %}
{% else %}
  {% set formsFooterItems = [
    {
      href: "/manage-prototype/clear-data",
      text: "Clear data"
    },
    {
      href: "/form-designer/returning",
      text: "Restore default form data"
    }
  ] %}
{% endif %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: formsFooterItems
    }
  }) }}
{% endblock %}
