{% extends "layout-govuk-form-preview.html" %}
{% set mainClasses = "main--draft govuk-main-wrapper--auto-spacing" %}

{% block pageTitle %}
  {{ data['checkAnswersTitle'] }} - Preview - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="{{ data['pages'] | length - 1 }}">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-l">
    {{ data['checkAnswersTitle'] }} <span class="govuk-visually-hidden">preview</span>
  </h1>

  <dl class="govuk-summary-list">
    {% for page in data.pages -%}

      {% set questionTitle = page["long-title"] or "Page " + page["pageIndex"] %}
      {% if page['questionOptional'] == 'questionOptional' %}
      {% set questionTitle = questionTitle + ' (optional)' %}
      {% endif %}

      {% if questionTitle %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <!--Q{{page["pageIndex"] | int + 1}}.--> {{questionTitle}}
        </dt>
        <dd class="govuk-summary-list__value">
          {% if (data[loop.index0]) or (data[loop.index0 + '-year']) or (data[loop.index0 + '-address-street-address']) or (data[loop.index0 + '-address-line-1']) or (data[loop.index0 + '-address-postcode']) or (data[loop.index0 + '-full-name']) or (data[loop.index0 + '-first-name']) %}
            {% if page['type'] == 'personName' %}
              {% if (page['title'] === 'yes') and (data[loop.index0 + '-name-title']) %}{{data[loop.index0 + '-name-title']}}{% endif %}
              {% if page['input'] === 'single-field' %}
                {{data[loop.index0 + '-full-name']}}
              {% else %}
                {{data[loop.index0 + '-first-name']}}
                {% if data[loop.index0 + '-middle-names'] %}{{data[loop.index0 + '-middle-names']}}{% endif %}
                {{data[loop.index0 + '-last-name']}}
              {% endif %}
            {% elif page['type'] == 'date' -%}
              {% if (data[loop.index0 + '-day']) %}{{data[loop.index0 + '-day']}}/{% endif %}{% if (data[loop.index0 + '-month']) %}{{data[loop.index0 + '-month']}}{% if (data[loop.index0 + '-year']) %}/{% endif %}{% endif %}{% if (data[loop.index0 + '-year']) %}{{data[loop.index0 + '-year']}}{% endif %}
            {%- elif page['type'] == 'address' %}
              {% if ('uk-address' in page['input']) and not ('international-address' in page['input']) %}
                {{data[loop.index0 + '-address-line-1']}}<br>
                {% if data[loop.index0 + '-address-line-2'] %}{{data[loop.index0 + '-address-line-2']}}<br>{% endif %}
                {{data[loop.index0 + '-address-town']}}<br>
                {{data[loop.index0 + '-address-postcode']}}
              {% else %}
                {{data[loop.index0 + '-address-street-address'] | replace(",","") | replace(".","") | nl2br | safe}}<br>
                {% if data[loop.index0 + '-address-country-name'] %}{{data[loop.index0 + '-address-country-name']}}{% endif %}
              {% endif %}
            {% elif page['type'] == 'select' and not page['listSettings'].includes('oneOption') %}
              {{data[loop.index0]|join(", ") if data[loop.index0]}}
            {% else %}
              {{data[loop.index0]}}
            {% endif %}
          {% else %}
            Not completed
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="{{loop.index0}}?cya=true">
              Change <span class="govuk-visually-hidden">{{questionTitle}}<span>
            </a>
        </dd>
      </div>
      {% endif %}

    {%- endfor %}

  </dl>

    {% if data['checkAnswersDeclaration'] %}
    <h2 class="govuk-heading-m">Declaration</h2>

    <div class="app-prose-scope">
    {% markdown %}
      {{ data['checkAnswersDeclaration'] | striptags(true) | escape | nl2br }}
    {% endmarkdown %}
    </div>

    {% endif %}

    {% if data['checkAnswersDeclaration'] %}
      {% set buttonText = 'Agree and submit' %}
    {% else %}
      {% set buttonText = 'Submit' %}
    {% endif %}
    {{ govukButton({
      text: buttonText,
      href: "confirmation",
      attributes: {
        target: "_parent"
      }
    }) }}
  </div>
</div>
{% endblock %}
