{% extends "layout-govuk-form-preview.html" %}
{% set mainClasses = "main--draft govuk-main-wrapper--auto-spacing" %}

{% block pageTitle %}
  {{ data['checkAnswersTitle'] }} - Preview - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Draft preview",
      classes: "govuk-tag--yellow"
    },
    html: 'You’re previewing the draft of this form'
  }) }}
  {% if data.referer and ('add-another' in data.referer) %}
  <a class="govuk-back-link" href="add-another?cya=true">Back</a>
  {% else %}
  <a class="govuk-back-link" href="{{ data['pages'] | length - 1 }}">Back</a>
  {% endif %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% set previewHTML %}
      <p class="govuk-notification-banner__heading">
        This is a preview of this form. Do not enter personal information.
      </p>
    {% endset %}

    {{ govukNotificationBanner({
      html: previewHTML
    }) }}

    <h1 class="govuk-heading-l">
      {{ data['checkAnswersTitle'] }} <span class="govuk-visually-hidden">preview</span>
    </h1>

    <dl class="govuk-summary-list">
      {% set repeatLoop = false %}
      {% set startLoop = false %}
      {% for page in data.pages -%}
        {% for temp in data.tempPages -%}
          {% if page['long-title'] in temp['long-title'] %}
            {% set repeatLoop = true %}
          {% endif %}
          {% if loop.first %}
            {% set startLoop = temp %}
          {% endif %}
        {%- endfor %}

        {% set questionTitle = page["long-title"] or "Page " + page["pageIndex"] %}
        {% if page['questionOptional'] == 'questionOptional' %}
        {% set questionTitle = questionTitle + ' (optional)' %}
        {% endif %}

        {% if repeatLoop === true %}

          {% set index = page['pageIndex'] %}
          {% if questionTitle %}
            <div class="govuk-summary-list__row app-summary-list--no-border">
              <dt class="govuk-summary-list__key">
                1. {{ questionTitle }}
              </dt>
              <dd class="govuk-summary-list__value">
                {% if (data[index]) or (data[index + '-year']) or (data[index + '-address-street-address']) or (data[index + '-address-line-1']) or (data[index + '-address-postcode']) or (data[index + '-full-name']) or (data[index + '-first-name']) %}
                  {% if page['type'] == 'personName' %}
                    {% if (page['title'] === 'yes') and (data[index + '-name-title']) %}{{data[index + '-name-title']}}{% endif %}
                    {% if page['input'] === 'single-field' %}
                      {{data[index + '-full-name']}}
                    {% else %}
                      {{data[index + '-first-name']}}
                      {% if data[index + '-middle-names'] %}{{data[index + '-middle-names']}}{% endif %}
                      {{data[index + '-last-name']}}
                    {% endif %}
                  {% elif page['type'] == 'date' -%}
                    {% if (data[index + '-day']) %}{{data[index + '-day']}}/{% endif %}{% if (data[index + '-month']) %}{{data[index + '-month']}}{% if (data[index + '-year']) %}/{% endif %}{% endif %}{% if (data[index + '-year']) %}{{data[index + '-year']}}{% endif %}
                  {%- elif page['type'] == 'address' %}
                    {% if ('uk-address' in page['input']) and not ('international-address' in page['input']) %}
                      {{data[index + '-address-line-1']}}<br>
                      {% if data[index + '-address-line-2'] %}{{data[index + '-address-line-2']}}<br>{% endif %}
                      {{data[index + '-address-town']}}<br>
                      {{data[index + '-address-postcode']}}
                    {% else %}
                      {{data[index + '-address-street-address'] | replace(",","") | replace(".","") | nl2br | safe}}<br>
                      {% if data[index + '-address-country-name'] %}{{data[index + '-address-country-name']}}{% endif %}
                    {% endif %}
                  {% elif page['type'] == 'select' and not page['listSettings'].includes('oneOption') %}
                    {{data[index]|join(", ") if data[index]}}
                  {% else %}
                    {{data[index]}}
                  {% endif %}
                {% else %}
                  Not completed
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
              {% if index == startLoop['pageIndex'] %}
                <a class="govuk-link govuk-link--no-visited-state" href="add-another">
                  Change <span class="govuk-visually-hidden">{{questionTitle}}<span>
                </a>
              {% endif %}
              </dd>
            </div>
          {% endif %}

        {% else %}

          {% if questionTitle %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <!--Q{{page["pageIndex"] | int + 1}}.--> {{questionTitle}}
            </dt>
            <dd class="govuk-summary-list__value">
              {% if (data[loop.index0]) or (data[loop.index0 + '-year']) or (data[loop.index0 + '-address-street-address']) or (data[loop.index0 + '-address-line-1']) or (data[loop.index0 + '-address-postcode']) or (data[loop.index0 + '-full-name']) or (data[loop.index0 + '-first-name']) %}
                {% if page['type'] == 'personName' %}
                  {% if (page['title'] === 'yes') and (data[loop.index0 + '-name-title']) %}{{data[loop.index0 + '-name-title']}}{% endif %}
                  {% if page['input'] === 'single-field' %}
                    {{data[loop.index0 + '-full-name']}}
                  {% else %}
                    {{data[loop.index0 + '-first-name']}}
                    {% if data[loop.index0 + '-middle-names'] %}{{data[loop.index0 + '-middle-names']}}{% endif %}
                    {{data[loop.index0 + '-last-name']}}
                  {% endif %}
                {% elif page['type'] == 'date' -%}
                  {% if (data[loop.index0 + '-day']) %}{{data[loop.index0 + '-day']}}/{% endif %}{% if (data[loop.index0 + '-month']) %}{{data[loop.index0 + '-month']}}{% if (data[loop.index0 + '-year']) %}/{% endif %}{% endif %}{% if (data[loop.index0 + '-year']) %}{{data[loop.index0 + '-year']}}{% endif %}
                {%- elif page['type'] == 'address' %}
                  {% if ('uk-address' in page['input']) and not ('international-address' in page['input']) %}
                    {{data[loop.index0 + '-address-line-1']}}<br>
                    {% if data[loop.index0 + '-address-line-2'] %}{{data[loop.index0 + '-address-line-2']}}<br>{% endif %}
                    {{data[loop.index0 + '-address-town']}}<br>
                    {{data[loop.index0 + '-address-postcode']}}
                  {% else %}
                    {{data[loop.index0 + '-address-street-address'] | replace(",","") | replace(".","") | nl2br | safe}}<br>
                    {% if data[loop.index0 + '-address-country-name'] %}{{data[loop.index0 + '-address-country-name']}}{% endif %}
                  {% endif %}
                {% elif page['type'] == 'select' and not page['listSettings'].includes('oneOption') %}
                  {{data[loop.index0]|join(", ") if data[loop.index0]}}
                {% else %}
                  {{data[loop.index0]}}
                {% endif %}
              {% else %}
                Not completed
              {% endif %}
            </dd>
              <dd class="govuk-summary-list__actions">
                  <a class="govuk-link govuk-link--no-visited-state" href="{{loop.index0}}?cya=true">
                    Change <span class="govuk-visually-hidden">{{questionTitle}}<span>
                  </a>
              </dd>
          </div>
          {% endif %}

        {% endif %}
      {%- endfor %}

    </dl>

    {% if data['checkAnswersDeclaration'] %}
    <h2 class="govuk-heading-m">Declaration</h2>

    <div class="app-prose-scope">
    {% markdown %}
      {{ data['checkAnswersDeclaration'] | striptags(true) | escape | nl2br }}
    {% endmarkdown %}
    </div>

    {% endif %}

    {% if data['checkAnswersDeclaration'] %}
      {% set buttonText = 'Agree and submit' %}
    {% else %}
      {% set buttonText = 'Submit' %}
    {% endif %}
    {{ govukButton({
      text: buttonText,
      href: "confirmation",
      attributes: {
        target: "_parent"
      }
    }) }}
  </div>
</div>
{% endblock %}
