{% extends "layout-govuk-form-preview.html" %}
{% set mainClasses = "main--draft govuk-main-wrapper--auto-spacing" %}

{% block pageTitle %}
  {{ data['confirmationTitle'] }} - Preview - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Draft preview",
      classes: "govuk-tag--yellow"
    },
    html: 'You’re previewing the draft of this form'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% set previewHTML %}
      <p class="govuk-notification-banner__heading">
        This is a preview of this form. Do not enter personal information.
      </p>
    {% endset %}

    {{ govukNotificationBanner({
      html: previewHTML
    }) }}

    {% set titleHTML %}
      {% if data.paymentLink %}
      You still need to pay
      {% else %}
      {{ data['confirmationTitle'] }}
      {% endif %}
      <span class="govuk-visually-hidden"> preview</span>
    {% endset %}

    {% set referenceNumber = 'HDJ2123F' %}

    {% set referenceHTML %}
      Your reference number is<br>
      <strong>{{ referenceNumber }}</strong>
    {% endset %}

    {{ govukPanel({
      titleHtml: titleHTML,
      html: referenceHTML,
      classes: 'app-panel-blue' if data.paymentLink
    }) }}

    {% if data['confirmationNext'] %}
      <h2 class="govuk-heading-m">What happens next</h2>
      <div class="app-prose-scope">
      {% markdown %}
        {{ data['confirmationNext'] | striptags(true) | escape | nl2br }}
      {% endmarkdown %}
      </div>
    {% endif %}

    {% if data.paymentLink %}
      {{ govukButton({
        text: "Continue to pay",
        href: '../payment/payment-link-example?reference=' + referenceNumber,
        attributes: {
          target: "_parent"
        }
      }) }}
    {% endif %}

  </div>
</div>
{% endblock %}
