{% extends "layout-govuk-form-welsh-preview.html" %}
{% set mainClasses = "main--draft govuk-main-wrapper--auto-spacing" %}

{% if data.paymentLink %}
{% set pageTitle = "Mae angen i chi dalu o hyd" %}
{% else %}
{% set pageTitle = "Mae eich ffurflen wedi'i chyflwyno" %}
{% endif %}


{% block pageTitle %}
  {{ pageTitle }} - Preview - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set titleHTML %}
      {{ pageTitle }} <span class="govuk-visually-hidden"> preview</span>
    {% endset %}

    {% set referenceNumber = 'HDJ2123F' %}

    {% set referenceHTML %}
      Rhif cyfeirnod eich ffurflen yw:<br>
      <strong>{{ referenceNumber }}</strong>
    {% endset %}

    {{ govukPanel({
      titleHtml: titleHTML,
      html: referenceHTML,
      classes: 'app-panel-blue' if data.paymentLink
    }) }}

    <p class="govuk-body">
      Rydym wedi anfon e-bost cadarnhau atoch.
    </p>

    {% if data['confirmationNext'] %}
      <h2 class="govuk-heading-m">Beth sy'n digwydd nesaf?</h2>
      <div class="app-prose-scope">
      {% markdown %}
        {{ data.welshConfirmationNext or data.confirmationNext | striptags(true) | escape | nl2br }}
      {% endmarkdown %}
      </div>
    {% endif %}

    {% if data.paymentLink %}
      {{ govukButton({
        text: "Parhau i dalu",
        href: '../payment/payment-link-example?reference=' + referenceNumber,
        attributes: {
          target: "_parent"
        }
      }) }}
    {% endif %}

  </div>
</div>
{% endblock %}
