{% extends "layout-govuk-form-preview.html" %}
{% set mainClasses = "main--draft govuk-main-wrapper--auto-spacing" %}

{% set pageName = 'You have added ' + pageId | length | plural("answer") %}

{% set timesAnswer = 0 %}
{% set answer -%}
{% for page in data.pages -%}
  {% if page.pageIndex == pageId %}
    {% if (data[loop.index0]) or (data[loop.index0 + '-year']) or (data[loop.index0 + '-address-street-address']) or (data[loop.index0 + '-address-line-1']) or (data[loop.index0 + '-address-postcode']) or (data[loop.index0 + '-full-name']) or (data[loop.index0 + '-first-name']) %}
      {% if page['type'] == 'personName' %}
        {% if (page['title'] === 'yes') and (data[loop.index0 + '-name-title']) %}{{data[loop.index0 + '-name-title']}}{% endif %}
        {% if page['input'] === 'single-field' %}
          {{data[loop.index0 + '-full-name']}}
        {% else %}
          {{data[loop.index0 + '-first-name']}}
          {% if data[loop.index0 + '-middle-names'] %}{{data[loop.index0 + '-middle-names']}}{% endif %}
          {{data[loop.index0 + '-last-name']}}
        {% endif %}
      {% elif page['type'] == 'date' -%}
        {% if (data[loop.index0 + '-day']) %}{{data[loop.index0 + '-day']}}/{% endif %}{% if (data[loop.index0 + '-month']) %}{{data[loop.index0 + '-month']}}{% if (data[loop.index0 + '-year']) %}/{% endif %}{% endif %}{% if (data[loop.index0 + '-year']) %}{{data[loop.index0 + '-year']}}{% endif %}
      {%- elif page['type'] == 'address' %}
        {% if ('uk-address' in page['input']) and not ('international-address' in page['input']) %}
          {{data[loop.index0 + '-address-line-1']}}<br>
          {% if data[loop.index0 + '-address-line-2'] %}{{data[loop.index0 + '-address-line-2']}}<br>{% endif %}
          {{data[loop.index0 + '-address-town']}}<br>
          {{data[loop.index0 + '-address-postcode']}}
        {% else %}
          {{data[loop.index0 + '-address-street-address'] | replace(",","") | replace(".","") | nl2br | safe}}<br>
          {% if data[loop.index0 + '-address-country-name'] %}{{data[loop.index0 + '-address-country-name']}}{% endif %}
        {% endif %}
      {% elif page['type'] == 'select' and not page['listSettings'].includes('oneOption') %}
        {{data[loop.index0]|join(", ") if data[loop.index0]}}
      {% else %}
        {{data[loop.index0]}}
      {% endif %}
    {% else %}
      Not completed
    {% endif %}

    {% set timesAnswer = loop.index %}
  {% endif%}
{%- endfor %}
{%- endset %}

{% block beforeContent %}
  {% set prevPageId = pageId | int - 1 %}
  {% if data.cya %}
    <a class="govuk-back-link" href="check-answers">Back</a>
  {% elif prevPageId >= 0 %}
    <a class="govuk-back-link" href="javascript:history.back()">Back</a>
  {% endif %}
{% endblock %}

{% block pageTitle %}
  {{ pageName }} - Preview - {{ data.formTitle or '[formTitle]' }} - GOV.UK
{% endblock %}

{% block content %}
  {% set nextPageId = pageId | int + 1 %}
  {% set isLastQuestionPage = pageId == data['highestPageId'] %}
  {% set formAction = "../check-answers-page-preview-new-tab" if isLastQuestionPage else nextPageId %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post" novalidate>
        <h1 class="govuk-heading-l">{{ pageName }}</h1>

        {% if pageData.minLoop >= 2 %}
        <p class="govuk-body">
          You need to give at least {{ minLoop }} answers.
        </p>
        {% endif %}

        <dl class="govuk-summary-list">
          {% for page in data.pages -%}
            {% if page.pageIndex == pageId %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  {{ loop.index }}
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ answer }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link govuk-link--no-visited-state" href="../{{ pageId }}">
                    Change <span class="govuk-visually-hidden">{{ loop.index }}. {{ answer }}<span>
                  </a>
                </dd>
              </div>
            {% endif %}
          {% endfor %}
        </dl>

        <p class="govuk-body">
          You have added {{ timesAnswer | plural("answer") }} of a maximum {{ pageData.maxLoop }}.
        </p>

        {% if timesAnswer == pageData.maxLoop %}
        {{ govukInsetText({
          text: "You cannot add anymore as you have entered the maximum of " + pageData.maxLoop + '.'
        }) }}
        {% else %}
        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "addAnother",
          fieldset: {
            legend: {
              text: "Do you need to add another answer?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        {% endif %}

        {{ govukButton({
          text: "Continue",
          attributes: {
            target: "_parent"
          }
        }) }}

        {% if data['supportDetails'] %}
          {% set supportTextHtml %}
          <div class="app-prose-scope">
            {% if 'email' in data['supportDetails'] -%}
            <h3 class="govuk-heading-s">Email</h3>
            <p class="govuk-body">
              <a class="govuk-link" href="mailto:{{data['emailSupport'] or 'support@department.gov.uk' | safe}}">{{data['emailSupport'] or 'support@department.gov.uk' | safe}}</a>
            </p>
            {%- endif %}
            {% if 'phone' in data['supportDetails'] -%}
            <h3 class="govuk-heading-s">Phone</h3>
            <p class="govuk-body">{{data['phoneSupport'] | striptags(true) | escape | nl2br }}</p>
            <p class="govuk-body">
              <a class="govuk-link" href="https://www.gov.uk/call-charges" target="_blank">Find out about call charges</a>
            </p>
            {%- endif %}
            {% if 'online' in data['supportDetails'] -%}
            <h3 class="govuk-heading-s">Online</h3>
            <p class="govuk-body">
              <a class="govuk-link" href="{{data['onlineSupportLink']}}" target="_blank">{{data['onlineSupportText'] | safe}} (opens in new tab)</a>
            </p>
            {%- endif %}
          </div>
          {% endset -%}

          {{ govukDetails({
            summaryText: "Get help with this form",
            html: supportTextHtml
          }) }}
        {% endif %}

      </form>
    </div>
  </div>
{% endblock %}
